<div class="follow-us-icons">
    <div data-placement="left" data-toggle="tooltip" title="Follow us on Facebook">
        <a href="//facebook.com/piart.community" target="_blank">
            <i class="fab fa-facebook-square fa-2x "></i>
        </a>
    </div>
    <div data-placement="left" data-toggle="tooltip" title="Follow us on Pinterest">
        <a href="//www.pinterest.com/photoimaginart/pins/" target="_blank">
            <i class="fab fa-pinterest-square fa-2x"></i>
        </a>
    </div>
    <div data-placement="left" data-toggle="tooltip" title="Follow us on Twitter">
        <a href="//twitter.com/photoimaginart" target="_blank">
            <i class="fab fa-twitter-square fa-2x"></i>
        </a>
    </div>
    <div data-placement="left" data-offset="2" data-toggle="tooltip" title="Follow us on Instagram">
        <a href="//instagram.com/photo_imaginart" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
    </div>
</div>