{% if app.user and app.user.isVerified == false and app.request.get('_route') == 'web_popular' %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger confirm-email-notification">
                <span class="text-uppercase">You need to confirm your email address.</span><br>
                Check your email <b>inbox</b>.
                If you can't find the verification email, check your <b>spam/junk</b> box,
                <a class="text-white" href="{{ path('web_resend_confirmation') }}">Re-Send</a> it
                or <a class="text-white" href="{{ path('web_contacts') }}">Contact us</a>.
            </div>
        </div>
    </div>
</div>
{% endif %}
