{% if (app.user and app.user.acceptPolicies is null)
    or (app.user is null and app.request.cookies.get('cookies') is null) %}

    <div class="cookies">
        <span>We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span>
        <button class="btn btn-info btn-sm ml-3" id="accept-cookies">Accept</button>
    </div>

    <script>
        $(document).ready(function () {
            $('#accept-cookies').click(function () {
                $('.cookies').remove();
                $.ajax({
                    url: '/api/accept-cookies'
                });
            })
        })
    </script>

{% endif %}