<div class="modal fade" id="copyright-notice"
     style="padding-right: 0 !important;z-index: 10000"
     tabindex="-100" role="dialog" aria-labelledby="copyrightNotice" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <strong class="modal-title" id="copyrightNotice">Copyright Notice</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Photos on this website are subject to copyrights!</strong>
            </div>
            <div class="modal-footer text-left">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>