<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
{{ encore_entry_link_tags('app') }}

