<footer class="footer mt-auto py-3 border-top container">
    <div class="container">
        <div class="row">
           <div class="col-12">
               <a href="{{ path('contact_us') }}" class="btn btn-link">Contact us</a>
           </div>
        </div>
    </div>
</footer>
