{% set title = seo is defined ? seo.title : 'default.title' | trans %}
{% set description = seo is defined ? seo.description : 'default.description' | trans %}
{% set image = seo is defined ? seo.image : app.request.getSchemeAndHttpHost() ~ asset(site_social_default_image) %}
{% set imageWidth = seo is defined ? seo.imageWidth : site_social_default_image_width %}
{% set imageHeight = seo is defined ? seo.imageHeight : site_social_default_image_height %}
{% set creator = seo is defined ? seo.creator : 'default.creator' | trans %}
{% set createdAt = seo is defined ? seo.createdAt : 'now' %}
{% set tags = seo is defined ? seo.tags : '' %}

<meta name="description" content="{{ site_name }}"/>
<!-- Schema.org markup for Google -->
<meta itemprop="name" content="{{ title }}">
<meta itemprop="description" content="{{ description }}">
<meta itemprop="image" content="{{ image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:creator" content="{{ creator }}">
<meta name="twitter:image" content="{{ image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="{{ app.request.uri ?? site_url }}"/>
<meta property="og:image" content="{{ image }}"/>
<meta property="og:image:width" content="{{ imageWidth }}"/>
<meta property="og:image:height" content="{{ imageHeight }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:site_name" content="{{ site_name }}"/>
<meta property="article:published_time" content="{{ createdAt }}"/>
<meta property="article:section" content="Article Section"/>
<meta property="article:tag" content="{{ tags }}"/>
<meta property="fb:app_id" content="2360993147521648"/>

<!-- Canonical -->
<link rel="canonical" href="{{ app.request.uri ?? site_url }}"/>
<base href="/">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#375a7f">

<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#375a7f">

<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#375a7f">
