{% for message in app.flashes('toast') %}

    {% set data = message | json_decode %}


    {% if data is not null %}
        <script>
            iziToast.show({
                theme: '',
                color: '{{ data.color ?? '' }}',
                icon: '{{ data.icon ?? 'far fa-image' }}',
                image: '{{ data.image ?? '' }}',
                message: '{{ data.message }}',
                position: '{{ data.position ?? 'bottomLeft' }}', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
                progressBarColor: '#548fc9'
            });
        </script>
    {% endif %}

{% endfor %}
