
<div class="text-center center flex-column">
    <h3 class="text-danger">
        You have to be verified before you can upload photo.
    </h3>

    <a href="{{ path('web_resend_confirmation') }}" class="btn btn-blue">Resent confirmation email</a>
</div>
