{% macro warning(modal_id = 'warning-modal',
                        form_id = 'warning-form',
                        btn_class = 'warning-action',
                        header = 'Confirm!',
                        message = 'Are you sure you want to take this action?',
                        yes = 'Yes',
                        no = 'No') %}

    <div class="modal" tabindex="-1" role="dialog" id="{{ modal_id }}">

        <div class="modal-dialog" role="document">

            <form method="post" id="{{ form_id }}">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title">{{ header }}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true">&times;</span>

                        </button>

                    </div>

                    <div class="modal-body">

                        <p>{{ message }}</p>

                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-primary">{{ yes }}</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ no }}</button>

                    </div>

                </div>

            </form>

        </div>

    </div>

    {% block js %}
        <script>

            $(function () {
                $(document).on('click', '.{{ btn_class }}', function () {
                    $('#{{ modal_id }}').modal('show');
                    $('#{{ form_id }}').prop('action', $(this).data('url'));
                })
            })

        </script>

    {% endblock %}

{% endmacro %}
