html, body {
  font-family: "Open Sans", sans-serif !important;
  background: $primary-bg !important;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $gray-text !important;

  &:active {
    color: #ffffff !important;
  }

  &:hover {
    color: #ffffff !important;
  }
}

a.text-primary {
  color: $gray-text !important;

  &:hover {
    color: #ffffff !important;
  }
}

.bg-primary .navbar-nav .active > .nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.filters {
  color: #547ca8;

  input,
  select {
    background: $input-bg;

    &:focus {
      background: $input-focus-bg !important;
    }
  }

  select,
  input {
    color: #999999 !important;
  }

  .categories li label {
    color: $gray-text !important;
    text-transform: uppercase;
    margin: .5rem;
  }
}

.btn-blue {
  color: $gray-text !important;
  background: $nav-bg !important;
}

.photo-comment-box {
  color: #999999 !important;
  background: $input-bg !important;
}

ul.photo-categories-list .nav-link {
  padding: .5rem !important;
  text-transform: uppercase;
  color: $gray-text !important;
}

.filters .categories li label:hover,
ul.photo-categories-list .nav-link:hover {
  color: #fff !important;
}

.photos {
  margin-top: 10px !important;

  .mb-5 {
    margin-bottom: 10px !important;
  }

  hr {
    border-top: 1px solid #4f4f4f !important;
  }

  .nav-link {
    text-transform: uppercase;
    margin: .5rem !important;
    color: #f2f2f2 !important;
  }

  .categories-infinite .nav-link {
    text-transform: uppercase;
    margin: .5rem !important;
    padding: 0 !important;
    color: #f2f2f2 !important;
  }
}

.search-box input[type="text"] {
  color: #ffffff !important;
}

.search-box input[type="text"]::placeholder {
  color: $gray-text !important;
}

// bottom bar
.options {
  background: #050405 !important;
  color: darkgray !important;

  button {
    color: darkgray !important;
  }

  .btn-cart {
    color: $green !important;
  }
}

.btn-printstore {
  background: transparent !important;
  color: $green !important;
  border: none !important;

  &:hover, &:focus, &:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

// top bar
.photo-preview {
  background: #050405 !important;
  color: darkgray !important;

  button {
    color: darkgray !important;
  }
}

.main-nav-links {
  text-transform: uppercase;
}

// comments and metadata in single page
.photo-meta {

  .post-info {
    padding: 0 !important;
    margin: 0 !important;
  }

  .photo-info,
  .photo-comments, .product-options {
    padding: 20px !important;
    background: $secondary-bg !important;

    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    h3, h5 {
      font-size: 1.1rem;
      padding: 0 !important;
      margin: 1rem 0 !important;
    }
  }
}

.photo-page.active .left-image {
  overflow: hidden;
  margin: 0 !important;
}

@media only screen and (min-width: 1200px) {
  .photo-page.active .left-image {
    width: 70% !important;
  }

  .photo-comments,
  .product-options,
  .photo-page.active .right-image,
  .photo-info {
    width: 30% !important;
  }
}

@media only screen and (min-width: 1350px) {
  .photo-page.active .left-image {
    width: 75% !important;
  }

  .photo-comments,
  .product-options,
  .photo-page.active .right-image,
  .photo-info {
    width: 25% !important;
  }
}

@media only screen and (min-width: 1700px) {
  .photo-page.active .left-image {
    width: 80% !important;
  }

  .photo-comments,
  .product-options,
  .photo-page.active .right-image,
  .photo-info {
    width: 20% !important;
  }
}

@include screen-sm {
  .photo-page.active .left-image {
    display: none;
  }

  .photo-info,
  .photo-comments,
  .product-options
  .photo.active .right-image {
    width: 100% !important;
  }
}

.favs-pp,
.comment-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover !important;
}

.liked {
  color: $nav-bg;
}

// Notifications in nav
.notifications-list {
  background: $secondary-bg !important;
  border-radius: 0 0 10px 10px !important;

  hr {
    border-top: 1px solid $primary-bg;
    border-bottom: 1px solid $secondary-bg;
  }
}

.gray-text {
  color: $gray-text !important;

  &:hover {
    color: #ffffff !important;
  }
}

.owner {
  font-size: .8rem;
  padding: 0 !important;
  margin: 5px 0 0 0 !important;
}

.published-icon {
  background: $secondary-bg;
  border-radius: 50%;
  height: 20px;
  margin-top: 10px;
  filter: invert(100%);
}

.published-icon-portfolio {
  position: absolute;
  margin-left: -10px !important;
  margin-top: -10px !important;
  z-index: 200;

}

.bg-secondary {
  background: $alt-bg;
}

.basic-layout {

  .basic-nav {
    .nav-link {
      font-weight: bold;
      text-transform: uppercase;
      margin: .5rem !important;
      color: #f2f2f2 !important;
    }
  }

  .fit-image {
    width: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 1.4em;
    padding: .4rem 0 !important;
    margin: .4rem 0 !important;
  }

  h2 {
    font-size: 1.3em;
    padding: .35rem 0 !important;
    margin: .35rem 0 !important;
  }

  h3 {
    padding: .5rem 0 !important;
    margin: .5rem 0 !important;
  }

  hr {
    border-top: 1px solid $input-bg !important;
  }

  hr.no-gutter {
    margin: .5rem 0;
  }

  .semi-transparent {
    opacity: .7;
  }

  .rounded-corner {
    border-radius: .4rem;
  }

  .avatar-image {
    width: 35px;
    height: 35px;
  }

  .pending {
    background: darkorange;
  }

  .canceled {
    background: indianred;
  }

  .approved {
    background: darkgreen;
  }

  .photo-preview-thumb {
    height: 250px;
  }

  .default-form-layout {
    input,
    select,
    textarea,
    option {
      background: $input-bg !important;
      color: #999999 !important;

      &:focus {
        background: $input-focus-bg !important;
      }
    }


  }

  .image-browse-container {

    .image-thumb-container {
      margin-bottom: 1rem;
      background: $secondary-bg;
      overflow: hidden;

      .image-thumb {
        position: relative;
        overflow: hidden;
        text-align: center;

        .sticker {
          position: absolute;
          right: 0;
          top: 0;
          padding: 0 .5rem;

          border-radius: 0 0 0 .4rem;
        }
      }

      .image-thumb-metadata {
        padding: .5rem;
      }
    }

    img {
      max-height: 200px;
    }
  }

  .pagination {
    .page-link {
      position: relative;
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      background-color: transparent;
      border: 0 solid #346767;
    }

    .page-item {
      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 0;
        transition: 0.1s all ease-out;
      }

      &:hover {
        border-bottom: 3px solid rgba(52, 142, 220, 0.2);
      }

      &.active {
        border-bottom: 3px solid #348edc;
        font-weight: bold;
      }
    }
  }

  input,
  select,
  textarea,
  option {
    background: $input-bg;
    color: $gray-text !important;

    &:focus {
      background: $input-focus-bg !important;
    }
  }
}

.cookies {
  position: fixed;
  bottom: 0;

  line-height: 40px;
  background: $input-bg;
  text-align: center;
  opacity: .95;
  width: 100%;
  z-index: 1001;
  padding: 0 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  color: lightskyblue;
  font-size: 1rem !important;
}

.no-scroll {
  overflow: hidden !important;
}

@media all and (max-width: 1000px) {
  .navbar {
    z-index: 2000;
    height: auto;
  }

}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.search-box input {
  border: none;
  border-radius: 30px;
  background: #eee;
  padding: 5px 20px;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.awarded {
  display: inline-block;
  height: 500px;
  width: 100%;
  margin-top: -18px;
  color: #fff;
  vertical-align: middle;
  background: #aaaaaa;
}

.awarded span {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  margin-top: 200px;
}

.border-right {
  border-right: 1px solid #aaa;
  margin-right: 10px;
  padding-right: 10px;
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-button {
  padding: 10px 40px;
  color: #fff !important;
  background: #348edc;
  border-radius: 30px;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

.custom-active {

  li {

    a {
      border-bottom: 3px solid transparent;
      box-shadow: none !important;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 0;
        background: rgba(52, 142, 220, 0.2);
        transition: 0.1s all ease-out;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &.active {
        border-bottom: 3px solid #348edc;
      }
    }
  }
}

@include screen-sm {
  .custom-nav {
    margin: 0;
    padding: 0;
    width: auto;
    display: block !important;

    li {
      margin: 0;
      display: inline;

      a {
        margin: 0;
      }
    }
  }

  .awarded {
    margin: 0 0 30px 0;
    height: 200px !important;

    span {
      margin-top: 70px !important;
    }
  }
}

.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.custom-input {
  position: relative;

  input, select, textarea {
    border: none;
    background: #eee;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    //box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    outline: none;
    box-sizing: border-box;
  }

  &.white {
    background: #fff;
  }

  textarea {
    resize: none;
    border-radius: 10px;
  }

  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    color: #ff6747;
  }

  label {
    font-size: 16px;
    color: #777777;
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }

  &.select {
    position: relative;

    i {
      position: absolute;
      right: 20px;
      bottom: 15px;
      color: #9A9999;
    }
  }


  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 45px;
    border-radius: 100px;
    position: relative;

    option:disabled {
      color: #777777 !important;
    }


  }

  .caret {
    position: absolute;
    top: 50px;
    margin-top: -10px;
    right: 20px;
    width: 10px;
    height: 10px;
    display: inline-block;
  }
}

.gradient-blue-green {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;;
}

.gradient-dark-light-blue {
  background: linear-gradient(40deg, #45cafc, #303f9f) !important;;
}

.gradient-peach {
  background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.notification-list {
  position: absolute;
  z-index: 99999;
}

button, a {
  outline: none !important;
}

.collapsing-no-animation {
  -webkit-transition: none;
  transition: none;
}

.social-login {
  background: #eee;
  margin-bottom: -8px;

  a {
    text-decoration: none !important;
    font-size: 24px;
    margin: 0 10px;
  }
}

.bg-grey {
  background: #eee !important;
}

.note-editor {
  border-color: $secondary-bg !important;


  .note-toolbar, .note-resizebar, .note-statusbar {
    background: $input-bg !important;

    border-color: $secondary-bg !important;

    button {
      color: $gray-text !important;

      &:hover {
        color: black !important;
      }
    }
  }

  .note-editable {
    background: $input-focus-bg !important;
    border-color: $secondary-bg !important;
    color: #fff !important;
  }

}

.registration-agreement {
  background: $alt-bg;
  padding: .5rem;
}

.followed-green {
  color: black;
}

.divider-vertical {
  border-left: 1px solid gray; /* right or left is the same */
  float: left; /* so BS grid doesn't break */
  opacity: 0.5; /* optional */
  margin: 0 15px; /* optional */
}

.published-stamp {
  font-size: .7rem;
  position: absolute;
  left: 50%;
  margin-left: -40px;
}

.share-btn-main {
  color: lightgray;

  &:hover {
    color: $nav-bg;
  }
}

.share-btn-bar {
  line-height: 0 !important;
}

.share-btn-container {
  background: $alt-bg;
  border: 0 !important;
  padding: 0 !important;
  text-align: center;
  border-radius: 10px;
}

.share-btn-container-bar {
  background: $bar-background;
  min-width: 0;
}

.share-btn {
  padding-left: 0;
  padding-right: 0;
}

.btn-share-facebook {
  color: #3C5A99;
}

.btn-share-twitter {
  color: #1DA1F2;
}

.btn-share-pinterest {
  color: #C8232C;
  opacity: .8;
}

.follow-us-icons {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 1rem 1rem 0;

  div {
    margin-top: .5rem !important;
    padding-left: .2rem;

    i {
      opacity: .5;

      &.fa-facebook-square:hover {
        color: #3b5999;
      }

      &.fa-pinterest-square:hover {
        color: #c8232c;
      }

      &.fa-twitter-square:hover {
        color: #55acee;
      }

      &.fa-instagram:hover {
        color: #e4405f;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.confirm-email-notification {
  font-size: 1.1rem;
  text-align: center;
}

.form-error-list {
  padding: .3em !important;

  ul {
    list-style-type: none;
    padding: 0 !important;
    margin: 0;

    li {
    }
  }
}

.zoom {
  cursor: zoom-in;
}

.pointer {
  cursor: pointer;
}

.center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 .5rem;

  border-radius: 0 0 0 .4rem;
}

.product-details-image {
  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  max-width: 100%;
  border-radius: 2px;
  border: 5px solid #ffffff;
  opacity: .8;
  transition: 0.3s;
}

.video-container {
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }

  position: relative;
  padding: 1rem;
  width: 100%;
  height: 0;
}