@mixin screen-sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin screen-xl {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin screen-xl-up {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin screen-wide {
  @media (min-width: 1800px) {
    @content;
  }
}
