{% extends 'base.html.twig' %}

{% block body %}

    <div class="security-form">

        <div class="container">

            <div class="row">

                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">

                    {# Header #}
                    <div class="row">

                        <div class="col-sm-8 offset-sm-2">

                            <h1 class="security-header">

                                {% block form_title %}{% endblock %}

                            </h1>

                        </div>

                    </div>

                    {# Main #}
                    <div class="security-main basic-layout">

                        {% block form_body %}{% endblock %}

                    </div>


                    {# Footer #}
                    <div class="security-footer text-center">

                        {% block form_footer %}{% endblock %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
