{% set footer = false %}
{% extends 'base.html.twig' %}
{% block title %}Curate{% endblock %}
{% block body %}
    {% if app.user.isVerified == false %}
        {% include '_partials/resent-confirmation.html.twig' %}
    {% else %}
        <div class="curate">
            {% if post %}
                <img src="{{ post.image.small }}" alt="" class="photo-content">
                <div class="actions shadow">
                    {% if settings.type == 1 %}
                        {{ include('vote/yes_no/index.html.twig') }}
                    {% else %}
                        {{ include('vote/rating/index.html.twig') }}
                    {% endif %}
                </div>
            {% else %}
                <h3 style="position:absolute; top:50%;margin-top: -20px" class="text-muted">No more photos to curate</h3>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
