{% if photo_of_the_day is defined and photo_of_the_day is not null %}

    {#    <div class="row" style="margin-bottom: 3rem">#}
    {#        <div class="col-12">#}
    {#            <div class="horizontal-divider"></div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="row">

        <div class="col-12 text-center">

            <div class="photo-of-the-day">

                <a href="{{ path('web_photo_show', {page: 'awarded', id: photo_of_the_day.post.id}) }}">

                    {#                    <div class="label">#}
                    {#                        Photo of the day!#}
                    {#                        <span style="opacity: .65; font-size: .9rem">#}
                    {#                            <span class="d-none d-sm-inline">{{ photo_of_the_day.createdAt|date('d M Y') }}</span></span>#}
                    {#                    </div>#}

                    <img src="{{ photo_of_the_day.post.image.small }}"
                         alt="Photo of the day!">

                    <div class="author">

                        <a href="{{ path('web_profile', {
                            'slug': photo_of_the_day.post.user.slug
                        }) }}">
                            &copy;
                            {{ photo_of_the_day.post.user.profile.first_name }}
                            {{ photo_of_the_day.post.user.profile.last_name }}
                        </a>

                    </div>

                </a>

            </div>

            <div class="social">

                <span class="photo-of-the-day-title">PHOTO OF THE DAY&nbsp;&nbsp;<span class="date">
                        {{ photo_of_the_day.created_at|date('d M Y') }}</span>
                </span>

                <span class="dropright">

                    <button class="btn btn-link share-btn-main dropdown-toggle js-tooltip-item" type="button" id="js-drop-right-share"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Share It!">
                        <i class="fa fa-share-alt"></i>
                    </button>

                    <div class="dropdown-menu ml-3 share-btn-container" aria-labelledby="js-drop-right-share">
                        {{ include('_partials/buttons/_facebook_share.html.twig', {
                            'share_url': url('web_photo_of_the_day', {
                                'id': photo_of_the_day.id,
                                'date': photo_of_the_day.urlized_date,
                            }),
                            'classes': 'pr-2'
                        }) }}

                        {{ include('_partials/buttons/_pinterest_share.html.twig', {
                            'share_url': url('web_photo_of_the_day', {
                                'id': photo_of_the_day.id,
                                'date': photo_of_the_day.urlized_date,
                            }),
                            'media': photo_of_the_day.post.image.social ?? photo_of_the_day.post.image.small,
                            'description': 'Photo of the Day!',
                            'classes': 'pr-2'
                        }) }}

                        {{ include('_partials/buttons/_twitter_share.html.twig', {
                            'share_url': url('web_photo_of_the_day', {
                                'id': photo_of_the_day.id,
                                'date': photo_of_the_day.urlized_date,
                            }),
                        }) }}
                    </div>

                </span>

            </div>

            <hr style="opacity: .2; margin-top: 0" class="no-gutter">

            <!--
            <div class="photo-of-the-day-title" style="text-transform: none">Our best wishes to all PiART
                photographers.<br>
                Merry Christmas!
            </div>
            -->

        </div>

    </div>

    {#    <div class="row mt-5">#}
    {#        <div class="col-12">#}
    {#            <div class="horizontal-divider"></div>#}
    {#        </div>#}
    {#    </div>#}

{% endif %}
