{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block css %}
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    {{ print_poll() }}

    <div class="container photos sm-full photos-infinite">

        {% include 'home/posters.html.twig' %}

        {% include 'home/nav.html.twig' %}

        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            mobile:is_mobile(),
            nude:nude,
            posts:posts.items,
            sizes: sizes(),
            materials: materials(),
            hidden: posts.total != 0,
            auth:auth,
            curator: is_granted('ROLE_CURATOR'),
            page: app.request.attributes.get('page')}}) }}

    </div>

    {{ include('_partials/_social_icons.html.twig') }}

{% endblock %}

{% block js %}
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.share-btn').click(function (e) {
                e.preventDefault();
                window.open($(this).attr('href'), 'fbShareWindow', 'height=400, width=700, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
                return false;
            });
        });
    </script>
{% endblock %}
