<div class="mt-3">
    <ul class="nav justify-content-center custom-active">
        <li class="nav-item">
            <a class="nav-link {{ active('web_popular','_route','active shadow') }}{{ active('photo_of_the_day_history','_route','active shadow') }}"
               href="{{ path('web_popular') }}">
                <strong>Trending</strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ active('web_latest','_route','active shadow') }}" href="{{ path('web_latest') }}">
                <strong>Single</strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ active('web_series','_route','active shadow') }}"
               href="{{ path('web_series') }}">
                <strong>Series</strong>
            </a>
        </li>
    </ul>
</div>
