{% if selection_series is defined and selection_series is not null and photo_of_the_day is defined and photo_of_the_day is not null %}

    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                {% include 'home/award.html.twig' %}
            </div>

            <div class="col-lg-4">
                {% include 'home/selection_series.html.twig' %}
            </div>
        </div>
    </div>

{% elseif photo_of_the_day is defined and photo_of_the_day is not null and video is defined %}

    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                {% include 'home/award.html.twig' %}
            </div>

            <div class="col-lg-4">
                {% include 'home/video.html.twig' %}
            </div>
        </div>
    </div>

{% elseif photo_of_the_day is defined and photo_of_the_day is not null %}

    {% include 'home/award.html.twig' %}

{% else %}

    {% include 'home/selection_series.html.twig' %}

{% endif %}
