{% if selection_series is defined and selection_series is not null %}

    <div class="row">

        <div class="col-12 text-center">

            <div class="photo-of-the-day">

                <a href="{{ path('web_series_show', {'id': selection_series.post.id}) }}">

                    <img src="{{ selection_series.cover }}"
                         alt="Selection Series">

                    <div class="author"></div>
                </a>

            </div>

            <div class="social">
                <span class="photo-of-the-day-title">PiART Selection Series</span>

                <span class="dropright">

                    <button class="btn btn-link share-btn-main dropdown-toggle js-tooltip-item" type="button" id="js-selection-series-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Share it!">
                        <i class="fa fa-share-alt"></i>
                    </button>

                    <div class="dropdown-menu ml-3 share-btn-container" aria-labelledby="js-selection-series-dropdown">

                        {{ include('_partials/buttons/_facebook_share.html.twig', {
                            'share_url': url('series_selection_history', {
                                'id': selection_series.id
                            }),
                            'classes': 'pr-3 pl-3'
                        }) }}

                        {{ include('_partials/buttons/_pinterest_share.html.twig', {
                            'share_url': url('series_selection_history', {
                                'id': selection_series.id
                            }),
                            'media': selection_series.cover,
                            'description': 'Curators Series',
                            'classes': 'pr-2'
                        }) }}

                        {{ include('_partials/buttons/_twitter_share.html.twig', {
                            'share_url': url('series_selection_history', {
                                'id': selection_series.id
                            }),
                        }) }}
                    </div>

                </span>

            </div>

            {% if selection_series.post.description is defined %}
                <p class="quote text-muted mt-2">
                    {{ selection_series.title|raw }}
                </p>
            {% endif %}

            <hr style="opacity: .2; margin-top: 0" class="no-gutter">

        </div>

    </div>

{% endif %}
