{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}

    <div class="container photos sm-full">

        {% include 'home/posters.html.twig' %}

        {% include 'home/nav.html.twig' %}

        {{ react_component('InfiniteSeries',{rendering:'client_side',props:{filter:0,series:series.items,page: 'home'}}) }}

    </div>

{% endblock %}
