
<div class="row">

    <div class="col-12 text-center">

        <div class="video-player">

            <a href="#">

                <video
                        id="my-video"
                        class="video-js vjs-16-9"
                        controls
                        width="640"
                        height="320"
{#                        poster="/videos/{{ video.filename }}.jpg"#}
                        data-setup='{ "controls": true, "autoplay": "muted", "preload": "auto", "loop":true, "responsive": true}'
                >
                    <source src="/videos/{{ video.filename }}" type="video/mp4" />
                    <source src="/videos/{{ video.filename }}.webm" type="video/webm" />
                </video>

                <div class="author"></div>
            </a>

        </div>

        <div class="social">
            <span class="photo-of-the-day-title">Happy Holidays!</span>
        </div>

{#        <p class="quote text-muted mt-2">Merry XMAS</p>#}

        <hr style="opacity: .2; margin-top: 0" class="no-gutter">

    </div>

</div>
