{% extends 'base.html.twig' %}
{% block title %}
    Members by Country
{% endblock %}
{% block body %}
    <div class="container basic-layout">

        <div class="members-nav">
            {{ include('member/nav.html.twig') }}
        </div>

        <div class="row">

            {% for country in countries %}

                <div class="col-md-2 col-sm-3 col-4">

                    <a href="{{ path('members',{page:'by-country',iso: country.0.iso}) }}">
                        <img class="rounded-corner"
                             style="object-fit: contain; width: 100%"
                             src="{{ asset('images/flags/') ~ (country.0.iso | lower) ~ '.svg' }}" alt="">

                        <p class="text-center">
                            {{ country.0.name }}
                        </p>
                    </a>

                </div>

            {% endfor %}

        </div>

        {% if noCountry %}

            <div class="row">

                <div class="col">

                    <hr>

                    <a href="{{ path('members',{page:'by-country'}) }}">Worldwide users</a>

                </div>

            </div>

        {% endif %}

    </div>
{% endblock %}

