{% extends 'base.html.twig' %}
{% block title %}
    Members
{% endblock %}

{% block body %}

    <div class="container basic-layout photos">

        <div class="members-nav">
            {{ include('member/nav.html.twig') }}
        </div>

        <div class="container-fluid">
            {{ react_component('InfiniteUsers',{rendering: 'client_side',props: {users:users,page: app.request.attributes.get('page'),country:app.request.attributes.get('iso')}}) }}
        </div>

    </div>

{% endblock %}
