<ul class="nav justify-content-center custom-active basic-nav">

    <li class="nav-item">
        <a class="nav-link {{ active('alphabetical','page','active shadow') }}" href="{{ path('web_members') }}">
            All Members</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active('founders','page','active shadow') }}"
           href="{{ path('web_members', {page: 'founders'}) }}">
            PiART Founders</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active('following','page','active shadow') }}"
           href="{{ path('web_members',{page:'following'}) }}">Followed</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ active('followers','page','active shadow') }}"
           href="{{ path('web_members',{page:'followers'}) }}">Followers</a>
    </li>

</ul>

<hr>
