{% extends 'security/template.html.twig' %}

{% block title %}Forgotten Password{% endblock %}

{% block form_title %}Reset Password{% endblock %}

{% block form_body %}

    <div class="basic-layout">

        <div class="default-form-layout">

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email,{attr:{class:'form-control'}}) }}

                <div class="text-danger">
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <hr>

            <div class="text-center ml-5 mr-5 mt-3">
                <button class="btn btn-info" type="submit">Reset Password</button>
            </div>

            {{ form_widget(form._token) }}

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block form_footer %}{% endblock %}