{% extends '/security/template.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block form_title %}Restore Access{% endblock %}

{% block form_body %}

    <div class="basic-layout">

        <div class="default-form-layout">

            {{ form_start(form) }}

            <div class="form-group">

                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first,{attr:{class:'form-control'}}) }}

                <div class="text-danger">
                    {{ form_errors(form.password.first) }}
                </div>

            </div>

            <div class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second,{attr:{class:'form-control'}}) }}

                <div class="text-danger">
                    {{ form_errors(form.password.second) }}
                </div>

            </div>

            <hr>

            <div class="text-center ml-5 mr-5 mt-3">
                <button class="btn btn-info" type="submit">Reset Password</button>
            </div>

            {% for flash in app.flashes('notification') %}
                <div class="text-center text-success">
                    {{ flash }}
                </div>
            {% endfor %}

            {{ form_widget(form._token) }}

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block form_footer %}{% endblock %}