<ul class="list-unstyled poll-results">

    <h4 class="h6 text-success font-italic">Thank you for Your vote!</h4>

    {% for choice in poll.choices %}

        <li class="mb-4">

            <div class="mb-2 poll-choice-title">
                {{ choice.title|capitalize }} <span class="text-muted">({{ choice.votes|length }})</span>
            </div>

            {% set val = ((choice.votes|length / total) * 100)|round(2) %}

            <div class="progress" style="height: 1.5rem">
                <div class="progress-bar" role="progressbar"
                     style="width: {{val}}%;"
                     aria-valuenow="{{val}}" aria-valuemin="0" aria-valuemax="100">
                    <span class="ml-3">{{val}}%</span>
                </div>
            </div>

        </li>

    {% endfor %}

</ul>