<div class="container-fluid poll-container">

    <div class="row">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mt-5 mt-sm-2 pt-2 poll-wrapper">

                    <div class="poll-vote p-3 p-md-4 rounded">

                        <div class="d-none d-md-inline">
                            <h1 class="h5">
                                🙋‍♂️ Hey! We have a new poll. Please vote.
                            </h1>

                            <a href="#" class="js-hide-poll close-poll"
                               data-api-url="{{ path('api_poll_hide_for_session', {
                                   'id': poll.id
                               }) }}">
                                <i class="fa fa-times" title="Close"></i></a>

                            <hr>
                        </div>

                        <div class="alert alert-danger" style="display: none" id="js-vote-error">
                            <strong>Error:</strong> <span class="msg"></span>
                        </div>

                        <h2 class="h4">
                            {{ poll.title }}
                        </h2>

                        <a href="#" class="js-hide-poll d-md-none d-inline"
                           data-api-url="{{ path('api_poll_hide_for_session', {
                               'id': poll.id
                           }) }}">
                            <i class="fa fa-times" title="Close"></i> Close
                        </a>

                        <hr class="d-block d-md-none">

                        <p class="text-muted poll-desc">{{ poll.description|raw }}</p>

                        <div class="mb-3">
                            <a href="{{ poll.link }}" target="_blank">
                                <i class="fas fa-comment-dots"></i> Read more (discussion thread)</a>
                        </div>

                        <div class="poll-choices">
                            {{ form_start(form,
                                {'attr':
                                    {'id': 'vote-form', 'data-api-url': path('api_poll_vote') }
                                }
                            ) }}

                            {% for choice in form.choices %}

                                <div class="radio">
                                    {{ form_widget(choice) }}
                                    {{ form_label(choice) }}
                                </div>

                            {% endfor %}


                            <button class="btn btn-primary" type="submit">Vote!</button>
                            <button class="btn btn-link gray-text js-hide-poll"
                                    data-api-url="{{ path('api_poll_hide_for_session', {
                                        'id': poll.id
                                    }) }}">Not now (I will vote later)
                            </button>

                            {{ form_end(form) }}
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>