{% extends 'user/profile/index.html.twig' %}

{% block content %}




    <div class="col-12">

        {% if user.posts | length == 0 %}

            <h3 class="mt-5 mb-5 text-center text-muted">No Photos.</h3>

        {% else %}

            {{ react_component('InfinitePost',{rendering:'client_side',props:{
                nude:nude,
                auth:auth,
                posts:posts.items,
                hidden: posts.total != 0,
                mobile:is_mobile(),
                page: 'favorites'
            }}) }}

        {% endif %}

    </div>


{% endblock %}
