{% extends 'user/profile/index.html.twig' %}

{% block title %}
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}'s
    Followers
{% endblock %}

{% block body %}

        <div class="col-12 members">

            {% if user.followers | length == 0 %}

                <h3 class="text-center text-muted mt-5">
                    No Followers.
                </h3>

            {% else %}

                {{ react_component('InfiniteUsers',{rendering: 'client_side',props: {page: 'followers', user: user.id}}) }}

            {% endif %}

        </div>

{% endblock %}
