{% extends 'user/profile/index.html.twig' %}

{% block content %}

    <div class="col-12">

        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            nude:nude,
            auth:auth,
            posts:posts.items,
            hidden: posts.total != 0,
            mobile:is_mobile(),
            page: 'following'}}) }}

    </div>

{% endblock %}
