<div class="container-fluid profile">

    <div class="row">

        <div class="cover">

            <img src="{{ user.profile.cover ?? asset('images/cover.jpg') }}" alt="Profile Cover">

        </div>

    </div>

</div>

<div class="container basic-layout profile-meta" style="max-width: 1200px">

    <div class="row pb-4">

        <div class="col-lg-2">

            <div class="profile-avatar text-center">

                <div class="circle">

                    <img src="{{ user.profile.picture ?? asset('images/avatar.jpg') }}" alt="Profile Picture">
                </div>

            </div>

        </div>

        <div class="col-lg-10">

            {# Info #}
            <div class="profile-info mt-lg-n5 mt-0 text-center text-lg-left">

                <h1>
                    <strong>
                        {{ user.profile.firstName }} {{ user.profile.lastName }}
                    </strong>
                </h1>

                <div class="mt-3">

                    {% if  user.profile.facebook is not empty %}
                        {% set url = user.profile.facebook | slice(0,4) == 'http' ? user.profile.facebook : 'http://' ~ user.profile.facebook %}
                        <a href="{{ url }}" target="_blank" class="mr-3">
                            <i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
                    {% endif %}
                    {% if  user.profile.instagram is not empty %}
                        {% set url = user.profile.instagram | slice(0,4) == 'http' ? user.profile.instagram : 'http://' ~ user.profile.instagram %}
                        <a href="{{ url }}" target="_blank" class="mr-3">
                            <i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if  user.profile.twitter is not empty %}
                        {% set url = user.profile.twitter | slice(0,4) == 'http' ? user.profile.twitter : 'http://' ~ user.profile.twitter %}
                        <a href="{{ url }}" target="_blank" class="mr-3">
                            <i class="fab fa-twitter" style="color: #38A1F3;"></i></a>
                    {% endif %}
                    {% if  user.profile.website is not empty %}
                        {% set url = user.profile.website | slice(0,4) == 'http' ? user.profile.website : 'http://' ~ user.profile.website %}
                        <a href="{{ url }}" target="_blank" class="mr-3">
                            <i class="fas fa-globe"></i></a>
                    {% endif %}

                    {% if app.user and app.user.id == user.id and config().allowShopping %}
                        <span class="text-muted">
                            <strong>Balance:</strong> {{ (balance(app.user).total is defined ? balance(app.user).total : 0) | number_format(2)  }} &euro;
                        </span>
                        {% if balance(app.user).blocked is defined and  balance(app.user).blocked > 0 %}
                            |
                            <span class="text-muted">
                            <strong>Awaiting payout:</strong> {{ balance(app.user).blocked | number_format(2) }} &euro;
                        </span>
                        {% endif %}
                    {% endif %}

                </div>
            </div>

            {# Actions #}
            <div class="profile-actions mt-3 text-center text-lg-left">

                {# Follow #}
                {% if app.user and app.user.id != user.id %}
                    <div class="circle mr-3">
                        {{ react_component('Follow',{'rendering':'client_side',props:{following: is_following(app.user,user),user: user.id}}) }}
                    </div>
                {% endif %}

                {# Switch #}

                {% if is_granted('ROLE_SUPER_ADMIN') and app.user.id != user.id %}

                    <div class="circle mr-3">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}

                            <a href="{{ path('web_profile', {'_switch_user': '_exit',slug: user.slug}) }}"
                               class="profile-icon"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Exit from switch">
                                <i class="fa fa-random mr-1 ml-1"></i>
                            </a>

                        {% else %}

                            <a href="{{ path('web_profile', {'_switch_user': user.email,slug: user.slug}) }}"
                               class="profile-icon"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               title="Switch to user">
                                <i class="fa fa-random mr-1 ml-1"></i>
                            </a>

                        {% endif %}
                    </div>

                {% endif %}

                {# Messages #}
                {% if app.user %}
                    <div class="circle mr-3">

                        <a href="{{ app.user and app.user.id != user.id ? path('web_messages',{'user': user.id }) : path('web_messages') }}"
                           class="profile-icon" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Messages">
                            <i class="far fa-envelope-open mr-1 ml-1"></i>
                        </a>

                    </div>
                {% endif %}

                {% if app.user and app.user.id == user.id %}

                    {# Payout #}
                    {% if config().allowShopping %}

                        <div class="circle mr-3">

                            <a href="{{ path('web_profile_payout') }}" class="profile-icon" data-toggle="tooltip"
                               data-placement="bottom"
                               title="Request Payout">
                                <i class="fas fa-wallet mr-1 ml-1"></i>
                            </a>

                        </div>

                    {% endif %}

                    {# Settiings #}
                    <div class="circle mr-3">

                        <a href="{{ path('web_profile_edit') }}" class="profile-icon" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Settings">
                            <i class="fas fa-user-edit ml-1"></i>
                        </a>

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

    <div class="row pb-4">

        <div class="col-12">

            {{ include('user/profile/navigation.html.twig') }}

        </div>

    </div>

</div>
