{% extends 'base.html.twig' %}

{% block title %}
    My Profile >
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}
{% endblock %}

{% block body %}

    {{ include('user/profile/header.html.twig') }}

    <div class="container photos">

        <div class="row mt-5">

            {% block content %}{% endblock %}

        </div>

    </div>

{% endblock %}
