{% set stats = account_stats(app.request.get('slug')) %}

<ul class="nav justify-content-center custom-active  flex-column flex-sm-row">

    <li class="nav-item flex-sm-fill text-center">

        <a class="nav-link no-shadow {{ active('web_profile','_route','active shadow') }}"
           href="{{ path('web_profile',{slug: user.slug}) }}">
            Published ({{ stats.published }})</a>

    </li>


    {% if  user_settings(user).is_portfolio_visible == true or app.user and app.user.id == user.id or is_granted('ROLE_CURATOR') %}

        <li class="nav-item flex-sm-fill text-center">

            <a class="nav-link no-shadow {{ active('web_profile_portfolio','_route','active shadow') }}"
               href="{{ path('web_profile_portfolio',{slug: user.slug}) }}">
                Uploaded ({{ stats.portfolio }})</a>

        </li>

    {% endif %}


    <li class="nav-item flex-sm-fill text-center">
        <a class="nav-link no-shadow {{ active('web_profile_products','_route','active shadow') }}"
           href="{{ path('web_profile_products',{slug:user.slug}) }}">
            Prints for Sale ({{ stats.products }})</a>
    </li>


    <li class="nav-item flex-sm-fill text-center">

        <a class="nav-link no-shadow {{ active('web_albums','_route','active shadow') }}"
           href="{{ path('web_albums',{slug: user.slug}) }}">
            Albums ({{ stats.albums }})</a>

    </li>


    {% if app.user and app.user.id == user.id %}

        <li class="nav-item flex-sm-fill text-center">
            <a class="nav-link no-shadow {{ active('web_profile_favorites','_route','active shadow') }}"
               href="{{ path('web_profile_favorites',{slug:user.slug}) }}">
                Favorites ({{ stats.favorites }})</a>
        </li>

        <li class="nav-item flex-sm-fill text-center">
            <a class="nav-link no-shadow {{ active('web_profile_followed','_route','active shadow') }}"
               href="{{ path('web_profile_followed',{slug:user.slug}) }}">
                Followed ({{ stats.followed }})</a>
        </li>

    {% endif %}


</ul>

{% if app.request.get('_route') == 'web_profile'
    or app.request.get('_route') == 'web_profile_portfolio'
    or app.request.get('_route') == 'web_profile_products' %}
    <hr>
    {% if app.request.get('_route') == 'web_profile_products' %}

        <div class="text-center">

            <strong>Share your Print Store!&nbsp;

                {{ include('_partials/buttons/_facebook_share.html.twig', {
                    'share_url': url('web_profile_products', {
                        'slug': user.slug,
                        'type': app.request.get('type')
                    }),
                    'classes': 'pr-2',
                    'icon_classes': ''
                }) }}

                {{ include('_partials/buttons/_pinterest_share.html.twig', {
                    'share_url': url('web_profile_products', {
                        'slug': user.slug,
                        'type': app.request.get('type')
                    }),
                    'media': user.profile.cover ?? '',
                    'description': 'Best Quality Art Prints',
                    'classes': 'pr-2'
                }) }}

                {{ include('_partials/buttons/_twitter_share.html.twig', {
                    'share_url': url('web_profile_products', {
                        'slug': user.slug,
                        'type': app.request.get('type')
                    }),
                }) }}

            </strong>

        </div>

    {% endif %}

    <div class="d-flex justify-content-center">
        <ul class="nav custom-active w-50">
            <li class="nav-item flex-sm-fill text-center">
                <a class="nav-link no-shadow {{ active('single','type','active shadow') }}"
                   href="{{ path(app.request.get('_route'),{slug: user.slug}) }}">
                    Single
                    {% if app.request.get('_route') == 'web_profile' %}
                        ({{ stats.single_published }})
                    {% elseif app.request.get('_route') == 'web_profile_products' %}
                        ({{ stats.products_single }})
                    {% else %}
                        ({{ stats.single_portfolio }})
                    {% endif %}
                </a>

            </li>
            <li class="nav-item flex-sm-fill text-center">

                <a class="nav-link no-shadow {{ active('series','type','active shadow') }}"
                   href="{{ path(app.request.get('_route'),{slug: user.slug,type:'series'}) }}">
                    Series
                    {% if app.request.get('_route') == 'web_profile' %}
                        ({{ stats.series_published }})
                    {% elseif app.request.get('_route') == 'web_profile_products' %}
                        ({{ stats.products_series }})
                    {% else %}
                        ({{ stats.series_portfolio }})
                    {% endif %}
                </a>

            </li>
        </ul>
    </div>

{% endif %}
