{% extends 'user/profile/index.html.twig' %}

{% block body %}
    <div class="container basic-layout">

        <h3>Orders</h3>

        <div class="table-responsive">
            <table class="table shadow rounded ">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Size</th>
                        <th>Media</th>
                        <th>
                            Order Id
                        </th>
                        <th>
                            Transaction Status
                        </th>
                        <th>
                            Track ID
                        </th>
                        <th>Dispatched</th>
                        <th>Invoice</th>
                        <th>
                            Total Amount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                {% for item in order.items %}
                                    {% if item.product.post.type > 1 %}
                                        {% for post in item.product.post.children %}
                                            <img src="{{ post.image.thumbnail }}" alt="Item" class="rounded mb-1"
                                                 width="100px" height="100px" style="object-fit: cover">
                                        {% endfor %}

                                    {% else %}
                                        <img src="{{ item.product.post.image.thumbnail }}" alt="Item" class="rounded"
                                             width="100px" height="100px" style="object-fit: cover"
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for item in order.items %}

                                    {% if item.product.post.type > 1 %}
                                      <div>
                                          {{ item.size.width }}x{{ item.size.height }}
                                      </div>
                                    {% else %}
                                        <div>{{ item.size.width }} x {{ (item.product.post.opposite * item.size.width) | round }}</div>
                                    {% endif %}

                                {% endfor %}
                            </td>
                            <td>
                                {% for item in order.items %}

                                   <div>{{ item.material.name }}</div>

                                {% endfor %}
                            </td>
                            <td>{{ order.token }}</td>
                            <td>
                                {% set status = order.transaction.status %}
                                {% if  status == 1 %}
                                    <span class="text-success"> Paid</span>
                                {% elseif status == 0 %}
                                    Pending
                                {% elseif status == -1 %}
                                    Failed
                                {% elseif status == -2 %}
                                    Canceled
                                {% endif %}
                            </td>
                            <td>{{ order.trackId  ? : 'Not added' }}</td>
                            <td>{{ order.dispatched ? 'Yes' : 'No' }}</td>
                            <td>
                                {% if status == 1 %}
                                    <a href="{{ path('web_invoice',{token: order.invoice.token}) }}" target="_blank">View</a>
                                {% endif %}
                            </td>
                            <td>
                                {{ order.transaction.paymentGross }}
                                &euro;
                            </td>
                        </tr>
                    {% endfor %}

                    {% if orders | length == 0 %}
                        <h1 class="mt-5 pt-5">
                            No orders available
                        </h1>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(orders) }}
        </div>

    </div>
{% endblock %}
