{% extends 'user/profile/index.html.twig' %}

{% block title %}
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}'s
    Portfolio
{% endblock %}

{% block content %}

    <div class="col-12">

        {% if user.posts | length == 0 %}

            <h3 class="mt-5 mb-5 text-center text-muted">No Photos.</h3>

        {% else %}

            {% set stats = account_stats(app.request.get('slug')) %}

            {% if app.request.get('type') == 'single' %}
                {{ react_component('InfinitePost',{rendering:'client_side',props:{
                    mobile:is_mobile(),
                    nude:nude,
                    auth: auth,
                    sizes: sizes(),
                    materials: materials(),
                    curator: is_granted('ROLE_CURATOR'),
                    page: 'portfolio',
                    posts:posts.items,
                    hidden: posts.total != 0,
                    user:user.id}}) }}
            {% else %}
                {{ react_component('InfiniteSeries',{rendering:'client_side',props:{filter:0, series:posts.items,page: 'portfolio', account:user.id}}) }}
            {% endif %}


        {% endif %}

    </div>

{% endblock %}
