{% extends 'user/profile/index.html.twig' %}

{% block content %}




    <div class="col-12">

        {% if user.posts | length == 0 %}

            <h3 class="mt-5 mb-5 text-center text-muted">No Products.</h3>

        {% else %}

            {% set stats = account_stats(app.request.get('slug')) %}

            {% if app.request.get('type') == 'single' %}

                {{ react_component('InfinitePost',{rendering:'client_side',props:{
                    mobile:is_mobile(),
                    nude:nude,
                    auth:auth,
                    more: posts.has_more,
                    page: 'user-store',
                    user: user.id,
                    sizes: sizes(),
                    materials: materials(),
                    posts: posts.items,
                    hidden: posts.total != 0,
                    curator: is_granted('ROLE_CURATOR') }}) }}

            {% else %}
                {{ react_component('InfiniteSeries',{rendering:'client_side',props:{
                    sorting: true,
                    sizes: sizes(),
                    materials: materials(),
                    series:posts.items,
                    page: 'store'}}) }}

            {% endif %}

        {% endif %}

    </div>


{% endblock %}
