{% extends 'user/profile/index.html.twig' %}

{% block title %}
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}'s
    Published Photos
{% endblock %}

{% block content %}

    <div class="col-12">

        {% if app.request.get('type') == 'single' %}
            {{ react_component('InfinitePost',{rendering:'client_side',props:{
                mobile:is_mobile(),
                nude:nude,
                auth: auth,
                sizes: sizes(),
                materials: materials(),
                curator: is_granted('ROLE_CURATOR'),
                page: 'published',
                posts:posts.items,
                hidden: posts.total != 0,
                user:user.id}}) }}

        {% else %}
            {{ react_component('InfiniteSeries',{rendering:'client_side',props:{filter:0, series:posts.items,page: 'published', account:user.id}}) }}

        {% endif %}


    </div>

{% endblock %}
