{% extends 'user/profile/index.html.twig' %}


{% block title %}
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}'s
    Published Series
{% endblock %}

{% block content %}

    <div class="col-12">

        {{ react_component('InfiniteSeries',{rendering:'client_side',props:{filter:0, series:series.items,page: 'account', account:user.id}}) }}

    </div>
{% endblock %}


