{% extends 'template.html.twig' %}

{% block title %}F.A.Q{% endblock %}

{% block header_left %}F.A.Q{% endblock %}

{% block header_right %}
    <span class="text-muted">Last Update: 28 Aug, 2019</span>
{% endblock %}

{% block main_content %}

    <div class="col-md-12">

        <div>
            <h2><strong>Q: What is {{ site_name }}?</strong></h2>

            <p><strong>A: </strong> Do you want to know whether your photos would be posted among photos carefully
                selected by experienced
                professional curators with the highest criteria? All photos posted at the {{ site_name }}'s gallery have
                been carefully selected by a professional
                curatorial team. The curators in the team have many years of experience and world-class standards.
                {{ site_name }} is a curated gallery, which means that the posted photos are only at the highest level,
                which meets the great number of different criteria of the curators.
            </p>
        </div>

        <div>
            <h2><strong>Q: How are my images protected?</strong></h2>

            <p><strong>A:</strong> We took safety precautions because we consider the illegal use of protected images as
                a very serious issue.
            <ul>
                <li>We have prevented the image from being downloaded by dragging or right-clicking.</li>
                <li>All images have a watermark with the author's name.</li>
                <li>The metadata of all images has been removed.</li>
            </ul>
            </p>
        </div>

        <div>
            <h2><strong>Q: How do I add photos to my favourites?</strong></h2>

            <p><strong>A:</strong> Use the heart icon in the toolbar below the photos to add photos to your favorites.
                You can access your favourite photos from:
                <br><code>Click on: "My Profile" in the top toolbar <b>>></b> View <b>>></b> Favourites.</code>
            </p>
        </div>

        <div>
            <h2><strong>Q: How do I follow my favourite photographers?</strong></h2>

            <p><strong>A:</strong> Log in to the author's profile and click on the log image icon, or use the same icon
                in the bottom toolbar of any of the author's photos when open in large size.</p>
        </div>

        <div>
            <h2><strong>Q: How do albums work?</strong></h2>

            <p><strong>A:</strong> With albums, you can organize your photos quickly and easily.
                Just create a new album and click on all the photos you want to add in it.
                You can choose a cover photo for your album.
            </p>
        </div>

        <div>
            <h2><strong>Q: How do I upload photos?</strong></h2>

            <p><strong>A:</strong> <code>Click on: “UPLOAD” button in the upper right corner <b>>></b> select
                    “PHOTO”</code><br>
                You can drag the photo into the blue square or press „Browse“ to select a photo from
                your device. Your photos should be in 8-bit standard sRGB and JPG format.</p>
        </div>

        <div>
            <h2><strong>Q: What are series?</strong></h2>

            <p><strong>A:</strong> The series is a set of 3 to 5 photos that have a common theme and are united by the
                idea the author wants to represent, through concept, composition, or editing, but always on the basis of
                a consistent and common idea.</p>
        </div>

        <div>
            <h2><strong>Q: How do I upload a series of photos?</strong></h2>

            <p><strong>A:</strong> Open the UPLOAD button in the upper right corner and select SERIES. You can drag a
                photo into the blue square or click Browse, to select a photo from your device. The photo uploaded at
                the first position will be the cover of the series. Press plus if you want to add more photos. The
                minimum number of series upload photos is 3 and the maximum is 5.
                The series should be created by photos that are related by theme, idea or story.
            </p>
        </div>

        <div>
            <h2><strong>Q: Can I create a series of photos already posted in {{ site_name }}?</strong></h2>

            <p><strong>A:</strong> Yes, you can. <br>
                <code>Click on: "My Profile" in the upper toolbar <b>>></b> Manage Your: Photos</code><br>
                There is a ‘Create a Series’ button in the upper right corner.
                This button opens the menu for editing a series of already posted photos. If the series is not approved
                by the curatorial team, this does not affect the photos already posted, they remain posted.
            </p>
        </div>

        <div>
            <h2><strong>Q: What are the recommended photo upload sizes?</strong></h2>

            <p><strong>A:</strong> We recommend that you upload your photos in their original size if you want to use
                them to sell prints through {{ site_name }}.
                The photos will automatically be resized to a smaller optimal size when displayed in {{ site_name }} and
                the file with high resolution will not be posted. The photos sent to curators must be at least 1000
                pixels along the long side, but for better viewing, we recommend that you always upload photos of at
                least 1600 pixels on the long side or more.
            </p>
        </div>

        <div>
            <h2><strong>Q: Why don't the colours of the photo in {{ site_name }} match the colours of the photo I
                    uploaded?</strong></h2>

            <p><strong>A:</strong> Remember to always convert the photos to 8-bit standard sRGB saved in JPG format
                before uploading them.</p>
        </div>

        <div>
            <h2><strong>Q: How do I send photos to curators for review in the gallery?</strong></h2>

            <p><strong>A:</strong> <code>Click on: "My Profile" in the upper toolbar <b>>></b> Manage Your: Photos
                    <b>>></b>
                    Send to Curators </code><br>
                By clicking the "Send to Curators" button you send the photo to the curatorial team. Users can send 10
                photos per week for curating.
                If your photo has been approved for publication by the curatorial team, it will be posted in the
                {{ site_name }} gallery within a few days. When a photo is posted, the author will be notified.
            </p>
        </div>

        <div>
            <h2><strong>Q: How does consumer voting work?</strong></h2>

            <p><strong>A:</strong> Clicking on the "VOTE" button in the upper right corner gives you the opportunity to
                vote for the photos that have been sent to the official curatorial team. You can give a 5 point rating
                to each photo, enabling the authors and curators to understand the user rating of the sent photos.
                This vote helps a lot the site development and performance, but it is not decisive whether or not a
                photo will be posted. The final decision is made by the official curatorial team and is not subject to
                discussion.
            </p>
        </div>

        <div>
            <h2><strong>Q: How does curation work?</strong></h2>

            <p><strong>A:</strong> After you send a photo to the curators, it will be assessed by them in terms of idea,
                mood, aesthetics and technical quality.
                The originality and variety of the gallery are very important. The curatorial team will always keep in
                mind the rating of the consumer curation,
                but sometimes it is possible for a high-rated photo to be rejected, because too many photos with a
                similar motive were previously posted on the site; on the contrary, a photo with a very low rating can
                be posted because the curators saw something special in it.
            </p>
        </div>

        {#        <div>#}
        {#            <h2><strong>Q: How does the popularity and users rating system work?</strong></h2>#}

        {#            <p><strong>A:</strong> In order to encourage activity and contribution to {{ site_name }}, we have#}
        {#                introduced a rating system. You get points for posting photos, commenting on other photos, participating#}
        {#                in curation, etc. In the profile against your name you can see the points you have accumulated.</p>#}
        {#        </div>#}

        <div>
            <h2><strong>Q: </strong>How do I know whether my photo has been posted or rejected?</h2>

            <p><strong>A:</strong> <code>Click on: "My Profile" in the upper toolbar <b>>></b> Manage Your:
                    Photos</code><br>
                Each photo has information in the upper right corner concerning its status. The user receives an
                additional notification when his photo is posted.
            </p>
        </div>

        <div>
            <h2><strong>Q: How do I edit information in photos?</strong></h2>

            <p><strong>A:</strong> <code>Click on: "My Profile" in the upper toolbar <b>>></b> Manage Your:
                    Photos</code><br>
                By clicking on the selected photo or on the edit icon, the edit menu opens.</p>
        </div>

        <div>
            <h2><strong>Q: How do I delete a photo?</strong></h2>

            <p><strong>A:</strong> From the "My Profile" in the top toolbar> Manage Your: Photos from the menu that
                opens by
                clicking on the selected photo or on the edit icon. You can only delete photos that have not been posted
                or have not been sent for curation. Posted photos and the ones that are in the process of curation have
                no deletion option.</p>
        </div>

        <div>
            <h2><strong>Q: Do you allow watermark, logo or other tagging on the photos?</strong></h2>

            <p><strong>A:</strong> All photos in {{ site_name }} are automatically tagged by us with your name.
                Uploading
                photos with watermarks or other additional markings is not allowed.</p>
        </div>

        <div>
            <h2><strong>Q: Are photo frames and borders allowed?</strong></h2>

            <p><strong>A:</strong> The photos sent to the curators should not contain any frames or borders because we
                want to keep elegant style in the gallery and the frames sometimes distract. If your photo is diptych or
                triptych, borders are allowed, but please make them as discreet as possible.</p>
        </div>

        <div>
            <h2><strong>Q: Am I allowed to use stock photos from other photographs in my works?</strong></h2>

            <p><strong>A:</strong> All the parts in the photos you send to the curators should consist of photos taken
                by you. You are not allowed to use stock photos in photomontages.</p>
        </div>

        <div>
            <h2><strong>Q: What are the rules for writing comments in {{ site_name }}?</strong></h2>

            <p><strong>A:</strong> Offensive comments or personal attacks can cause your account to be blocked or
                deleted. Remember to always use friendly and polite language when communicating in {{ site_name }}.
                Never write when you are angry. If you have a problem or conflict with another member of the site,
                contact {{ site_name }} Support and we will assist you.</p>
        </div>

        <div>
            <h2><strong>Q: Can I sale my photos at {{ site_name }}?</strong></h2>

            <p><strong>A:</strong> Yes. You can list for sale on our Print store any of your Published photos/series.</p>
        </div>

        <div>
            <h2><strong>Q: How to list my photo(s)/series for sale at {{ site_name }}'s Print Store?</strong></h2>

            <p><strong>A:</strong>
                <code> Click on: "My Profile" in the top toolbar <b>>></b> Manage <b>>></b> Photos/Series <b>>></b> Click on "SALE" button next to each published photo/series.</code>
                You can then manage each of your listed for sale items from <code> "My Profile" <b>>></b> Manage <b>>></b> Products</code>
            </p>
        </div>

        <div>
            <h2><strong>Q: How can I delete my photo(s)/series that are listed for sale at {{ site_name }}'s Print Store?</strong></h2>

            <p><strong>A:</strong>
                <code> Click on: "My Profile" in the top toolbar <b>>></b> Manage <b>>></b> Products <b>>></b> Click on "Remove" button next to each photo/series.</code>
                Important note: Each photo/series that is deleted from the Print Store Gallery will remain visible and available for purchase for "30" days after the deletion date. When the time expires the photo will be permanently removed from the store.
                In the meantime, you will still be paid for each sale that your photo/series generates.
            </p>
        </div>

        <div>
            <h2><strong>Q: How can I delete my account?</strong></h2>

            <p><strong>A:</strong> If you wish no longer to be a member of {{ site_name }} you have the opportunity to
                delete your account. To delete your account, please contact us using this <a
                        href="{{ path('web_contacts') }}">form</a> and will delete your account for you.
                Deleting your account is a final decision and we cannot get it back, so give yourself a few days before
                you decide to do such an action. Be sure to contact the site support first if you have any problems that
                made you proceed with deleting your account. The site team will help you solve the problems.
            </p>
        </div>

        <div>
            <h2><strong>Q: How do I filter nude contents?</strong></h2>

            <p><strong>A:</strong> Enable or disable the nude content filter in your account settings.</p>
        </div>

        <div>
            <h2><strong>Q: How to contact {{ site_name }}?</strong></h2>

            <p><strong>A:</strong> Use the contact form.</p>
        </div>

        <div>
            <h2><strong>Q: How to contact a member of {{ site_name }}?</strong></h2>

            <p><strong>A:</strong> To contact a member of {{ site_name }}, log in to their profile and click on the
                personal message icon.</p>
        </div>

        <div>
            <h2><strong>Q: How do I contact the support?</strong></h2>

            <p><strong>A:</strong> Before contacting the support, please read the FAQ carefully to make sure that your
                question has not been answered.
                You can contact us for any questions or suggestions.
                <br>The contact email is: <strong>{{ site_email }}</strong>
            </p>
        </div>

    </div>

{% endblock %}
