{% extends 'template.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block header_left %}Privacy Policy{% endblock %}

{% block header_right %}
    <span class="text-muted">Last Update: 28 Aug, 2019</span>
{% endblock %}

{% block main_content %}

    <div class="col-md-12">

        <div id="privacy-info-we-collect">
            <h2><strong>Information We Collect</strong></h2>
            <p>We only collect personal information that is relevant to the purpose of our website. This information
                allows us to provide you with a customized and efficient experience. </p>
            <p>We collect Device Information using the following technologies:</p>
            <ul>
                <li>
                    <p>“Cookies”.
                        A cookie is a small piece of information that our web servers send to your browser and that is
                        stored on your computer. Alternatively, cookies may be also written and read from your hard
                        drive by scripts in our pages. Cookies allow to store information about your past interaction
                        with the site. Cookies may be temporary, which are deleted by your browser after you end the
                        session (exit the browser), or permanent, which may be stored in your hard drive for days,
                        months, or even years.
                        We use cookies in several areas of the site and for a number of purposes.
                    </p>
                </li>

                <li>
                    <p>“Log files”.
                        When you go to a web site, web servers log your interaction with the site in something called a
                        log file. Standard log files like ours contain basic information like what time what pages were
                        viewed, and the IP address of the visitor. We use this information to analyze trends, administer
                        the site, track user’s movement, and gather broad demographic information for aggregate use in
                        our server statistical reports. We make no effort to identify IP addresses with individual
                        users. It is our policy to delete log files after a six months period or sooner.
                    </p>
                </li>
            </ul>
            <p>We also collect Member Information as follow:</p>
            <p>When you sign up for a membership at the Site or use our member services that are available to registered
                members (for example, our photo gallery, curation or forum), we may collect certain information from
                you, including your name, email address (or other contact details), country of residence, date of birth,
                profile image, cover image, your biography, the photos you upload on the Site, public comments on photos
                or in our forum, private messages sent to other members through our internal messaging system, curation
                comments about photos, who you are following and who is following you, photos added to favorites and/or
                albums, votes on photos in curation, scores you have earned for activity on the Site, PayPal email
                address, We refer to this information as “Member Information”. </p>
            <p>When we talk about “Personal Information” in this Privacy Policy, we are talking collectively about
                Device Information and Member Information. We collect Personal Information in our “session/database”
                storage.</p>
        </div>

        <div class="mt-5" id="privacy-ho-we-use-info">
            <h2><strong>How We Use Your “Personal Information”</strong></h2>
            <ul>
                <li>
                    <p>For the purposes of communicating with you about the Site and/or the products or services that
                        you have purchased, managing our relationship with you, and keeping records of those
                        communications, we may process Device Information and Member Information. The processing is
                        necessary for the performance of our contract with you and our legitimate interest is to provide
                        you with convenient customer service, properly manage our customer relationships, and properly
                        administer our Site and our business.</p>
                </li>
                <li>
                    <p>For compliance with a legal obligation to which we are subject, we may process Device
                        Information and Member Information. The processing is necessary for us to comply with applicable
                        legislation and our legitimate interest is the protection and assertion of our legal rights,
                        your legal rights, and the legal rights of others.</p>
                </li>
                <li>
                    <p>For the purposes of improving and optimizing our Site (for example, by generating analytics
                        about how our customers browse and interact with our Site, and to assess the success of our
                        marketing and advertising campaigns), we may process Device Information. Our legitimate interest
                        is to analyze and improve our Site, services, and products.</p>
                </li>
                <li>
                    <p>For the establishment, exercise or defense of legal claims, whether in court proceedings or in
                        an administrative or out-of-court procedure, we may process Device Information and Member
                        Information. Our legitimate interest is the protection and assertion of our legal rights, your
                        legal rights, and the legal rights of others.</p>
                </li>
                <li>
                    <p>For the purpose of screening for potential risk or fraud, we may process Device Information
                        Member Information. Our legitimate interest is your security, the security of others and our
                        Site, and to properly administer our Site and our business.</p>
                </li>
                <li>
                    <p>For the purpose of publishing a review that you have written about the Site, we may process
                        information about the name and information that you provided in your review. Our legitimate
                        interest is to inform people about what our customers experienced doing business with us.</p>
                </li>
                <li>
                    <p>For the purpose of sending you relevant notifications or newsletters, we may process Device
                        Information and Member Information. This processing is based on your consent when you subscribed
                        to our newsletter or based on our legitimate interest to send relevant marketing communications
                        to you after you have made a purchase or signed up for a membership at the Site. You can
                        unsubscribe anytime using the opt-out link in the email.</p>
                </li>
                <li>
                    <p>For the purposes of providing our member services, enabling the publication of members’ photos
                        and/or other information that members post for publication on the Site, we may process Member
                        Information. The processing is necessary for the performance of our contracts with our
                        registered members and our legitimate interest is to properly administer our Site and our
                        business.</p>
                </li>
                <li>
                    <p>For the purpose of providing you with targeted advertisements or marketing communications about
                        our products and services, we may process Device Information. Our legitimate interest is to
                        provide you with relevant advertisements or marketing communications we believe may be of
                        interest to you.</p>
                </li>
            </ul>
            <p>Please do not supply any other person's Personal Information to us, unless we prompt you to do so.</p>
        </div>

        <div class="mt-5" id="privacy-sharing-info">
            <h2><strong>Sharing Your Personal Information</strong></h2>
            <p>We share your Personal Information with third parties to help us use Personal Information, as described
                above. To make our marketing communications more relevant, we share Personal Information with marketing
                platforms such as Google and Facebook. We also use Google Analytics to help us understand how our
                customers use the Site. You can read more about how Google uses your Personal Information here:
                https://www.google.com/intl/en/policies/privacy/. You can also opt out of Google Analytics here:
                https://tools.google.com/dlpage/gaoptout.</p>
            <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to
                respond to a subpoena, search warrant or other lawful request for information we receive, or to
                otherwise protect our rights.</p>
        </div>

        <div class="mt-5" id="privacy-do-not-track">
            <h2><strong>Do Not Track</strong></h2>
            <p>Please note that we do not alter our Site’s data collection and use practices when we see a Do Not Track
                signal from your browser. </p>
        </div>

        <div class="mt-5" id="privacy-data-retention">
            <h2><strong>Data Retention</strong></h2>
            <p>Personal Information for any purposes will not be kept for longer than is necessary for those purposes.
                We may maintain Device Information for a maximum period of 3 years and Member Information for a maximum
                period of 10 years unless and until you ask us to delete this information, or as long as required by
                accounting laws, money laundry legislations, or other legal obligations to which we are subject.</p>
        </div>

        <div class="mt-5" id="privacy-rights">
            <h2><strong>Your Rights</strong></h2>
            <p>If you are a European resident, you have the rights to access Personal Information we hold about you and
                to ask that your Personal Information be corrected, updated, deleted, or restricted. You also have the
                rights to object, complain, withdraw consent, and to data portability. Read the relevant laws and
                guidance from the regulatory authorities for a full explanation of these rights. If you would like to
                exercise these rights, please contact us through the contact information below.</p>
            <p>Additionally, if you are a European resident we note that we are processing your information in order to
                fulfill contracts we might have with you, or otherwise to pursue our legitimate interests listed above.
                Additionally, please note that your information will be transferred outside of Europe, including to the
                United States.</p>
        </div>

        <div class="mt-5" id="privacy-updates">
            <h2><strong>Privacy Policy Changes and updates</strong></h2>
            <p>We may amend this Privacy Policy from time to time, at its sole discretion. Use of information we collect
                now is subject to the Privacy Policy in effect at the time such information is used. If we make changes
                to the Privacy Policy, we will notify you by posting an announcement on the website so you are always
                aware of what information we collect, how we use it, and under what circumstances if any, it is
                disclosed. </p>
        </div>

        <div class="mt-5" id="privacy-age-req">
            <h2><strong>Age Requirements</strong></h2>
            <p>You must be 18 years and older to register to use the Site. As a result, {{ site_name }} does not
                specifically collect information about children. If we learn that {{ site_name }} has collected
                information from a person under the age of 18, we will delete that information as quickly as possible.
                We recommend that minors bellow age of 18 ask and receive permission from a legal guardian before using
                {{ site_name }} or sending information about themselves or anyone else over the Internet. </p>
        </div>

        <div class="mt-5" id="privacy-questions">
            <h2><strong>Questions</strong></h2>
            <p>If you have any questions, comments or requests relating to this Privacy Policy, please send an email to
                {{ site_email }}. or you can write to us at:</p>

            <p><strong>IMAGINART LTD.</strong><br>
                County: Stara Zagora, Kazanlak, Street 01, Ap 01<br>
                6100 Kazanlak, Bulgaria<br>
                BULGARIA
            </p>
        </div>

    </div>

{% endblock %}