{% extends 'template.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block header_left %}Product Details{% endblock %}

{% block header_right %}{% endblock %}

{% block main_content %}

    <div class="col-md-12">

        <p>
            Each artwork you choose will be printed on the latest professional Epson printer model.
            Print will be on the media of your choice with the original Epson inks.
            The printed media will be fixed on Alu-Dibond. (see the pictures bellow for detailed view)
        </p>

        <div class="row mt-3">
            <div class="col-md-4" style="min-height: 200px">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/upA_HjZUuyA" frameborder="0" class="video"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-4">
                <a href="{{ asset('images/product/product_000.jpg') }}" target="_blank">
                <img src="{{ asset('images/product/product_000.jpg') }}"
                     alt="Product"
                     class="product-details-image">
                </a>
            </div>

            <div class="col-md-4">
                <a href="{{ asset('images/product/product_002.jpg') }}" target="_blank">
                    <img src="{{ asset('images/product/product_002.jpg') }}" alt="Product"
                         class="product-details-image">
                </a>
            </div>
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col-md-4">
                <a href="{{ asset('images/product/product_003.jpg') }}" target="_blank">
                    <img src="{{ asset('images/product/product_003.jpg') }}" alt="Product"
                         class="product-details-image">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ asset('images/product/product_004.jpg') }}" target="_blank">
                    <img src="{{ asset('images/product/product_004.jpg') }}" alt="Product"
                         class="product-details-image">
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ asset('images/product/product_005.jpg') }}" target="_blank">
                    <img src="{{ asset('images/product/product_005.jpg') }}" alt="Product"
                         class="product-details-image">
                </a>
            </div>
        </div>

        <p>
            Alu-Dibond is a photo medium made from aluminum.
        </p>
        <p>
            Is a high-quality, dimensionally stable image medium which is ideal for showing off professional photography
            exquisitely and durably.
        </p>


        <p>
            On the back of the board there will be an additional aluminum frame with a wall mounting element.
            <br>
            You can choose from 5 media that offer the best gallery quality:
        </p>


        <p>
        <ul>

            <li>
                <strong>Matte</strong> - Epson Enhanced Matte Photo Paper 189g/m². No light glare and reflections.
                <a href="https://www.epson.eu/products/consumables/paper/enhanced-matte-paper-24-x-305-m-189gm-c13s041595"
                   class="text-info" target="_blank">
                    Read More
                </a>
            </li>
            <li>
                <strong>Luster</strong> - Epson Premium Luster Photo Paper 260g/m². Semi gloss surface. Favoured by
                professional
                photographers.
                <a href="https://www.epson.eu/products/consumables/paper/premium-luster-photo-paper-24-x-305-m-260gm-c13s042081"
                   class="text-info" target="_blank">
                    Read More
                </a>
            </li>
            <li>
                <strong>Glossy</strong> - Epson Premium Glossy Photo Paper 260g/m². Glossy surface. Very close to real
                photo paper.
                <a href="https://www.epson.eu/products/consumables/paper/premium-glossy-photo-paper-roll-24-x-305-m-260gm-c13s041638#products"
                   class="text-info" target="_blank">
                    Read More
                </a>
            </li>
            <li>
                <strong>Fine Art Cotton Smooth</strong> - Epson Fine Art Cotton Smooth 300 g/m². Exceptional colour and
                detail. Archival
                quality.
                Suitable for works with big smooth areas.
                <a href="https://www.epson.eu/products/consumables/paper/fine-art-cotton-smooth-bright-24-x-15m-c13s450271"
                   class="text-info" target="_blank">
                    Read More
                </a>
            </li>
            <li>
                <strong>Fine Art Cotton Textured</strong> - Epson Fine Art Cotton Textured 300 g/m². Exceptional colour
                and detail.
                Archival
                quality. Тextured surface for fine art reproduction.
                <a href="https://www.epson.eu/products/consumables/paper/fine-art-cotton-textured-bright-24-x-15m-c13s450285"
                   class="text-info" target="_blank">
                    Read More
                </a>
            </li>
        </ul>
        </p>


        Each product will have free delivery in Europe with big discounts for buying more than one product!

        </p>

    </div>

{% endblock %}
