{% extends 'template.html.twig' %}

{% block title %}Terms of Service{% endblock %}

{% block header_left %}Terms of Service{% endblock %}

{% block header_right %}
    <span class="text-muted">Last Update: 28 Aug, 2019</span>
{% endblock %}

{% block main_content %}

    <div class="col-md-12 tos">

        <div id="tos-overview">
            <h2><strong>Overview</strong></h2>
            <p>This website {{ site_url|upper }} (Called “Site” or “Website”) is operated by {{ site_business_name }}
                Throughout the
                Site, the terms “we”, “us” and “our” refer to {{ site_url|upper }}. </p>
            <p>{{ site_business_name }} offers this Site, including all information, tools and services available from
                this site to
                you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated
                here.</p>
            <p>By visiting our site and/or purchasing something from us, you engage in our “Service” and agree to be
                bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional
                terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of
                Service apply to all users of the site without limitation.</p>
            <p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using
                any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the
                terms and conditions of this agreement, then you may not access the website or use any services.</p>
        </div>

        <div class="mt-5" id="tos-age-requirements">
            <h2><strong>Minimum Age Requirements</strong></h2>
            <p>
                By using this site, you affirm and acknowledge that you are over the age of 18.
            </p>
        </div>

        <div class="mt-5" id="tos-general-conditions">
            <h2><strong>General Conditions</strong></h2>
            <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of
                the Service, or access to the Service or any contact on the website through which the Service is
                provided, without express written permission by us.</p>
            <p>You may not use our products or services for any illegal or unauthorized purpose nor may you, in the use
                of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws). You
                must not transmit any worms or viruses or any code of a destructive nature. A breach or violation of any
                of the Terms will result in an immediate termination of your Services.</p>
            <p>We reserve the right to refuse service to anyone for any reason at any time. We reserve the right to
                refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased
                per person, per household or per order. These restrictions may include orders placed by or under the
                same customer account, the same credit card, and/or orders that use the same billing and/or shipping
                address. In the event that we make a change to or cancel an order, we may attempt to notify you by
                contacting the email and/or billing address provided at the time the order was made. We reserve the
                right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers
                or distributors.</p>
            <p>We reserve the right at any time to modify or discontinue the Service (or any part or content thereof)
                without notice at any time. We shall not be liable to you or to any third-party for any modification,
                price change, suspension or discontinuance of the Service.</p>
            <p>The headings used in this agreement are included for convenience only and will not limit or otherwise
                affect these Terms.</p>
        </div>

        <div class="mt-5" id="tos-prohibited-uses">
            <h2><strong>Prohibited Uses</strong></h2>
            <p>In addition to other prohibitions as set forth in the Terms of Service, you are prohibited from using
                the Site or its content:</p>
            <ul>
                <li>for any unlawful purpose.
                <li>to solicit others to perform or participate in any unlawful acts.
                <li>to violate any international, federal, provincial or state regulations, rules, laws, or local
                    ordinances.
                <li>to infringe upon or violate our intellectual property rights or the intellectual property rights of
                    others.
                <li>to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate based on
                    gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability.
                <li>to submit false or misleading information.
                <li>to upload or transmit viruses or any other type of malicious code that will or may be used in any
                    way that will affect the functionality or operation of the Service or of any related website, other
                    websites, or the Internet.
                <li>to collect or track the personal information of others.
                <li>to spam, phish, pharm, pretext, spider, crawl, or scrape.
                <li>for any obscene or immoral purpose.
                <li>to interfere with or circumvent the security features of the Service or any related website, other
                    websites, or the Internet. We reserve the right to terminate your use of the Service or any related
                    website for violating any of the prohibited uses.
            </ul>

            <p>Additionally, you are strictly prohibited from advertising products, services, other sites, companies or
                causes on our Site or contacting our members in order to do so, without the written consent of
                {{ site_url|upper }}. You are also prohibited from contacting our members with offers, to make them join
                other sites or organizations or donate money, without the written consent of {{ site_url|upper }}. All
                commercial messages from you are strictly prohibited in all forms of communication through our Site both
                in public and in private, without the written consent of {{ site_url|upper }}.</p>
        </div>

        <div class="mt-5" id="tos-accuracy">
            <h2><strong>Accuracy, Completeness and Timeliness of purchase and account information</strong></h2>
            <p>We are not responsible if information made available on this site is not accurate, complete or current.
                The material on this site is provided for general information only and should not be relied upon or used
                as the sole basis for making decisions without consulting primary, more accurate, more complete or more
                timely sources of information. Any reliance on the material on this site is at your own risk.</p>
            <p>You agree to provide current, complete and accurate purchase and account information for all purchases
                made at our Site. You agree to promptly update your account and other information, including your email
                address and credit card numbers and expiration dates, so that we can complete your transactions and
                contact you as needed.</p>
        </div>

        <div class="mt-5" id="tos-third-party-links">
            <h2><strong>Third-Party links</strong></h2>
            <p>Third-party links on this site may direct you to third-party websites that are not affiliated with us. We
                are not responsible for examining or evaluating the content or accuracy and we do not warrant and will
                not have any liability or responsibility for any third-party materials or websites, or for any other
                materials, products, or services of third-parties.</p>
        </div>

        <div class="mt-5" id="tos-personal-info">
            <h2><strong>Personal information</strong></h2>
            <p>Your submission of personal information
                through the site is governed by our <a href="/privacy-policy">Privacy Policy</a>.</p>
        </div>

        <div class="mt-5" id="tos-account">
            <h2><strong>Website Account</strong></h2>
            <p>
                You are encouraged to create no more than <strong>ONE</strong> account.
                Using multiple accounts for <strong>ANY</strong> activity will result in immediate accounts termination.
            </p>
        </div>

        <div class="mt-5" id="tos-optional-tools">
            <h2><strong>Optional tools</strong></h2>
            <p>We may provide you with access to third-party tools over which we neither monitor nor have any control
                nor input. You acknowledge and agree that we provide access to such tools ”as is” and “as available”
                without any warranties, representations or conditions of any kind and without any endorsement. We shall
                have no liability whatsoeve––r arising from or relating to your use of optional third-party tools. Any
                use by you of optional tools offered through the Site is entirely at your own risk and discretion and
                you should ensure that you are familiar with and approve of the terms on which tools are provided by the
                relevant third-party provider(s).</p>
        </div>

        <div class="mt-5" id="tos-errors">
            <h2><strong>Errors, Inaccuracies and Omissions</strong></h2>
            <p>Occasionally there may be information on our site or in the Service that contains typographical errors,
                inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product
                shipping charges, transit times and availability. We reserve the right to correct any errors,
                inaccuracies or omissions, and to change or update information or cancel orders if any information in
                the Service or on any related website is inaccurate at any time without prior notice (including after
                you have submitted your order).</p>
        </div>

        <div class="mt-5" id="tos-disclaimer">
            <h2><strong>Disclaimer of warranties, Limitation of liability</strong></h2>
            <p>In no case shall {{ site_business_name }}, our members, directors, officers, employees, affiliates,
                agents,
                contractors, interns, suppliers, service providers or licensors be liable for any injury, loss, claim,
                or any direct, indirect, incidental, punitive, special, or consequential damages of any kind, including,
                without limitation lost profits, lost revenue, lost savings, loss of data, replacement costs, or any
                similar damages, whether based in contract, tort (including negligence), strict liability or otherwise,
                arising from your use of any of the service or any products procured using the service, or for any other
                claim related in any way to your use of the service or any product, including, but not limited to, any
                errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of
                the service or any content (or product) posted, transmitted, or otherwise made available via the
                service, even if advised of their possibility. Because some states or jurisdictions do not allow the
                exclusion or the limitation of liability for consequential or incidental damages, in such states or
                jurisdictions, our liability shall be limited to the maximum extent permitted by law.</p>
        </div>

        <div class="mt-5" id="tos-law">
            <h2><strong>Governing Law</strong></h2>
            <p>These Terms of Service and any separate agreements whereby we provide you Services shall be governed by
                and construed in accordance with the laws of Bulgaria. Any dispute shall primarily be settled by
                friendly arrangements after discussions with our customer support.</p>
        </div>

        <div class="mt-5" id="tos-severability">
            <h2><strong>Severability</strong></h2>
            <p>In the event that any provision of these Terms of Service is determined to be unlawful, void or
                unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by
                applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service,
                such determination shall not affect the validity and enforceability of any other remaining
                provisions.</p>
        </div>

        <div class="mt-5" id="tos-termination">
            <h2><strong>Termination</strong></h2>
            <p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the
                termination of this agreement for all purposes.</p>
            <p>These Terms of Service are effective unless and until terminated by either you or us. You may terminate
                these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when
                you cease using our site.</p>
        </div>

        <div class="mt-5" id="tos-idemnification">
            <h2><strong>Indemnification</strong></h2>
            <p>You agree to indemnify, defend and hold {{ site_business_name }}, its members, subsidiaries,
                affiliates, partners, officers, directors, agents, contractors, licensors, service providers,
                subcontractors, suppliers, interns and employees, harmless from any claim or demand, including
                reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms
                of Service or the documents they incorporate by reference, or your violation of any law or the rights of
                a third-party.</p>
        </div>

        <div class="mt-5" id="tos-agreement">
            <h2><strong>Entire Agreement</strong></h2>
            <p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not
                constitute a waiver of such right or provision.</p>
            <p>These Terms of Service and any policies or operating rules posted by us on this site or in respect to The
                Service constitutes the entire agreement and understanding between you and us and govern your use of the
                Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral
                or written, between you and us (including, but not limited to, any prior versions of the Terms of
                Service).</p>
            <p>Any ambiguities in the interpretation of these Terms of Service shall not be construed against the
                drafting party.</p>
        </div>

        <div class="mt-5" id="tos-changes">
            <h2><strong>Changes to Terms of Service</strong></h2>
            <p>You can review the most current version of the Terms of Service at any time at this page.</p>
            <p>We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of
                Service by posting updates and changes to our website. It is your responsibility to check our website
                periodically for changes. Your continued use of or access to our website or the Service following the
                posting of any changes to these Terms of Service constitutes acceptance of those changes.</p>
        </div>

        <div class="mt-5" id="tos-contact-info">
            <h2><strong>Contact information</strong></h2>
            <p>Questions about the Terms of Service should be sent to us at {{ site_email }}.</p>
        </div>
    </div>

{% endblock %}