<p>You photo was rejected for store</p>

<div class="row">
    <div class="col-6">
        <h4 class="text-muted">Actual</h4>
        <img src="{{ product.post.image.thumbnail }}" alt="" width="200px">
    </div>
    <div class="col-6">
        <h4 class="text-muted">Uploaded</h4>
        <img src="{{ product.post.image.printThumbnail ??  product.post.image.thumbnail }}" alt="" width="200px">
    </div>
</div>
