{% for post in posts %}

    <div class="col-md-4 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center mb-5 series-option">

        <label for="album_posts_{{ post.id }}">

            <input type="checkbox" id="album_posts_{{ post.id }}" name="album[posts][]" value="{{ post.id }}">

            <img src="{{ post.image.thumbnail }}" alt="{{ post.title }}">

        </label>

    </div>

{% endfor %}
