{% if is_granted('ROLE_CURATOR') %}

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="admin" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <i class="fa fa-tools nav-admin-icon text-white d-none d-xl-inline-block"></i>

            <span class="d-xl-none ml-xl-3">ADMIN</span>

        </a>

        <div class="dropdown-menu shadow border-0 dropdown-menu-right"
             aria-labelledby="admin">

            {% if is_granted('ROLE_CURATOR') %}
                <a class="dropdown-item" href="{{ path('admin_photo_for_curate') }}">Curator Panel</a>
            {% endif %}

            <div class="dropdown-divider"></div>

            <span class="ml-4 text-muted">Manage:</span>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="dropdown-item" href="{{ path('poll_admin_list') }}">Polls</a>
            {% endif %}

            {% if is_granted('ROLE_CURATOR') %}
                <a class="dropdown-item" href="{{ path('admin_manage_photo_of_the_day') }}">Photo of the day</a>
            {% endif %}

            {% if is_granted('ROLE_CURATOR') %}
                <a class="dropdown-item" href="{{ path('admin_series') }}">Curator Series</a>
            {% endif %}

            {% if is_granted('ROLE_CURATOR') %}
                <a class="dropdown-item" href="{{ path('admin_series_selection_list') }}">Series Selection</a>
            {% endif %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <div class="dropdown-divider"></div>
                
                <a class="dropdown-item" href="{{ path('easyadmin') }}">Admin Panel</a>
            {% endif %}

        </div>

    </li>

{% endif %}
