<nav class="navbar navbar-expand-xl navbar-dark bg-primary shadow fixed-top">

    {# Logo #}
    <a class="navbar-brand" href="{{ path('web_popular') }}">
        <img src="{{ asset('images/logo_new.png') }}" alt="Logo" height="40px">
    </a>

    {# Mobile Menu Button #}
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    {# Mobile Dropdown Menu #}
    <div class="collapse navbar-collapse" id="navbar">

        <form class="form-inline nav-search">
            {{ react_component('SearchBox',{'rendering':'client_side'}) }}
        </form>

        {% include '_partials/navigation/left.html.twig' %}

        {% include'_partials/navigation/right.html.twig' %}

    </div>

</nav>
