<ul class="navbar-nav mr-auto">
    {% if  is_granted('ROLE_PREVIOUS_ADMIN') %}
        <li class="nav-item">
            <span class="text-warning"><i class="fas fa-exclamation-circle"></i> Currently switched!</span>
        </li>
    {% endif %}
</ul>