<ul class="main-nav-links navbar-nav mr-lg-3 pr-lg-1 right-nav">

    <li class="nav-item {{ active('web_gallery','_route') }} {{ active('web_gallery_series','_route') }}">
        <a class="nav-link" href="{{ path('web_gallery',{page:'latest'}) }}">Gallery</a>
    </li>

    {# "Upload" Dropdown menu #}
    <li class="nav-item dropdown {% if app.request.attributes.get('_route') starts with 'web_photo_create' %}active{% endif %}">

        <a class="nav-link dropdown-toggle {{ active('web_photo_create','_route') }}"
           href="#" id="account" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload
        </a>

        <div class="dropdown-menu shadow border-0 dropdown-menu-left"
             aria-labelledby="account">
            <a class="dropdown-item" href="{{ path('web_photo_create') }}">Photo</a>
            <a class="dropdown-item" href="{{ path('web_photo_create', {type: 'series'}) }}">Series</a>
        </div>

    </li>

    <li class="nav-item {{ active('web_vote','_route') }}">
        <a class="nav-link" href="{{ path('web_vote') }}">Vote</a>
    </li>

    <li class="nav-item {% if app.request.attributes.get('_route') starts with 'web_members' %}active{% endif %}">
        <a class="nav-link" href="{{ path('web_members') }}">Members</a>
    </li>

    <li class="nav-item {% if app.request.attributes.get('_route') starts with 'web_forum' %}active{% endif %}">
        <a class="nav-link" href="{{ path('web_forum') }}">Forums</a>
    </li>

    {% if config().allowShopping %}
        <li class="nav-item {% if app.request.attributes.get('_route') starts with 'web_store' %}active{% endif %}">
            <a class="nav-link print-store-label" href="{{ path('web_store') }}">Art Prints</a>
        </li>
    {% endif %}

    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle"
           href="#" id="more" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-block"><span class="navbar-toggler-icon"></span></span>
            <span class="d-md-none">More</span>
        </a>

        {# "More" Dropdown Menu #}
        <div class="dropdown-menu shadow border-0 dropdown-menu-more">

            <a class="dropdown-item" href="{{ path('web_tos') }}">Terms of Service</a>

            <a class="dropdown-item" href="{{ path('web_privacy_policy') }}">Privacy Policy</a>

            <a class="dropdown-item" href="{{ path('web_user_agreement') }}">User Agreement</a>

            <a class="dropdown-item" href="{{ path('web_faq') }}">F.A.Q</a>

            <a class="dropdown-item" href="{{ path('web_contacts') }}">Contact Us</a>

        </div>

    </li>

    <li class="divider-vertical"></li>


    {# User Menu #}
    {% if is_granted('ROLE_USER') %}

        {% include '_partials/navigation/user.html.twig' %}
        {% if user_settings(app.user).is_web_notification_allowed %}
            {{ react_component('Notifications',{'rendering':'client_side','props': {'count':notification_count(app.user)},}) }}
        {% endif %}

        {% if config().allowShopping %}
            {{ react_component('CartButton',{'rendering':'client_side','props': {count :cart_count(), href: '/cart'}}) }}
        {% endif %}

        {# Admin Menu #}
        {% include '_partials/navigation/admin.html.twig' %}

    {% else %}

        {% if config().allowShopping %}
            {{ react_component('CartButton',{'rendering':'client_side','props': {count :cart_count(), href: '/cart'}}) }}
        {% endif %}

        {# Guests Menu #}
        <li class="nav-item">
            <a href="{{ path('web_login') }}" class="nav-link text-white">Log in</a>
        </li>

        <li class="nav-item">
            <a href="{{ path('web_register') }}" class="nav-link text-white">Register</a>
        </li>

    {% endif %}

    {# Switch button #}
    {% if  is_granted('ROLE_PREVIOUS_ADMIN') %}

        <li class="nav-item">

            {# <a href="{{ path('web_profile', {'slug': app.user.slug,'_switch_user': '_exit'}) }}" class="nav-link" data-toggle="tooltip" #}
            {# data-placement="bottom" #}
            {# title="Exit from switch"> #}

            {# <i class="fas fa-user-minus"></i> #}

            {# </a> #}

            <a href="{{ path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) ~ '?_switch_user=_exit' }}" class="nav-link"
               data-toggle="tooltip"
               data-placement="bottom"
               title="Exit from switch">

                <i class="fas fa-user-minus"></i>

            </a>

        </li>

    {% endif %}

</ul>
