<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" href="#" id="account" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile</a>

    <div class="dropdown-menu shadow border-0 dropdown-menu-right"
         aria-labelledby="account">

        <a class="dropdown-item" href="{{ path('web_profile', {'slug': app.user.slug}) }}">View</a>

        <a class="dropdown-item" href="{{ path('web_messages') }}">Messages</a>

        <a class="dropdown-item" href="{{ path('web_profile_edit') }}">Settings</a>

        {% if app.user.orders | length > 0 %}
            <a class="dropdown-item" href="{{ path('web_orders') }}">Orders</a>
        {% endif %}

        {% if config().allowShopping %}
            <a class="dropdown-item" href="{{ path('web_manage_sold') }}">Sold</a>
        {% endif %}

        <div class="dropdown-divider"></div>
        <span class="ml-4 text-muted" style="font-weight: 300">Manage:</span>

        <a class="dropdown-item" href="{{ path('web_photos_manage') }}">Photos</a>
        <a class="dropdown-item" href="{{ path('web_photos_manage', {type:'series'}) }}">Series</a>

        {% if config().allowShopping is defined and config().allowShopping == true %}
            <a class="dropdown-item" href="{{ path('web_manage_products') }}">Products</a>
        {% endif %}

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="{{ path('web_logout') }}"><i class="fa fa-sign-out-alt"></i> Sign-out</a>

    </div>

</li>
