{% extends 'security/template.html.twig' %}

{% block title %}Registration{% endblock %}

{% block form_title %}Registration{% endblock %}

{% block form_body %}

    <div class="basic-layout">

        <div class="default-form-layout">

            {{ form_start(form) }}

            {# Errors #}
            {% if form.vars.errors|length %}

                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>

            {% endif %}

            <div class="form-group mb-3">

                {{ form_label(form.email) }}
                {{ form_widget(form.email,{attr:{class:'form-control'}}) }}

            </div>

            <div class="form-group mb-3">

                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first,{attr:{class:'form-control'}}) }}

            </div>

            <div class="form-group mb-3">

                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second,{attr:{class:'form-control'}}) }}

            </div>

            <hr>

            <div class="form-group mb-3">

                {{ form_label(form.username) }}
                {{ form_widget(form.username,{attr:{class:'form-control'}}) }}
                <small id="emailHelp" class="form-text text-muted">
                    Note: Once set, it cannot be changed later.
                </small>

            </div>

            <hr>

            <div class="form-group mb-1">
                <small id="emailHelp" class="form-text text-warning">
                    Note: It is recommended to use latin characters for your First and Last name. Otherwise your photos
                    won't be watermarked.
                </small>
            </div>

            <div class="form-group mb-3">

                {{ form_label(form.profile.firstName) }}
                {{ form_widget(form.profile.firstName,{attr:{class:'form-control'}}) }}

            </div>

            <div class="form-group mb-3">

                {{ form_label(form.profile.lastName) }}
                {{ form_widget(form.profile.lastName,{attr:{class:'form-control'}}) }}

            </div>

            <hr>

            <div class="registration-agreement rounded-corner">
                By clicking <strong>Agree and Continue</strong>, I hereby: <br>
                Agree and consent to the
                <br><br>
                <input type="checkbox" id="js-terms-agreement"> <label for="js-terms-agreement"><b>Agree
                                                                                                   and
                                                                                                   Continue</b></label>
            </div>

            <hr>

            <div class="text-center ml-5 mr-5 mt-3">
                <button class="btn btn-info disabled" id="js-registraion-btn" type="submit">Register</button>
            </div>

            <div class="text-center mt-3 mb-3">
                Already have an account? <strong><a href="{{ path('web_login') }}">Login</a></strong>
            </div>

            {{ form_widget(form._token) }}

            {{ form_widget(form.recaptcha) }}

            {{ form_end(form) }}

        </div>

        <div
                class="g-recaptcha"
                data-sitekey="{{ google_recaptcha_site_key }}"
                data-callback="recaptchaOkay"
                data-size="invisible"
                id="cadastro-captcha">
        </div>

    </div>

{% endblock %}

{% block form_footer %}
    <h6 class="h6">Register with Your social media account:</h6>

    <a href="{{ path('web_social_login',{ network: 'facebook'}) }}" class="btn js-social-reg disabled">
        <i class="fab fa-facebook fa-2x"></i>
    </a>

    <a href="{{ path('web_social_login',{ network: 'google'}) }}" class="btn js-social-reg disabled">
        <i class="fab fa-google fa-2x"></i>
    </a>

{% endblock %}

{% block js %}

    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>

    <script>

            grecaptcha.ready(function () {
                grecaptcha.execute('{{ google_recaptcha_site_key }}', {action: 'submit'}).then(function (token) {
                    $('#registration_recaptcha').val(token)
                });
            });


    </script>

    <script>

        $(document).ready(function () {

            var selector = '#js-registraion-btn, .js-social-reg';

            toggleBind(selector, true);

            $('#js-terms-agreement').click(function () {
                if ($(this).is(':checked')) {
                    toggleBind(selector, false);
                } else {
                    toggleBind(selector, true);
                }
            });

            function toggleBind(selector, set) {
                if (set) {
                    $(selector).addClass('disabled');
                    $(selector).bind('click', function (e) {
                        e.preventDefault();
                    });
                } else {
                    $(selector).removeClass('disabled');
                    $(selector).unbind('click')
                }
            }
        })

    </script>

{% endblock %}
