{% extends 'template.html.twig' %}

{% block title %}Manage Photo of the Day{% endblock %}

{% block header_left %}Manage Photos of the Day{% endblock %}

{% block header_right %} <strong>The Time is:</strong> {{ date()|date('d/M/Y H:i:s') }}{% endblock %}

{% block main_content %}

    <div class="col-12">

        <div class="row">

            {% if photos|length > 0 %}

                {% for photo in photos %}

                    <div data-id="{{ photo.id }}" class="js-main col-lg-3 col-md-4 col-sm-6">

                        <div class="card mb-4 text-center">

                            <a href="{{ path('web_photo_show', {
                                page:'portfolio',
                                id: photo.post.id,
                                payload: photo.post.user.id,
                            }) }}" target="_blank" style="cursor: zoom-in; position: relative">
                                {% if loop.first %}
                                    <div class="alert-success position-absolute" style="bottom: 0; width: 100%">Shows
                                        tomorrow
                                    </div>
                                {% endif %}

                                <img src="{{ photo.post.image.thumbnail }}" class="card-img-top" alt="..."
                                     style="object-fit: cover; width: 100%; height: 200px">
                            </a>


                            <div class="card-body">
                                <div class="clearfix text-cente position-relative">

                                    <i class="js-move-left fa-2x fa fa-arrow-circle-left float-left {% if loop.first %}d-none{% endif %}"></i>

                                    <i class="js-move-right fa-2x  fa fa-arrow-circle-right float-right {% if loop.last %}d-none{% endif %}"></i>

                                </div>

                                <div></div>

                                <form action="{{ path('admin_delete_photo_of_the_day', {id:photo.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="photo_id" value="{{ photo.id }}"/>
                                    <button class="btn btn-danger btn-sm text-white mt-3">Delete</button>
                                </form>

                                <hr class="no-gutter">

                                <div>{{ photo.createdAt|date('d/M/Y H:i:s') }}</div>

                                <div class="small text-muted">{{ photo.post.user.profile.firstName }} {{ photo.post.user.profile.lastName }}</div>

                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% else %}

                <div class="col-12">
                    <h6 class="text-muted">No photos in the queue.</h6>
                </div>

            {% endif %}

        </div>

    </div>

    <form id="js-switch-form" action="{{ path('admin_switch_photo_of_the_day') }}" method="post" class="d-none">
        <input type="hidden" name="_method" value="PUT"/>
        <input id="js-switch" type="hidden" name="ids" value="">
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.js-move-left').on('click', function (e) {
                let ids = [$(this).parents('.js-main').attr('data-id'),
                    $(this).parents('.js-main').prev().attr('data-id')];

                $('#js-switch').val(ids);
                $('#js-switch-form').submit();
            });

            $('.js-move-right').on('click', function (e) {
                let ids = [$(this).parents('.js-main').attr('data-id'),
                    $(this).parents('.js-main').next().attr('data-id')];

                $('#js-switch').val(ids);
                $('#js-switch-form').submit();
            })
        })
    </script>
{% endblock %}

{% block css %}
    <style>
        .fa {
            cursor: pointer;
        }
    </style>
{% endblock %}
