{% extends 'base.html.twig' %}

{% block title %}Pending{% endblock %}

{% block body %}


    <div class="curator-page basic-layout">

        {% include 'admin/curator/_partials/curator_nav.html.twig' %}

        <hr>

        {% include 'admin/curator/_partials/filter.html.twig' %}

        <hr>

        <div class="d-flex justify-content-center">

            {{ knp_pagination_render(posts) }}

        </div>

        <div class="curate-photos">
            <div class="photos container">

                <div class="row w-100 ">

                    {% for data in posts %}

                        <div class="col-sm-6 col-lg-3 col-md-4  mb-5 d-flex">

                            <div class="card p-0 w-100">

                                <div class="card-body p-0 text-center w-100 d-flex justify-content-center align-items-center">

                                    {% if data.post.isGreyscale == true %}
                                        <div style="position: absolute;top:0; right: 0; padding: 0 1rem; background: #000000">
                                            <i class="fas fa-adjust"></i>
                                        </div>
                                    {% endif %}

                                    {# Comments count START #}
                                    {% if data.post.cover is not null %}
                                        {% set comments = 0 %}
                                        {% for child in data.post.children %}
                                            {% set comments = comments + child.curateComments|length %}
                                        {% endfor %}

                                        {% if comments > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ comments }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% else %}

                                        {% if data.post.curateComments|length > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ data.post.curateComments|length }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                    {# Comments count END #}

                                    <a href="{{ path('admin_photo_show', {id: data.post.id}) }}">

                                        {% set image = data.post.type == 1 ? data.post.image.thumbnail : data.post.cover.image.thumbnail %}

                                        <img src="{{ image }}" alt="" style="max-width:100%;max-height: 300px">


                                    </a>


                                </div>

                                <div class="card-footer d-flex">

                                    <strong class="flex-grow-1">Sent:</strong>

                                    {{ data.post.sentForCurateDate | date('d/M/Y H:i') }}

                                </div>

                                <div class="card-footer d-flex">

                                    <strong class="flex-grow-1">Rating:</strong>

                                    <strong class="text-success mr-1">{{ data.rating | number_format(2) }}</strong>

                                    ({{ data.total }} votes)

                                </div>

                                {% if data.post.type > 1 %}

                                    <div class="card-footer d-flex">

                                    <span class="flex-grow-1">

                                        <i class="fas fa-images" data-toggle="tooltip" title=""
                                           data-original-title="Series"></i>

                                    </span>

                                        Series

                                    </div>

                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center">

            {{ knp_pagination_render(posts) }}

        </div>


    </div>

{% endblock %}
