{% extends 'base.html.twig' %}

{% block title %}Published{% endblock %}

{% block body %}

    <div class="curate-posts basic-layout">

        {% include 'admin/curator/_partials/curator_nav.html.twig' %}

        <hr>

        {% include 'admin/curator/_partials/filter.html.twig' %}

        <hr>

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(posts) }}
        </div>

        <div class="curate-photos">

            <div class="container photos">

                <div class="row d-flex">

                    {% for index,post in posts %}

                        <div class="col-sm-6 col-lg-3 col-md-4  mb-3 d-flex">

                            <div class="card p-0 w-100">

                                <div class="card-body p-0 w-100 d-flex justify-content-center align-items-center">

                                    {% if post.isGreyscale == true %}
                                        <div style="position: absolute;top:0; right: 0; padding: 0 1rem; background: #000000">
                                            <i class="fas fa-adjust"></i>
                                        </div>
                                    {% endif %}

                                    {# Comments count START #}
                                    {% if post.cover is not null %}
                                        {% set comments = 0 %}
                                        {% for child in post.children %}
                                            {% set comments = comments + child.curateComments|length %}
                                        {% endfor %}

                                        {% if comments > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ comments }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% else %}

                                        {% if post.curateComments|length > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ post.curateComments|length }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                    {# Comments count END #}

                                    <a href="{{ path('admin_photo_show', {id: post.id}) }}">

                                        {% set image = post.type == 1 ? post.image.thumbnail : post.cover.image.thumbnail %}
                                        <img src="{{ image }}" alt="{{ post.title }}" width="auto"
                                             style="max-width:100%;max-height:300px">

                                    </a>

                                </div>

                                <div class="card-footer d-flex">
                                    <span class="flex-grow-1">Sent</span>
                                    {{ post.sentForCurateDate | date('d/M/Y H:i') }}
                                </div>

                                <div class="card-footer">

                                    {% if post.showDate < date() %}

                                        <div class="d-flex text-success">
                                        <span class="flex-grow-1  text-success">
                                            Published
                                        {% if post.curatedAt|date_modify(site_publish_visibility_delay) > date() %}
                                            <div class="small text-light muted">User not notified</div>
                                        {% endif %}
                                        </span>
                                            {{ post.showDate | date('d/M/Y H:i') }}
                                        </div>

                                    {% endif %}

                                    {% if post.showDate > date() %}

                                        <div class="d-flex text-warning">
                                        <span class="flex-grow-1  text-warning">
                                            Scheduled
                                           {% if post.curatedAt|date_modify(site_publish_visibility_delay) > date() %}
                                               <div class="small text-light muted">User not notified</div>
                                           {% endif %}
                                        </span>
                                            {{ post.showDate | date('d/M/Y H:i') }}
                                        </div>

                                    {% endif %}


                                </div>

                                {% if post.children | length > 0 %}

                                    <div class="card-footer d-flex">
                                    <span class="flex-grow-1">
                                        <i class="fas fa-images" data-toggle="tooltip" title=""
                                           data-original-title="Series"></i>
                                    </span>
                                        Series
                                    </div>

                                {% endif %}

                                {% if post.showDate > date() %}

                                    <div class="card-footer">

                                        <div class="d-flex justify-content-center">

                                            <form method="post" class="d-flex">

                                                {% if app.request.attributes.get('page') != 1 or index > 0 %}
                                                    <button class="btn btn-blue"
                                                            formaction="{{ path('admin_photo_published_move',{id:post.id,up:1,page:app.request.get('page')}) }}">
                                                        <i class="fas fa-chevron-left"></i></button>
                                                {% endif %}

                                                <input type="text" class="form-control" name="places" id="places"
                                                       placeholder="Places" value="1">

                                                <button class="btn btn-blue"
                                                        formaction="{{ path('admin_photo_published_move',{id:post.id,up:0,page:app.request.get('page')}) }}">
                                                    <i class="fas fa-chevron-right"></i></button>

                                            </form>

                                        </div>

                                    </div>

                                {% endif %}

                                <div class="card-text small text-center">
                                    <span class="text-success">Publisher:</span>
                                    &nbsp;
                                    {{ post.publisher.profile.fullName }}
                                </div>

                            </div>

                        </div>

                    {% endfor %}
                </div>

            </div>
        </div>

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(posts) }}
        </div>

    </div>

{% endblock %}

