{% extends 'base.html.twig' %}

{% block title %}Rejected{% endblock %}

{% block body %}

    <div class="curate-posts basic-layout">

        {% include 'admin/curator/_partials/curator_nav.html.twig' %}

        <hr>

        {% include 'admin/curator/_partials/filter.html.twig' %}

        <hr>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(posts) }}
        </div>

        <div class="curate-posts">
            <div class="container photos">

                <div class="row">

                    {% for post in posts %}

                        <div class="col-sm-6 col-lg-3 col-md-4  mb-5 d-flex">

                            <div class="card p-0 w-100">

                                <div class="card-body p-0 w-100 d-flex justify-content-center align-items-center">

                                    {% if post.isGreyscale == true %}
                                        <div style="position: absolute;top:0; right: 0; padding: 0 1rem; background: #000000">
                                            <i class="fas fa-adjust"></i>
                                        </div>
                                    {% endif %}

                                    {# Comments count START #}
                                    {% if post.cover is not null %}
                                        {% set comments = 0 %}
                                        {% for child in post.children %}
                                            {% set comments = comments + child.curateComments|length %}
                                        {% endfor %}

                                        {% if comments > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ comments }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% else %}

                                        {% if post.curateComments|length > 0 %}
                                            <div style="position: absolute;top:0; left: 0;margin: 0 0.3rem;font-size: 20px">
                                                <div class="badge badge-dark text-info">
                                                    {{ post.curateComments|length }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                    {# Comments count END #}

                                    {% set image = post.type == 1 ? post.image.thumbnail : post.cover.image.thumbnail %}

                                    <a href="{{ path('admin_photo_show',{id: post.id}) }}">

                                        <img src="{{ image }}" alt="" width="auto"
                                             style="max-height: 300px;max-width: 100%;">

                                    </a>

                                </div>

                                <div class="card-footer d-flex">

                                    <strong class="flex-grow-1">Sent:</strong>

                                    {{ post.sentForCurateDate | date('d/M/Y H:i') }}

                                </div>

                                <div class="card-footer d-flex text-danger">

                                    <strong class="flex-grow-1 text-danger">Rejected:</strong>

                                    {{ post.curatedAt | date('d/M/Y H:i') }}

                                </div>

                                <div class="card-text small text-center">
                                    <span class="text-danger">Rejected by:</span>
                                    &nbsp;
                                    {{ post.publisher.profile.fullName }}
                                </div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>


        <div class="d-flex justify-content-center">

            {{ knp_pagination_render(posts) }}

        </div>

    </div>

{% endblock %}
