{% extends 'base.html.twig' %}

{% block title %}{{ post.title ?? post.slug }}{% endblock %}

{% block body %}

    <div class="mt-5">

        {% include 'admin/curator/_partials/curator_nav.html.twig' %}

    </div>

    <hr>

    <div class="container basic-layout">


        {% if 'pending' in app.session.get('back') %}

        <div class="clearfix">

            <div class="float-left">
                <i class="fa fa-backward"></i>
                <a href="{{ path('admin_photo_show_prev', {'id': post.id}) }}" class="btn btn-link">
                    Previous
                </a>
            </div>

            <div class="float-right">
                <a href="{{ path('admin_photo_show_next', {'id': post.id}) }}" class="btn btn-link">
                    Next
                </a>
                <i class="fa fa-forward"></i>
            </div>

        </div>

        {% endif %}

        <div class="card">

            <a class="position-absolute" style="right: 10px;top:10px;"
               href="{{ app.session.get('back') }}">
                <i class="fas fa-times"></i>
            </a>

            {% include 'admin/curator/_partials/curator-actions.html.twig' %}

            <div class="card-body">

                {% if post.type == 1 %}

                    {% include 'admin/curator/_partials/single.html.twig' %}

                {% else %}

                    {% include 'admin/curator/_partials/photo-update.html.twig' %}

                {% endif %}
            </div>
        </div>

        {% for child in post.children %}

            <div class="card mt-5">

                <div class="card-body">

                    {% set post = child %}

                    {% include 'admin/curator/_partials/single.html.twig' %}

                </div>

            </div>

        {% endfor %}

    </div>

    <div class="large-image large">
        <button class="close-btn">
            <i class="fas fa-times"></i>
        </button>
        <img src="" alt="" id="large-img">
    </div>

{% endblock %}

{% block js %}
    <script>
        let img = $('#large-img');
        let large = $('.large');

        $('.post').click(function (e) {
            large.addClass('show');
            img.attr('src', $(this).data('url'))
        });

        $('.close-btn').click(function (e) {
            img.attr('src', '');
            large.removeClass('show');
        })
    </script>
{% endblock %}

