{% extends 'template.html.twig' %}

{% block title %}Site Settings{% endblock %}

{% block header_left %}Site Settings{% endblock %}

{% block header_right %}

    <a href="{{ app.request.session.get('back') ?? path('web_profile_edit') }}">
        <i class="fas fa-times"></i>
    </a>

{% endblock %}

{% block main_content %}


    <div class="col-12">
        {{ form_start(form) }}

        <h6>Notifications:</h6>
        <hr class="no-gutter">
        <label class="custom-control custom-checkbox">
            {{ form_widget(form.isEmailNotificationAllowed,{attr:{class:'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            Receive Email notifications
        </label>

        <label class="custom-control custom-checkbox">
            {{ form_widget(form.isWebNotificationAllowed,{attr:{class:'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            Receive Web notifications (Website Notifications)
        </label>

        <label class="custom-control custom-checkbox">
            {{ form_widget(form.isPushNotificationAllowed,{attr:{class:'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            Receive Push notifications (Phone App Notifications)
        </label>

        <h6 class="mt-5">General settings:</h6>
        <hr class="no-gutter">
        <label class="custom-control custom-checkbox">
            {{ form_widget(form.showNudes,{attr:{class:'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            Show nude content
        </label>

        <label class="custom-control custom-checkbox">
            {{ form_widget(form.isPortfolioVisible,{attr:{class:'custom-control-input'}}) }}
            <span class="custom-control-indicator"></span>
            Visible Uploads
        </label>

        <hr>

        <button class="btn btn-info">Save</button>

        {{ form_end(form) }}
    </div>


{% endblock %}
