{% extends 'base.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.css">
{% endblock %}

{% block body %}

    <div class="profile-settings-page">

        <div class="container-fluid profile" style="max-width: 1200px">

            <div class="row">

                <div class="cover">

                    <label for="cover" class="btn btn-warning">
                        <input id="cover" type="file" accept="image/jpeg"/>
                        Upload
                    </label>

                    <div class="options">

                        <button class="btn btn-primary" id="save" type="button">
                            <i class="fas fa-check"></i>
                        </button>

                        <button class="btn btn-danger shadow" id="cancel" type="button">
                            <i class="fas fa-times"></i>
                        </button>

                    </div>

                    <small class="text-muted bg-white p-2 rounded  position-absolute" style="right:10px;top:10px;">
                        Recommended size: 1200x350 px
                    </small>

                    <img src="{{ user.profile.cover ?? asset('images/cover.jpg') }}" id="cover-image"
                         alt="Cover"/>

                    <img src="" id="cover-image-cropper" alt="Cover"/>

                    <div class="dots-loader"></div>

                </div>

            </div>

        </div>

        <div class="container basic-layout profile-meta" style="max-width: 1200px">

            <div class="row" style="padding-bottom: 3.5rem">

                <div class="col-lg-2">

                    <div class="profile-avatar profile-avatar-settings circle text-center">

                        <div class="avatar-loader"></div>

                        <img src="{{ form.profile.vars.value.picture ?? asset('images/avatar.jpg') }}"
                             alt="Profile Picture"
                             class="shadow circle">

                        <input type="file" id="avatar" accept="image/jpeg,image/png" class="circle"/>

                    </div>

                </div>

                <div class="col-lg-10">

                    <div class="profile-info mt-lg-n5 mt-0 text-center text-lg-left">

                        <h1>
                            <strong>
                                {{ user.profile.firstName }} {{ user.profile.lastName }}
                            </strong>
                        </h1>


                        <div class="mt-3">

                            <i class="fa fa-lock"></i>
                            <a href="{{ path('web_change_password') }}">
                                Change Password
                            </a>

                            <i class="fas fa-wrench ml-4"></i>
                            <a href="{{ path('web_settings') }}">
                                Site Settings
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container basic-layout mt-5">

            {{ form_start(form) }}

            <div class="row default-form-layout">

                <div class="col-md-6 col-sm-6">

                    <h3 class="text-muted">Personal Details:</h3>

                    <hr>

                    <div class="form-group">
                        {{ form_label(form.profile.firstName) }}
                        {{ form_widget(form.profile.firstName,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.lastName) }}
                        {{ form_widget(form.profile.lastName,{attr:{class:'form-control'}}) }}
                    </div>

                    {% if form.balance is defined %}
                        <div class="form-group">
                            {{ form_label(form.balance.payout,'Paypal Email') }}
                            {{ form_widget(form.balance.payout,{attr:{class:'form-control'}}) }}
                        </div>
                    {% endif %}

                    <h3 class="text-muted">Social:</h3>

                    <hr>

                    <div class="form-group">
                        {{ form_label(form.profile.facebook) }}
                        {{ form_widget(form.profile.facebook,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.twitter) }}
                        {{ form_widget(form.profile.twitter,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.instagram) }}
                        {{ form_widget(form.profile.instagram,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.website) }}
                        {{ form_widget(form.profile.website,{attr:{class:'form-control'}}) }}
                    </div>

                </div>

                <div class="col-md-6 col-sm-6">

                    <h3 class="text-muted">Address:</h3>

                    <hr>

                    <div class="form-group">
                        {{ form_label(form.profile.nationality) }}
                        {{ form_widget(form.profile.nationality,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.country) }}
                        {{ form_widget(form.profile.address.country,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.county) }}
                        {{ form_widget(form.profile.address.county,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.address1) }}
                        {{ form_widget(form.profile.address.address1,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.address2) }}
                        {{ form_widget(form.profile.address.address2,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.zip) }}
                        {{ form_widget(form.profile.address.zip,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.city) }}
                        {{ form_widget(form.profile.address.city,{attr:{class:'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profile.address.phone) }}
                        {{ form_widget(form.profile.address.phone,{attr:{class:'form-control'}}) }}
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-12 text-center">

                    <hr>

                    <button class="btn btn-info">
                        Save
                    </button>

                </div>

            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.1/cropper.min.js"></script>
    <script src="{{ asset('js/cover-cropper.js') }}"></script>
{% endblock %}
