{% extends 'template.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block header_left %}Change Password{% endblock %}

{% block header_right %}

    <a href="{{ app.request.session.get('back') ?? path('web_profile_edit') }}">
        <i class="fas fa-times"></i>
    </a>

{% endblock %}

{% block main_content %}

    <div class="col-12">

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {% if form.oldPassword is defined %}
            <div class="form-group">
                {{ form_label(form.oldPassword, 'Old Password:') }}
                {{ form_widget(form.oldPassword,{attr:{class:'form-control'}}) }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.password.first, 'New Password:') }}
            {{ form_widget(form.password.first,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.password.second, 'Repeat New Password:') }}
            {{ form_widget(form.password.second,{attr:{class:'form-control'}}) }}
        </div>

        <hr>

        <div class="form-group">
            <button class="btn btn-info">
                Change
            </button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
