<form action="{{ path('web_vote_action',{vote:1}) }}" method="post" class="d-inline">
    <button class="btn btn-success action shadow action  action-publish"><i class="fas fa-check"></i>
    </button>
</form>
<div class="d-inline-block">
    {{ react_component('Favorite',{rendering:'client_side',props:{post:post.id,favorite:favorite}}) }}
</div>
<form action="{{ path('web_vote_action',{vote:0}) }}" method="post" class="d-inline">
    <button class="btn btn-danger action shadow  action action-reject"><i class="fas fa-times"></i>
    </button>
</form>
