<div class="notification-container">

    <div class="container">

        <div class="row">

            <div class="notification-wrapper">

                <div class="poll-vote p-3 p-md-4 rounded">

                    <div class="d-none d-md-inline">
                        <h1 class="h5">
                            {% block message_header %}🔔 Notification{% endblock %}
                        </h1>

                        <a href="#" class="js-hide-notification close-poll"
                           data-api-url="{{ path('api_global_notification_hide', {
                               'notificationName': templateName
                           }) }}">
                            <i class="fa fa-times" title="Close"></i> Close</a>
                        <hr>
                    </div>

                    <h2 class="h4">
                        {% block message_title %}{% endblock %}
                    </h2>

                    <hr class="d-block d-md-none">

                    <div class="poll-choices ">
                        {% block message_content %}{% endblock %}
                    </div>

                    <div class="text-center d-block d-md-none mt-2">
                        <a href="#" class="js-hide-notification"
                           data-api-url="{{ path('api_global_notification_hide', {
                               'notificationName': templateName
                           }) }}">
                            <i class="fa fa-times" title="Close"></i> Close
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>