{% extends "site_notifications/_base.html.twig" %}

{% block message_title %}
    <div class="text-center">
        Upload your photos to get a chance to be published!
    </div>
{% endblock %}

{% block message_content %}
    <div class="text-center d-none d-md-block">
        Each photo is carefully analyzed by professional curators.<br>
        Only the most impressive pictures of those sent for curation are posted in
        the {{ site_name }} gallery.

    </div>
    <hr class="d-none d-md-block">

    <div>
        <a class="btn btn-success btn-block text-white" href="{{ path('web_register') }}">Register</a>
        <a class="btn btn-primary  btn-block text-white" href="{{ path('web_login') }}">Login</a>
    </div>
{% endblock %}
