{{ form_start(form) }}

<div class="text-danger">
    {{ form_errors(form) }}
</div>

<div class="form-group">
    <span class="text-danger">*</span> {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    <span class="text-danger">
                {{ form_errors(form.title) }}
            </span>
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<div class="form-group">
    {{ form_label(form.link) }}
    {{ form_widget(form.link) }}
    {{ form_errors(form.link) }}
</div>

<hr>

<button type="submit" class="btn btn-primary">{{ action }}</button>

{{ form_end(form) }}