{% extends 'template.html.twig' %}

{% block title %}{{ poll.title }}{% endblock %}

{% block header_left %}Add choices for: <strong>{{ poll.title }}</strong>{% endblock %}
{% block header_right %}
    <a href="{{ path('poll_admin_list') }}">
        <i class="fa fa-times"></i>
    </a>
{% endblock %}

{% block row %}
    <div class="row default-form-layout">

        <div class="col-12">

            <div style="display: none" id="js-prototype">

                <div class="form-group row">
                    <div class="col-2 col-sm-1">
                <span class="btn btn-default btn-block" style="cursor: move">
                    <i class="fa fa-arrows-alt text-white"></i>
                </span>
                    </div>

                    <div class="col-8 col-sm-10">
                        <input type="text"
                               data-entity-id="" id="choice-2"
                               class="form-control js-choice-input"
                               placeholder="Choice text"
                        >
                    </div>
                    <div class="col-2 col-sm-1">
                        <button class="btn btn-danger float-right js-remove-input">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

            </div>

            <form action="" method="post">

                <div id="js-form-inputs">

                    {% for choice in poll.choices %}

                        <div class="form-group row">
                            <div class="col-2 col-sm-1">

                            <span class="btn btn-default btn-block" style="cursor: move">
                                <i class="fa fa-arrows-alt text-white"></i>
                            </span>

                            </div>
                            <div class="col-8 col-sm-10">
                                <input type="text"
                                       data-entity-id=""
                                       class="form-control js-choice-input"
                                       placeholder="Choice text"
                                       value="{{ choice.title }}"
                                >
                            </div>
                            <div class="col-2 col-sm-1">
                                <button class="btn btn-danger float-right js-remove-input">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                    {% endfor %}

                </div>

                {# Add more inputs button #}
                <div class="form-group row">
                    <div class="col-12">
                        <button
                                id="js-add-more-btn"
                                class="btn btn-success float-right">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary" id="js-submit-it">Save Choices</button>
                </div>

                <input type="hidden" name="token" value="{{ csrf_token('submit_choices') }}"/>

            </form>

        </div>

    </div>

{% endblock %}

{% block js %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#js-form-inputs").sortable();
            $("#js-form-inputs").disableSelection();
        });
    </script>
    <script>

        $(document).ready(function () {

            $(document).on('click', '.js-remove-input', function (e) {
                e.preventDefault();

                $(this).parent().parent().remove();

                return false;
            });

            $('#js-add-more-btn').on('click', function (e) {
                e.preventDefault();

                let row = $('#js-prototype').clone();
                $('#js-form-inputs').append($(row).html());
            });

            $('#js-submit-it').on('click', function (e) {

                e.preventDefault();

                let choices = [];
                let inputs = $('.js-choice-input');

                inputs.each(function (i, item) {
                    let val = $(item).val();
                    if (val !== '') {
                        choices.push(item);
                    }
                });

                if (choices.length === 0) {
                    return;
                }

                let formSelector = 'form';

                $(choices).each(function (i, item) {
                    addInputToForm(formSelector, i, item)
                });

                $(formSelector).submit();
            });
        });

        function addInputToForm(formSelector, index, value) {
            let form = $(formSelector);
            form.append(
                $('<input type="hidden" name="choice[' + index + ']" value="' + $(value).val() + '">')
            );
        }

    </script>
{% endblock %}