{% extends 'template.html.twig' %}

{% block header_left %}
Edit Poll
{% endblock %}

{% block main_content %}

    <div class="col-12">

        <div class="default-form-layout">

            {{ include ('admin/poll/_form.html.twig', {
                action: 'Edit'
            }) }}

        </div>

    </div>

{% endblock %}

