{% extends 'template.html.twig' %}

{% block title %}Manage polls{% endblock %}

{% block header_left %}Polls{% endblock %}

{% block header_right %}
    <a href="{{ path('poll_admin_new') }}" class="btn btn-success text-white"><i class="fa fa-plus"></i> Create New Poll</a>
{% endblock %}

{% block main_content %}

    <div class="col-12">

        <div class="row">

            {% for poll in polls %}

                <div class="col-12 col-md-6 col-lg-4 mb-4">

                    <div class="card {{ poll.status ? '' : 'inactive-pool' }}">

                        <div class="card-header bg-{{ poll.status ? 'success' : 'dark' }}">

                            {% if poll.status %}

                                <span class="badge badge-success" style="font-size: 1rem">Active</span>

                                <a href="{{ path('poll_admin_deactivate', {
                                    'id': poll.id
                                }) }}"
                                   class="btn btn-sm text-danger float-right"><i class="fa fa-times"></i> Deactivate</a>

                            {% else %}

                                <span class="badge badge-light" style="font-size: 1rem">Inactive</span>

                                <a href="{{ path('poll_admin_activate', {
                                    'id': poll.id
                                }) }}" class="btn btn-sm text-success float-right"><i class="fa fa-check"></i> Activate</a>

                            {% endif %}

                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ poll.title }}</h5>

                            <p class="text-muted card-text">

                                <span>{{ poll.createdAt|date }}</span>

                                <br>
                                {% if poll.description %}
                                    <span>{{ poll.description|raw }}</span>
                                {% endif %}

                                <br>
                                {% if poll.link %}
                                    <span><a href="{{ poll.link }}">Link</a></span>
                                {% endif %}
                            </p>


                            <ul class="list-group">

                                <li class="list-group-item bg-secondary pt-1 pb-1">
                                    {{ poll.choices|length == 0 ? '-- No Choises --' : 'Choices:' }}
                                </li>

                                {% for choice in poll.choices %}
                                    <li class="list-group-item pt-1 pb-1">{{ choice.title }}
                                        <span class="badge badge-secondary float-right">{{ choice.votes|length }}</span>
                                    </li>
                                {% endfor %}
                            </ul>

                            <a href="{{ path('poll_admin_manage_choices', {
                                'id': poll.id
                            }) }}" class="btn btn-primary text-white mt-3">Manage Choices</a>

                        </div>

                        <div class="card-footer">
                            <a href="{{ path('poll_admin_edit', {
                                'id': poll.id
                            }) }}" class="btn btn-warning text-white mr-3"><i class="fa fa-edit"></i> Edit</a>
                            <a href="{{ path('poll_admin_delete', {
                                'id': poll.id
                            }) }}"
                               class="btn btn-danger text-white"
                               onclick="return confirm('Sure?')"
                            ><i class="fa fa-times"></i> Delete</a>
                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block css %}
    <style>
        .inactive-pool {
            opacity: .5;
        }

        .inactive-pool:hover {
            opacity: 1;
        }
    </style>
{% endblock %}
