{% extends 'template.html.twig' %}

{% block title %}Create new Poll{% endblock %}

{% block header_left %}Create new Poll{% endblock %}

{% block header_right %}
    <a href="{{ path('poll_admin_list') }}">
        <i class="fa fa-times"></i>
    </a>
{% endblock %}

{% block main_content %}

    <div class="col-12">

        <div class="default-form-layout">

            {{ include ('admin/poll/_form.html.twig', {
                action: 'Create'
            }) }}

        </div>

    </div>

{% endblock %}