{% for post in posts %}
    <div class="series-option col-lg-3 col-md-4 col-sm-6 col-12">

        <div class="thumb-container">

            <span class="order"></span>

            <label for="post_children_{{ post.id }}">

                <input type="checkbox" id="post_children_{{ post.id }}" name="post[children][]" value="{{ post.id }}">

                <img src="{{ post.image.thumbnail }}" alt="">

            </label>

        </div>


    </div>
{% endfor %}
