<p>Hi there,</p>
<p>We are informing you that your photo was rejected because:</p>

<hr>

<ol class="list-group ">
    {% for index,reason in reasons %}
        <li  class="list-group-item bg-transparent">{{ index + 1 }}. {{ reason }}</li>
    {% endfor %}
</ol>

<img src="{{ post.image.thumbnail }}" class="mt-5" alt="" width="100%">
