{% extends 'base.html.twig' %}

{% set order = {} %}

{% for child  in form.vars.value.children | sort((a, b) => a.position <=> b.position) %}
    {% set order =  order | merge([child.id]) %}
{% endfor %}

{% block title %}{{ form.vars.method == 'POST' ? 'Create' : 'Update' }} Series{% endblock %}

{% block css %}
    <style>
        .series-option {
            text-align: center;
        }

        .series-option label img {
            max-width: 100%;
            max-height: 300px;
            border: 5px solid transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            cursor: pointer;

        }

        .series-option span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-weight: bold;
            font-size: 40px;
            -webkit-text-stroke: 2px black;
        }

        .series-option input {
            display: none;
        }

        .series-option input:checked + img {
            border: 5px dashed #aaa;
        }

        .series-option input:checked + img.cover {
            border: 5px dashed #375a7f !important;
        }
    </style>
{% endblock %}

{% block body %}

    {% form_theme form 'form_div_layout.html.twig' %}

    {% if app.user.isVerified == false %}
        {% include '_partials/resent-confirmation.html.twig' %}
    {% else %}
        {% if form.children | length < settings.min %}

            <div class="container center">

                <div class="jumbotron d-flex justify-content-center align-items-center flex-column ">

                    <h3 class="text-center text-muted">You don not have enough published photos!</h3>

                    <small class="text-muted mb-3">Send images to curator or </small>

                    <a href="{{ path('web_photo_create') }}" class="btn btn-blue">Upload</a>

                </div>

            </div>

        {% else %}

            <div class="container basic-layout">

                <hr>

                <h3>{{ form.vars.method == 'POST' ? 'Create' : 'Update' }} Series</h3>

                <hr>

                <div class="upload-single">

                    <div class="upload">

                        {{ form_start(form) }}

                        <div class="row">

                            <div class="col-12">

                                <div class="form-group row  pl-3 pr-3">

                                    {{ form_label(form.category, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                    {{ form_widget(form.category,{attr:{class:'col-md-9 form-control'}}) }}

                                </div>

                                <div class="form-group row pl-3 pr-3">

                                    {{ form_label(form.title, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                    {{ form_widget(form.title,{attr:{class:'col-md-9 form-control'}}) }}

                                </div>

                                <div class="form-group row pl-3 pr-3">

                                    {{ form_label(form.tags, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                    {{ form_widget(form.tags,{attr:{class:'col-md-9 form-control'}}) }}

                                </div>

                                <div class="form-group row pl-3 pr-3">

                                    {{ form_label(form.description, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                    {{ form_widget(form.description,{attr:{class:'col-md-9 form-control'}}) }}

                                </div>

                                <div class="row pl-3">

                                    <div class="col-md-3"></div>

                                    <div class="col-md-9">

                                        <div class="form-check">
                                            {{ form_widget(form.isNude,{attr:{class:'form-check-input'}}) }}
                                            <label for="{{ form.isNude.vars.id }}">
                                                {{ form.isNude.vars.label }}
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            {{ form_widget(form.isGreyscale,{attr:{class:'form-check-input'}}) }}
                                            <label for="{{ form.isGreyscale.vars.id }}">
                                                {{ form.isGreyscale.vars.label }}
                                            </label>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <hr>

                        {% if form.children.children is defined %}

                            <div class="row">

                                <div class="col-md-12">

                                    <div class="row">

                                        <div class="col-md-6">

                                            <h5 class="text-muted" id="selected-images">Select photos</h5>

                                            <div class="text-danger">{{ form_errors(form.children) | striptags }}</div>

                                        </div>

                                        <div class="col-md-6">

                                            <h5 class="text-right text-muted">

                                                <span class="selected-images {{ form.vars.value.children | length  > settings.max ? 'text-danger' : '' }}">{{ form.vars.value.children | length }}</span>/{{ settings.max }}

                                            </h5>

                                        </div>

                                    </div>

                                    <hr class="no-gutter">

                                </div>

                            </div>

                            <div class="row available-photos  d-flex justify-content-center align-items-center"
                                 style="height: 600px;overflow: auto">

                                {% for child in form.children %}

                                    <div class="series-option col-lg-3 col-md-4 col-sm-6 col-12">

                                        <div class="thumb-container">

                                            <span class="order"></span>

                                            <label for="post_children_{{ child.vars.value }}">

                                                {{ form_widget(child) }}

                                                <img src="{{ child.vars.label }}" alt="">

                                            </label>

                                        </div>

                                    </div>

                                {% endfor %}

                            </div>

                        {% else %}

                            <div class="row">

                                {% for child in post.children %}

                                    <div class="col-md-3 mb-3">

                                        <img src="{{ child.image.thumbnail }}" alt="" height="200px" width="100%" style="object-fit: cover">

                                    </div>

                                {% endfor %}

                            </div>

                        {% endif %}

                        <div class="text-center mt-5">

                            {{ form_widget(form.create,{attr:{class:"btn btn-blue"},label: form.vars.method == 'POST' ? 'Create' : 'Update' }) }}

                        </div>

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>

        {% endif %}
    {% endif %}



{% endblock %}

{% block js %}

    <script src="{{ asset('js/infinite.js') }}"></script>

    <script>infinite('.available-photos', '.available-photos');</script>

    <script>

        $(function () {

            let hiddenOrder = $('#post_position');

            hiddenOrder.val('{{ order | join(',') }}')

            let order = hiddenOrder.val() ? hiddenOrder.val().split(',') : [];

            let selected = $('.selected-images');

            function updateNumbers() {
                $('.series-option input[type="checkbox"]').each(function (index, item) {

                    item = $(item);

                    let i = order.indexOf(item.val());

                    if (i > -1) {

                        item.siblings('img').removeClass('cover');

                        if (i === 0) {
                            item.siblings('img').addClass('cover');
                        }

                        item.parent().siblings('.order').text(i + 1)
                        item.prop('checked', true)
                    } else {
                        item.parent().siblings('.order').html('')
                    }

                });
            }

            updateNumbers();

            function updateCheckbox(e) {

                e.preventDefault();

                if (e.target.checked) {

                    if (order.length + 1 > {{ settings.max }}) {
                        $(e.target).prop('checked', false)
                        return false;
                    }

                    order.push(e.target.value);

                    $(e.target).parent().siblings('.order').text(order.length)

                } else {

                    order = order.filter(function (v) {
                        return v != e.target.value;
                    })

                }

                updateNumbers();

                hiddenOrder.val(order);

                selected.text(order.length);

            }

            $(document).on('change', '.series-option input[type="checkbox"]', updateCheckbox)

            $('#reset-selection').on('click', function (e) {
                e.preventDefault();
                $('.series-option input[type="checkbox"]').prop('checked', false);
                $('.selected-images').text(0);
                order = [];

                updateNumbers()
            })
        });

        $(function () {
            let h = $('#selected-images');

            $(document).scroll($.throttle(250, function (e) {

                if ($(window).scrollTop() > 700) {

                    h.css({
                        'position': 'fixed',
                        'left': '50%',
                        'top': '100px',
                        'background': '#fff',
                        'zIndex': 100,
                        'transform': 'translateX(-50%)'
                    });
                    h.addClass('shadow rounded p-2')

                } else {

                    h.removeAttr('style');
                    h.removeClass('shadow rounded p-2')

                }
            }))
        });

    </script>
{% endblock %}

