{% extends 'base.html.twig' %}
{% block title %}{{ tag }}{% endblock %}
{% block body %}
    <div class="container photos sm-full photos-infinite">
        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            mobile:is_mobile(),
            nude:nude,
            posts:posts.items,
            hidden: posts.total != 0,
            auth:auth,
            sizes: sizes(),
            materials: materials(),
            tag: app.request.get('tag'),
            curator: is_granted('ROLE_CURATOR'),
            page: 'tag'}}) }}
    </div>
{% endblock %}
