{% extends 'base.html.twig' %}

{% block title %}Upload Series{% endblock %}

{% block body %}

    {% if app.user.isVerified == false %}
        {% include '_partials/resent-confirmation.html.twig' %}
    {% else %}
        <div class="container basic-layout">

            <div class="upload-single">

                <div class="upload">

                    {{ form_start(form) }}

                    <hr>

                    <h3 class="d-flex">
                        <span class="flex-grow-1">{{ form.vars.method == 'POST' ? 'Create' : 'Update' }} Series</span>

                        {% if form.vars.method == 'PUT' and form.children.vars is defined %}
                            <button class="btn btn-blue curator-warning-btn"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    data-title="Send to Curators"
                                    type="button"
                                    data-url="{{ path('web_photo_for_curate',{id: post.id, page:app.request.get('page')}) }}">
                                Send For Curate
                            </button>

                        {% endif %}

                    </h3>

                    <hr>

                    {{ form_errors(form) }}

                    <div class="row mb-5">

                        <div class="col-12">

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.category, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.category,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.title, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.title,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.tags, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.tags,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.description, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.description,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="row pl-3">

                                <div class="col-md-3"></div>

                                <div class="col-md-9">

                                    {{ form_label(form.isNude) }}
                                    {{ form_widget(form.isNude) }}

                                    {{ form_label(form.isGreyscale) }}
                                    {{ form_widget(form.isGreyscale) }}

                                </div>

                            </div>

                        </div>

                    </div>

                    {% if form.children.vars is defined %}

                        <h3 class="text-muted">
                            Photos: (<span class="counter">{{ form.children | length }}</span>/{{ settings.max }})
                            <small class="float-right text-danger ml-5 errors-min d-none">You must add at least <span class="counter">{{ form.children | length }}</span> photos!</small>
                        </h3>

                        <hr>

                        <div class="row series-list mb-5"
                             data-prototype="{{ _self.image() }}"
                             data-widget-counter="{{ form.children|length }}">

                            {% for index,child in form.children %}

                                <div class="col-md-3 mb-3">

                                    {% if form.vars.method == 'POST' or child.vars.value is null %}

                                        <div class="d-flex justify-content-center align-items-center">

                                            {{ form_widget(child.image.file,{attr:{class:'auto','data-label':child.image.file.vars.label}}) }}

                                        </div>


                                        {{ form_widget(child.title,{attr:{placeholder:'Title'}}) }}

                                    {% else %}

                                        <div class="text-center mb-3 d-flex justify-content-center align-items-center"
                                             style="height: 200px">

                                            <a href="{{ path('web_photo_update', {id: child.vars.value.id}) }}">
                                                <img src="{{ child.vars.value.image.thumbnail }}"
                                                     alt="{{ child.vars.value.title }}"
                                                     style="max-width: 100%;max-height: 200px"
                                                />
                                            </a>

                                        </div>

                                        <div class="d-flex">

                                            {{ form_widget(child.title,{attr:{placeholder: 'Title'}}) }}

                                            {% if workflow_has_marked_place(post,0) and post.cover.id != child.vars.value.id %}

                                                <button class="btn ml-2"
                                                        data-toggle="tooltip"
                                                        title="Set as cover"
                                                        formaction="{{ path('web_photo_set_cover',{id:child.vars.value.id}) }}"
                                                        data-original-title="Set as cover">

                                                    <i class="far fa-file-image"></i>

                                                </button>

                                            {% endif %}

                                            {% if workflow_has_marked_place(post,0) and post.cover.id != child.vars.value.id and post.children | length > settings.min %}
                                                <button class="btn text-danger ml-2 delete-warning-btn"
                                                        data-toggle="tooltip"
                                                        type="button"
                                                        title="Remove from series"
                                                        data-url="{{ path('web_photo_delete',{id:child.vars.value.id}) }}"
                                                        data-original-title="Set as cover">

                                                    <i class="fa fa-trash-alt"></i>

                                                </button>
                                            {% endif %}
                                        </div>

                                    {% endif %}

                                </div>

                            {% endfor %}

                            {% if form.children | length < settings.max %}
                                <div class="col-md-3 mb-3 series-add-button-wrapper">

                                    <button type="button" class="series-add-button shadow">
                                        <i class="fas fa-plus"></i>
                                    </button>

                                </div>

                            {% endif %}

                        </div>

                    {% else %}

                        <div class="row">

                            {% for child in post.children %}

                                <div class="col-md-3 mb-3">

                                    <img src="{{ child.image.thumbnail }}" alt="" height="200px" width="100%"
                                         style="object-fit: cover">

                                </div>

                            {% endfor %}

                        </div>

                    {% endif %}

                    <div class="text-center">

                        {{ form_widget(form.upload,{label: form.vars.method == 'POST' ? 'Create' : 'Update' }) }}

                    </div>

                    {{ form_end(form) }}
                </div>

            </div>

        </div>
    {% endif %}


{% endblock %}

{% block js %}

    <script>

        $.min = '{{ form.vars.method == 'POST' ? settings.min : 0 }}'

        jQuery(document).ready(function () {

            $('.custom-file').dropzone({form: $('form')})

            let list = jQuery('.series-list');
            // Try to find the counter of the list or use the length of the list
            let counter = list.data('widget-counter') || list.children().length;

            let $series = $('.series-add-button-wrapper');
            let $counter = $('.counter');

            jQuery('.series-add-button').click(function (e) {
                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(newWidget);

                var remove = $('<button class="remove-series"><i class="fas fa-times"></i></button>')

                newElem.prepend(remove)

                $counter.text(counter);

                remove.on('click', function () {
                    newElem.remove()
                    counter--;
                    $counter.text(counter);
                    list.data('widget-counter', counter);

                    let event = new CustomEvent('series-child-removed')
                    document.dispatchEvent(event);

                    --$.min

                    if (counter < '{{ settings.max }}') {
                        $series.show()
                    }
                })

                $series.before(newElem)

                ++$.min

                newElem.find('.custom-file').dropzone({form: $('form')});

                if (counter == '{{ settings.max }}') {
                    $series.hide()
                }

            });
        });

    </script>

    {% from "_partials/warning.html.twig" import warning %}

    {{ warning('delete-warning-modal','delete-warning-form','delete-warning-btn','Confirm!', 'Are you sure you want delete this photo?') }}

    {{ warning('curator-warning-modal','curator-warning-form','curator-warning-btn','Confirm!', 'Are you sure you want to send this photo to curator?') }}

{% endblock %}

{% macro image() %}
    <div class='col-md-3 mb-3'>
        <div class='d-flex justify-content-center align-items-center'>
            <div class='custom-file'>
                <input type='file'
                       id='post_children___name___image_file'
                       name='post[children][__name__][image][file]'
                       class='auto custom-file-input'
                       data-label='Click or Drag & Drop File'
                       accept='image/jpeg,image/png'>
                <label for='post_children___name___image_file' class='custom-file-label'></label>
            </div>
        </div>
        <input type='text' id='post_children___name___title' name='post[children][__name__][title]' placeholder='Title'
               class='form-control'></div>
{% endmacro %}
