{% extends 'base.html.twig' %}


{% block title %}Product{% endblock %}

{% block body %}

    {{ app.session.set('total',0) }}

    <div class="container basic-layout">

        <div class="upload-single">

            <div class="upload pt-5">

                <h3 class="d-flex">
                    <span class="flex-grow-1">Product</span>
                    {% if app.request.session.get('product-back') %}
                        <a href="{{ path( app.request.session.get('product-back'),app.request.session.get('product-back-arguments')) }}">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}

                </h3>
                <hr>

                {{ form_start(form) }}

                {{ form_errors(form) }}

                {% if app.request.get('type') == 'single' %}

                    <div class="row">

                        <div class="col-4"></div>

                        {{ _self.upload(form,product,configuration) }}

                    </div>


                {% else %}


                    <div class="row">

                        {% for index,f in form.children %}

                            {{ _self.upload(f,product.children[index],configuration) }}

                        {% endfor %}

                    </div>


                {% endif %}

                <div class="text-center">
                    {% if app.request.attributes.get('type') == 'series' and product.status == 3 %}
                        <hr>
                        {% if product.newCommission %}
                            <p class="text-info">Your series price will be
                                                 changed on {{ product.commissionChangingOn|date('d M H:iA') }}
                                                 to {{ product.newCommission }} &euro;.</p>
                        {% endif %}

                        <h4 class="text-muted">Price <strong>{{ product.commission }} &euro;</strong></h4>
                        <hr>
                    {% endif %}

                </div>

                <div class="text-center mt-5">

                    {% if app.session.get('total',0) > 0 %}
                        <button class="btn btn-blue">Save</button>
                    {% endif %}

                    <div>
                        <a href="{{ path('web_photos_manage', {type: app.request.attributes.get('type')}) }}"
                           class="btn">Back to
                                       Manage {{ app.request.attributes.get('type') != 'series' ? 'Photos' : 'Series' }} </a>
                    </div>

                </div>

                <div class="d-none">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}


            </div>

        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.custom-file-input').on('change', function () {

                let $label = $(this).parent().find('label');

                $label.addClass('text-left')
                $label.text('Added')

            })
        })
    </script>
{% endblock %}

{% macro upload(form,product,configuration) %}

    <div class="col-4 mb-4 d-flex">

        <div class="card p-0">

            <div class="card-body p-0">

                {% if workflow_has_marked_place(product, 1) %}

                    <div class="sticker pending semi-transparent">
                        Pending Review
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(product, 2) %}

                    <div class="sticker canceled semi-transparent">
                        Not approved!
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(product, 3) %}

                    <div class="sticker approved semi-transparent">
                        In Store!
                    </div>

                {% endif %}

                <img src="{{ product.post.image.thumbnail }}" alt=""
                     style="object-fit: cover" width="100%" height="300px">
            </div>

            {% if product.post.image.print is not empty %}

                <div class="card-footer">

                    <p class="text-success m-0">Print file uploaded!</p>

                </div>

            {% endif %}

            {% if form.post is defined %}

                {{ app.session.set('total',app.session.get('total',0) + 1) }}


                <div class="card-footer">

                    {{ form_errors(form.post.image.file) }}

                    <small class="text-muted">{{ 'Print File' | upper }} <span class="text-danger">*</span></small>

                    {{ form_widget(form.post.image.file,{attr:{class:'product'}}) }}

                    <small class="text-muted">Print width and height should be >= {{ configuration.minPrintSize }}
                                              pixels</small>


                </div>

            {% endif %}

            {% set  eligible = need_print(product.post.image) == false %}

            {% if product.post.image.print is null and eligible %}

                <div class="card-footer">

                    <div class="d-flex text-success">

                       <span class="flex-grow-1  text-success">

                          Your current file size is eligible for store no need to upload file.

                       </span>

                    </div>

                </div>

            {% endif %}

            <div class="card-footer">

                {% if form.commission is defined %}

                    {{ app.session.set('total',app.session.get('total',0) + 1) }}

                    <small class="text-muted"> {{ 'commission in euro €' | upper }}: <span class="text-danger">*</span></small>

                    {{ form_widget(form.commission) }}

                    <small class="text-muted">Range {{ configuration.minCommission }}
                                              - {{ configuration.maxCommission }}
                        {{ configuration.currency }}
                    </small>

                    {{ form_errors(form.commission) }}

                {% else %}

                    {% if configuration.priceUpdateInterval is defined and configuration.priceUpdateInterval > 0 %}

                        <p class="text-info">You will be able to change the price
                                             on: {{ product.priceChangedAt|date('d M H:iA') }}.</p>


                    {% else %}

                        <p class="text-muted">Commission
                            <strong>{{ product.commission | number_format(2) }} {{ configuration.currency }}</strong>
                        </p>

                    {% endif %}

                    {% if product.newCommission %}
                        <p class="text-info">Your price will be
                                             changed on {{ product.commissionChangingOn|date('d M H:iA') }}
                                             to {{ product.newCommission }} &euro;.</p>
                    {% endif %}

                    <p class="text-muted">Price <strong>{{ product.commission }} &euro;</strong></p>


                {% endif %}

            </div>

        </div>

    </div>

{% endmacro %}
