{% extends 'base.html.twig' %}

{% block title %}Upload Photo{% endblock %}

{% block body %}

    {% if app.user.isVerified == false %}

        {% include '_partials/resent-confirmation.html.twig' %}

    {% else %}

        <div class="container basic-layout">

            <div class="upload-single">

                <div class="upload">

                    {{ form_start(form) }}

                    <h3>{{ form.vars.method == 'POST' ? 'Upload' : 'Update' }} Photo </h3>

                    <hr>

                    {{ form_errors(form) }}

                    <div class="row mb-5">

                        <div class="col-xl-4">

                            {% if form.vars.method == 'POST' %}

                                {{ form_widget(form.image.file,{attr:{'data-label':form.image.file.vars.label}}) }}

                                {{ form_errors(form.image.file) }}

                                <div class="mt-3">

                                    <ul class="list-unstyled small">

                                        <li>
                                            <strong class="text-danger">*</strong> Min Res.: 1000px per one of the sides
                                        </li>

                                        <li>
                                            <strong class="text-danger">*</strong> Max file size: 30 MB
                                        </li>

                                        <li>
                                            <strong class="text-danger">*</strong> Format JPEG sRGB
                                        </li>

                                        <li>
                                            <strong class="text-danger">*</strong> No watermarks or signatures on the
                                                                                   image
                                        </li>

                                        <li>
                                            <strong class="text-danger">*</strong> No borders on the image
                                        </li>

                                    </ul>

                                </div>

                            {% else %}

                                <img src="{{ post.image.thumbnail }}" alt="{{ post.title }}" width="100%">

                                {% if (workflow_can(post,'to_curate') or workflow_has_marked_place(post,2)) and post.parent is null %}

                                    <button type="button"
                                            class="btn btn-danger warning-action mt-3"
                                            data-url="{{ path('web_photo_delete',{id:post.id}) }}">
                                        Delete
                                    </button>

                                {% endif %}

                            {% endif %}

                        </div>

                        <div class="col-xl-8">

                            <div class="form-group row  pl-3 pr-3">

                                {{ form_label(form.category, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.category,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.title, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.title,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.tags, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.tags,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="form-group row pl-3 pr-3">

                                {{ form_label(form.description, null, {label_attr:{class:'col-md-3 col-form-label'}}) }}
                                {{ form_widget(form.description,{attr:{class:'col-md-9'}}) }}

                            </div>

                            <div class="row pl-3 pr-3">

                                <div class="col-md-3"></div>

                                <div class="col-9">

                                    <div>

                                        {{ form_widget(form.isNude) }}

                                    </div>

                                    <div>

                                        {{ form_widget(form.isGreyscale) }}

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <h3 class="text-muted">Optional Details:</h3>

                    <hr>

                    <div class="row">

                        <div class="col-md-3">{{ form_row(form.image.camera) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.lens) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.focalLength) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.shutterSpeed) }}</div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">{{ form_row(form.image.ISO) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.exposure) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.flash) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.filter) }}</div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">{{ form_row(form.image.tripod) }}</div>

                        <div class="col-md-3">{{ form_row(form.image.aperture) }}</div>

                    </div>

                    <div class="text-center mt-5">

                        {{ form_widget(form.upload) }}

                    </div>

                    {{ form_end(form) }}

                </div>

            </div>

        </div>

    {% endif %}

{% endblock %}

{% block js %}

    {% set message = 'Are you sure you want to delete this photo permantly?' %}

    {% include '_partials/warning-modal.html.twig' %}

    <script>
        $(function () {
            $('.custom-file').dropzone({form: $('form')});
        })
    </script>

{% endblock %}
