.cover-option {

  max-height: 500px;
  overflow-y: auto;

  .form-check {
    display: none !important;
  }

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}

.photos-option {
  max-height: 500px !important;
  overflow-y: auto !important;
}
