.cart-wrapper {

  width: 50%;
  margin: auto;
  color: #fff;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  input, select {
    color: $gray-text;
    background: $input-bg;
  }

  .empty-cart {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -50px;
  }

  .bg-gray {
    background: #eee;

    ul {
      display: block;
      list-style: none;
    }
  }

  .remove-item-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    cursor: pointer;
    font-size: 26px;
  }

  .items {

    .w-50 {
      vertical-align: middle;

    }

    .item {

      color: #fff;
      position: relative;
      background: $secondary-bg;


      .updating {

        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: 2000;
        background: rgba(255, 255, 255, 0.5);

        > div {
          color: #fff;
          position: absolute;
          width: 100px;
          height: 100px;
          left: 50%;
          top: 50%;
          margin-top: -50px;
          margin-left: -50px;
          z-index: 2000;
        }
      }

      .item-size{
        font-size: 12px;
      }

      .series {
        overflow: hidden;
        width: 200px;
        margin: auto;



        .grid-5 {

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          > div {
            position: relative;
            overflow: hidden;
            padding: 2px;
            box-sizing: border-box;


            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:first-child {
              padding-left: 0;
              padding-top: 0;
              width: 50%;
              height: 100px;
            }

            &:nth-child(2) {
              padding-top: 0;
              padding-right: 0;
              width: 50%;
              height: 100px;
            }

            &:nth-child(3) {
              padding-bottom: 0;
              padding-left: 0;
              width: 33.3333%;
              height: 50px;
            }

            &:nth-child(4) {
              padding-bottom: 0;
              width: 33.3333%;
              height: 50px;
            }

            &:nth-child(5) {
              padding-bottom: 0;
              padding-right: 0;
              width: 33.3333%;
              height: 50px;
              position: relative;
            }

            &:last-child {
              position: relative;
            }
          }

        }

        .grid-4 {

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          > div {
            position: relative;
            overflow: hidden;
            padding: 2px;
            box-sizing: border-box;


            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:first-child {
              width: 50%;
              height: 100px;
            }

            &:nth-child(2) {
              width: 50%;
              height: 100px;
            }

            &:nth-child(3) {
              width: 50%;
              height: 100px;
            }

            &:nth-child(4) {
              width: 50%;
              height: 100px;
            }

            &:last-child {
              position: relative;
            }

          }

          .last {
            line-height: 150px;
          }

        }

        .grid-3 {

          display: flex;
          flex-wrap: wrap;
          align-items: start;
          justify-content: center;

          > div {
            position: relative;

            overflow: hidden;
            padding: 2px;
            box-sizing: border-box;


            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:first-child {
              width: 100%;
              height: 150px;
            }

            &:nth-child(2) {
              width: 50%;
              height: 100px;
            }

            &:nth-child(3) {
              width: 50%;
              height: 100px;
            }

            &:last-child {
              position: relative;
            }

          }

          .last {
            line-height: 150px;
          }

        }

        .grid-2 {

          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          > div {
            position: relative;
            overflow: hidden;
            padding: 2px;
            box-sizing: border-box;


            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            &:first-child {
              width: 50%;
              height: 100px;
            }

            &:nth-child(2) {
              width: 50%;
              height: 100px;
            }

            &:last-child {
              position: relative;
            }

          }

          .last {
            line-height: 200px;
          }
        }

        .last {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: auto !important;
          background: rgba(0, 0, 0, .3);
          color: #fff;
          font-size: 24px;
          text-align: center;
          line-height: 96px;

          a {
            color: #fff;
          }
        }

        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
    }




  }



  .cart-table {
    background: $secondary-bg;
  }

  .payment-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 20000;
    text-align: center;
    vert-align: middle;

    .wrapper {

      background: #fff;
      width: 400px;
      height: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -200px;
      margin-left: -200px;

      > div {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 50%;
        margin-left: -50px;
      }

      .payment-loader-text {
        left: 0;
        right: 0;
        margin-left: 0;
        text-align: center;
        margin-top: 100px;
        color: #00BFFF;
      }
    }
  }


}

.checkout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px 0;
  background: rgba(255, 255, 255, .3);
  opacity: 0.3;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }
}

@include screen-sm {
  .cart-wrapper {
    width: 100%;

    .items {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@include screen-lg {
  .cart-wrapper {
    width: 80%;
  }
}

@include screen-md {
  .cart-wrapper {
    width: 80%;
  }
}

@include screen-xl-up {
  .cart-wrapper {
    width: 50%;
  }
}
