.curator-page{
  .circle-btn {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

  .curate-posts {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
  }

  .post {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 10px 80px 10px;
  }

  .post .show-date {
    width: 30px;
    height: 30px;
    background: #000;
    position: absolute;
    left: -17px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    margin-top: -50px;
  }

  .post img {
    width: auto;
    max-height: 200px;
    max-width: 100%;
  }

}

.curator-show{
  .circle-btn {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }

}

.large-image{
  &.large {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
    background: #000;
    display: none;
    justify-content: center;
    align-items: center;
  }

  &.large.show {
    display: flex;
  }

  &.large .close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff !important;
  }

  &.large .close-btn i {
    color: #fff !important;
  }

  &.large img {
    max-height: 100%;
    max-width: 100%;
  }
}
.curate-posts .column {
  background: $secondary-bg;
}

.curator-table tr td {
  text-align: left;

  &:first-of-type {
    text-align: right;
  }
}