.forums {

   .list-group-item {
     background: $secondary-bg;

     &:hover {
       background: $input-bg;
     }
   }

   .category-image {
     img {
       width: 100%;
       object-fit: cover;
     }
   }
 }

.forum-topics {
  h5 {
    margin: .1rem 0 .5rem 0 !important;
  }
}

.forum-reply-body {
  background: $secondary-bg;
}

.forum-reply-footer {
  background: $input-bg;
}

.ck-toolbar {
  background: $input-bg !important;
  border-color: $secondary-bg !important;


  button {
    color: $gray-text !important;

    &:hover {
      color: black !important;
    }
  }
}

.ck-content {
  background: $input-focus-bg !important;
  border-color: $secondary-bg !important;
}

.ck .ck-content {
  max-height: 100px !important;
  min-height: 100px !important;
}
