.photo-of-the-day {
  position: relative;
  overflow: hidden;
  margin: 2rem auto 0;
  border: 10px solid $secondary-bg;
  display: inline-block;
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, .28);

  a .label {
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: inline-block;
    color: $gray-text;
    background: rgba(0, 0, 0, 0.5);
    padding: .5em 1em;
  }

  .author {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: .5em 1em;
    opacity: .8;
    text-shadow: 1px 1px 2px #000;
  }

  img {
    max-width: 100%;
    max-height: 500px;
  }
}

.social {
  padding: .5em 1em;

  a {
    opacity: .8;

    &:hover {
      text-decoration: none !important;
      opacity: 1;
    }
  }
}

.video-player {
  margin: 2rem auto 0;
  border: 10px solid $secondary-bg;
  box-shadow: 0 20px 15px -10px rgba(0, 0, 0, .28);
}

.horizontal-divider {
  width: 100%;
  height: 5px;
  background: $nav-bg;
}

.photo-of-the-day-title {
  opacity: .75;
  text-transform: uppercase;
  font-weight: bold;

  .date {
    opacity: .55;
  }
}