@include screen-wide {
  .photos {
    max-width: 1600px !important;
  }
}

@include screen-sm {
  .photos {
    .photo {
      .thumb-container {
        img {
          max-width: 100% !important;
        }
      }
    }
  }
}

.photos {

  .photo {
    cursor: pointer;
    position: relative;

    .thumb-container {
      position: relative;
      margin-bottom: 15px;
      display: block;

      img {
        max-width: 85%;
        max-height: 300px;
      }

    }

    .photo-nude-content {
      position: absolute;
      background: $secondary-bg;
      top: 0;
      left: -5px;
      right: -5px;
      bottom: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      z-index: 100;
      display: block;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: #fff;
      flex-direction: column;

      .nude-container {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 100%;

        div {
          line-height: 15px;

          &:last-child {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.filters {
  .categories {
    li {
      input[type=checkbox] {
        display: none;

        &:checked ~ label {
          border-bottom: 3px solid #348edc;
        }
      }


      label {
        margin: 5px 20px;
        color: #007bff;
        cursor: pointer;
        position: relative;
        border-bottom: 3px solid transparent;


        &:after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 3px;
          width: 0;
          background: rgba(52, 142, 220, 0.2);
          transition: 0.1s all ease-out;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }


      }
    }
  }
}

@include screen-sm {
  .sm-full {
    margin: 0 !important;
    padding: 0 !important;
  }

  .photos-scroll {
    padding: 0 !important;
    margin: 0 !important;

    > div {
      padding: 0 !important;
      margin: 0 !important;

      > a {
        > img {
          max-height: 100% !important;
          width: 100%;
        }
      }
    }
  }
}
