.photo-series {

  @include screen-sm {
    padding: 0 !important;
    width: 100% !important;
    .series {
      width: 100% !important;
      margin: 30px 0 !important;

    }
  }
  .series {
    overflow: hidden;
    width: 300px;

    .grid-5 {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      > div {
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:first-child {
          width: 50%;
          height: 200px;
        }

        &:nth-child(2) {
          width: 50%;
          height: 200px;
        }

        &:nth-child(3) {
          width: 33.3333%;
          height: 100px;
        }

        &:nth-child(4) {
          width: 33.3333%;
          height: 100px;
        }

        &:nth-child(5) {
          width: 33.3333%;
          height: 100px;
          position: relative;
        }

        &:last-child {
          position: relative;
        }
      }

    }

    .grid-4 {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      > div {
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:first-child {
          width: 50%;
          height: 150px;
        }

        &:nth-child(2) {
          width: 50%;
          height: 150px;
        }

        &:nth-child(3) {
          width: 50%;
          height: 150px;
        }

        &:nth-child(4) {
          width: 50%;
          height: 150px;
        }

        &:last-child {
          position: relative;
        }

      }

      .last {
        line-height: 150px;
      }

    }

    .grid-3 {

      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: center;

      > div {
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:first-child {
          width: 100%;
          height: 200px;
        }

        &:nth-child(2) {
          width: 50%;
          height: 150px;
        }

        &:nth-child(3) {
          width: 50%;
          height: 150px;
        }

        &:last-child {
          position: relative;
        }

      }

      .last {
        line-height: 150px;
      }

    }

    .grid-2 {

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      > div {
        overflow: hidden;
        padding: 2px;
        box-sizing: border-box;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:first-child {
          width: 50%;
          height: 200px;
        }

        &:nth-child(2) {
          width: 50%;
          height: 200px;
        }

        &:last-child {
          position: relative;
        }

      }

      .last {
        line-height: 200px;
      }
    }

    .last {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto !important;
      background: rgba(0, 0, 0, .3);
      color: #fff;
      font-size: 24px;
      text-align: center;
      line-height: 96px;

      a {
        color: #fff;
      }
    }
  }

}

.series-update {

  input,
  select,
  textarea,
  option {
    background: $input-bg;
    color: $gray-text !important;

    &:focus {
      background: $input-focus-bg !important;
    }
  }

}

.set-cover {
  display: none;
}

.series-options{

}
