.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .post {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    background: $alt-bg;
    margin: 0 20px 20px;

    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }


    .image {
      overflow: hidden;
    }

    .actions button,
    .actions a {
      background: transparent;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: inline-block;
      vertical-align: top;
      color: #fff;
      line-height: 40px;
      text-align: center;
      margin: 0 10px;
    }
  }


}
