//.members {
//  display: flex;
//  justify-content: center;
//  flex-wrap: wrap;
//
//
//  .member {
//    width: 300px;
//    height: 250px;
//    background: $alt-bg;
//    position: relative;
//    overflow: hidden;
//    margin: 20px;
//    -webkit-border-radius: 5px;
//    -moz-border-radius: 5px;
//    border-radius: 5px;
//
//    .cover {
//      height: 130px;
//      overflow: hidden;
//      text-align: center;
//
//      img {
//        width: 100%;
//        height: 130px;
//      }
//    }
//
//    .avatar {
//      position: absolute;
//      left: 50%;
//      margin-left: -50px;
//      top: 50%;
//      margin-top: -50px;
//
//      img {
//        width: 100px;
//        height: 100px;
//        -webkit-border-radius: 100%;
//        -moz-border-radius: 100%;
//        border-radius: 100%;
//      }
//    }
//
//    h5 {
//      position: absolute;
//      left: 0;
//      right: 0;
//      bottom: 20px;
//      text-align: center;
//    }
//  }
//}

.profile-thumb {
  margin: 0 0 1rem 0;
  overflow: hidden;

  .profile-cover {
    height: 150px;
    position: relative;
    object-fit: cover;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: 10000;
    }

    .profile-avatar {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      margin-bottom: -50px;
      width: 100px;
      height: 100px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .profile-username {
    overflow: hidden;
    background: $secondary-bg;
    height: 120px;
    font-size: 1rem;
    padding-top: 75px;

    h5 {
      margin: 0 !important;
      padding: 0 !important;
      text-align: center !important;
      font-size: 1rem !important;
    }
  }
}
