::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: $secondary-bg !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.new-message {
  .search-results {
    background: $secondary-bg;
    padding: 0 1rem;
    z-index: 200;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    width: 100%;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.messages {
  .right-content {
    background: $secondary-bg;
    border-radius: 5px;
    padding: 0 15px;
    overflow: hidden;

    h3 {
      margin: .5rem 0;
    }

    .ck-toolbar {
      background: $input-bg !important;
      border-color: $secondary-bg !important;


      button {
        color: $gray-text !important;

        &:hover {
          color: black !important;
        }
      }
    }

    .ck-content {
      background: $input-focus-bg !important;
      border-color: $secondary-bg !important;
    }
  }

  .replies-container {
    max-height: 500px;
    overflow-y: auto;
  }

  .replies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;

    li {
      width: 100%;
      display: flex;
      flex-direction: column;

      div {
        max-width: 90%;
        padding: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        p {
          margin: 0;
        }
      }

      div.left {
        background: $nav-bg;
        align-self: flex-start;
        border-radius: 0 10px 10px 10px;
      }

      div.right {
        align-self: flex-end;
        background: $input-focus-bg;
        border-radius: 10px 0 10px 10px;
      }

      @media (max-width: 767.98px) {

        div.left {
          width: 100%;
        }

        div.right {
          width: 100%;
        }
      }

      div.transparent-bg {
        color: rgba(255, 255, 255, 0.2);
        background: transparent;
        font-size: .7rem;
        margin-top: .05rem;
        padding-top: .05rem;
      }
    }
  }

  .ck .ck-content {
    max-height: 100px !important;
    min-height: 100px !important;
  }
}

.conversations {
  .avatar-image {
    width: 35px;
    height: 35px;
  }

  li {
    padding: .5rem;
    border-right: 5px solid transparent;

    &.selected-conversation {
      border-right: 5px solid $input-bg !important;
      background: $secondary-bg;
    }

    .time{
      font-size: 12px;
    }
  }

  .media-body {
    h5 {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
}
