.multi-upload {
  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    background: #fff;
    z-index: 1000;

    .progress-custom {
      width: 500px;
      height: 200px;
      background: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -250px;
      margin-top: -200px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      .preview {
        width: 150px;
        height: 150px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background: #eee;
        margin: auto;

        img {
          width: 200px;
          height: 200px;
          margin: auto;
          display: block;
          object-fit: cover;
        }
      }

      .uploaded {
        text-align: center;
        font-size: 12px;
        color: #888;
        margin: 15px 0 0;
      }

      &:hover {
        .complete {
          .bar {
            width: 100%;
          }
        }
      }

      .complete {
        position: absolute;
        bottom: 0;
        height: 4px;
        width: 100%;
        background: #eee;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        .bar {
          $time: 2.5s;

          -webkit-transition: all $time ease-in-out;
          -moz-transition: all $time ease-in-out;
          -ms-transition: all $time ease-in-out;
          -o-transition: all $time ease-in-out;
          transition: all $time ease-in-out;
          position: absolute;
          bottom: 0;
          height: 4px;
          width: 0;
          background: dodgerblue;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
      }
    }
  }

  .images {


    .image {
      width: 200px;
      margin: 30px;
      position: relative;



      &:first-child {

        margin-top: 9px;

        .cover{
          position: relative;
          top:30px;
          color:#fff !important;
          z-index: 888;
          text-align: center;
        }


        .filepond--root {

          .filepond--panel {
            background: dodgerblue;

          }

          .filepond--drop-label {
            label {
              color: #fff !important;
            }

          }
        }
      }

      .remove {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -15px;
        right: -15px;
        background: #fff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: none;
        color: #aaa;
        cursor: pointer;
        z-index: 999;
      }

      .filepond--root {
        width: 200px;
        height: 200px;

        .filepond--drop-label {
          line-height: 200px;
          height: 200px;
        }

        .filepond--panel {
          background: #eee;
        }

        .filepond--file {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .add {
      margin: 30px;
      width: 200px;
      height: 200px;
      background: #eee;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: none;
      color: #aaa;
      font-size: 40px;
      cursor: pointer;
    }
  }
}
