@include screen-xl {
  .navbar {
    padding: 0 20px;
    height: auto;
  }
  .navbar-brand {
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
  }

  .navbar-toggler {
    padding: 0;
    margin-right: 10px;
  }

  .nav-user-avatar {
    margin-left: -40px;
    margin-right: 5px;
  }

  .nav-admin-icon {
    margin-left: -33px;
    margin-right: 11px;
  }
  .nav-notifications-icon {
    margin-left: -33px;
    margin-right: 11px;
  }
}

@include screen-xl-up {
  .navbar {
    height: 40px;
  }

}

.search-box {

  .search-box {
    input[type="text"] {

      font-family: FontAwesome, 'Open Sans', serif;

      &::placeholder {
        font-weight: bold;
        color: white !important;
      }
    }
  }

}

.dropdown-menu-more {
  text-transform: capitalize;
}

.right-nav {
  .print-store-label {
    font-weight: bold;
    color: $success !important;

    &:hover {
      opacity: 0.8;
    }
  }

  li {
    font-weight: 300;
  }
}
