.notifications-list {
  width: 450px;
  height: 450px;
  background: #fff;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .no-notifications {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    margin-top: -40px;
  }


  .notifications {

    text-transform: none !important;
    margin-bottom: 10px;
    padding: 0 10px;

    .notification-label-comment {
      color: #72c465;
    }

    .notification-label-reply {
      color: #6593c4;
    }

    .delete-notification {
      background: transparent;
      border: none;
      cursor: pointer;
      margin-top:-4px;
    }
  }
}

@include screen-xl {
  .notifications-list {
    width: 100% !important;
  }
}
