.poll-results {
  .poll-choice-title {
    font-size: 1.1rem;
  }
}

@include screen-md {
  .poll-wrapper {
    margin-top: .5rem !important;
  }
}

@include screen-sm {
  .poll-vote {
    .poll-desc {
      max-height: 180px;
      overflow-y: auto;
    }
  }
}

.poll-wrapper {
  margin-top: .5rem !important;
  height: 93vh;
  overflow: hidden;
  overflow-y: auto !important;
}

.poll-vote {
  background: $secondary-bg;
  padding: 1.5rem;
  position: relative;

  .close-poll {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }

  .poll-choices {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      line-height: 1.5rem;
      font-size: 1.2rem;
      display: inline-block;
      margin-bottom: 35px;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 18px;
      height: 18px;
      background: $nav-bg;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.poll-container {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
}