.photo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: $primary-bg !important;

  .close {
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 20001;

    button {
      background: transparent;
      color: #fff;
      border: none;
      cursor: pointer;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      opacity: 1;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  .left {
    width: 100%;
    height: 100vh;
    position: relative;

    .photo-content {

      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .box-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40%;
        height: auto;
        z-index: 100;

        &:hover {
          .previous-photo {
            opacity: 1;
          }
        }

        .previous-photo {
          opacity: 0;
        }
      }

      .box-next {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40%;
        height: auto;
        z-index: 100;


        &:hover {
          .next-photo {
            opacity: 1;
          }
        }

        .next-photo {
          opacity: 0;
        }
      }

      .previous-photo, .next-photo {
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin-top: -50px;
        font-size: 100px;
        color: $nav-bg;
        opacity: .8;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .previous-photo {
        left: 10px;
        top: 50%;
      }

      .next-photo {
        right: 10px;
        top: 50%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        position: absolute;
      }

    }


  }

  .right {
    width: 0;

    .comments {
      li {
        padding: 5px 5px 0 5px !important;
      }

      .bg-grey {
        background: #eee;
      }
    }
  }

  .options {
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    z-index: 1000;
    line-height: 40px;
    padding: 0 20px;
    box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, .15);


    h5 {
      line-height: 40px;
      margin: 0;
      color: #000;
    }

    button, a {
      color: #000;
      cursor: pointer;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background: transparent;
      border: none !important;
      margin: 2.5px 10px;
      text-decoration: none !important;

      &.active {
        color: dodgerblue;
      }
    }

    .followed {
      color: $nav-bg !important;
    }

    .user {
      height: 40px;
      width: auto;
      text-align: center;

      img {
        margin-top: 2.5px;
        margin-right: 20px;
      }

      a {
        line-height: 50px;
      }
    }

    .favorite {
      &.active {
        color: red;
      }
    }

  }

  &.active {
    .left {
      width: 70%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }

    .right {
      width: 30%;

      .content {
        padding: 10px 30px;
        background: #fff;
        position: fixed;
        top: 40px;
        right: 0;
        bottom: 0;
        width: 30%;
        overflow-y: auto;
      }
    }
  }

  &.not-full {
    top: 40px;
    position: absolute;
    z-index: 0;

    .close {
      display: none;
    }

    .left {
      height: 100vh;
      top: 0px;

      .photo-content {
        img {
          max-width: 100%;
          max-height: 96vh;
          margin: 2px 0 0;
        }
      }

    }
  }

}


@include screen-sm {
  .post-page {

    .close {
      position: fixed;
      top: 10px;
      right: 5px;

      button {
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }

    .left {
      .post-content {
        .post-prev, .post-next {
          width: 500px;
          height: 50px;
          margin-top: -20px;
          font-size: 25px;
          line-height: 25px;
        }
      }
    }

    &.active {

      .right {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 70%;

        .content {
          padding: 10px 30px;
          background: #fff;
          position: fixed;
          top: 91px;
          width: 100%;
          bottom: 0;
          overflow-y: auto;
        }
      }
    }
  }
}
