.profile {

  .cover {
    margin: -10px auto 0;
    max-height: 350px;
    min-height: 200px;

    img {
      width: 100%;
      max-width: 1200px;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (min-width: 1200px) {
      img {
        width: 1200px;
      }
    }
  }
}

.profile-meta {

  background: #1e1d22;

  .profile-avatar {

    div {
      overflow: hidden;
      width: 120px;
      height: 120px;
      margin: -60px auto 0 !important;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .profile-info {
    margin-top: -45px;

    h1 {
      font-size: 1.5rem;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    }
  }

  .profile-actions > div {
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    background: $nav-bg;
    overflow: hidden;
  }
}