.search-box{
  input{
    background: transparent !important;
  }

  .results{
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    background: $secondary-bg;
    height: 350px;
    overflow-x: hidden;

  }
  .not-found{
    position: absolute;
    top:50%;
    left:50%;
  }
}

@include screen-xl {
  .search-box{
    .results{
      position: static;
      width: 100%;
      margin-top:10px;
      border-radius: 5px;
    }
  }
}
