.security-form {
  .security-header {
    border-radius: 5px;
    background: $nav-bg;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 60px;
    height: 60px;
    font-size: 1.8rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin: 80px auto -30px;
  }

  .security-main {
    background: $secondary-bg;
    padding: 5rem 2rem 2rem;
    border-radius: 5px 5px 0 0;

    ul {
      list-style-type: none !important;
      padding: 0;
    }
  }

  .security-footer {
    background: $input-bg;
    padding: 1.5rem;
    border-radius: 0 0 5px 5px;
    font-size: 2rem;


    i {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .security-header {
      margin: 20px auto -40px !important;
    }

    .security-main {
      padding: 5rem 1rem 1rem;
    }
  }
}