::-webkit-file-upload-button {
  cursor: pointer;
}

.profile-settings-page {

  .profile {
    .cover {
      position: relative;
      overflow: hidden;

      min-height: 200px;

      margin-top: -10px;

      &.over {
        z-index: 2000;
      }

      .options {
        position: absolute;
        z-index: 1000;
        display: none;

        button {
          border: none;
          background: transparent;
          width: 50px;
          height: 50px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          color: #fff;
          margin: 0 10px;
          top: 10px;
        }
      }

      label {
        position: absolute;
        z-index: 1000;
        top: 10px;
        left: 10px;
        cursor: pointer;
        text-align: center;
        color: #fff;

        input[type="file"] {
          display: none;
          height: 40px;
          z-index: 1000;
          outline: none;
          cursor: pointer;
        }
      }

      .dots-loader {
        position: absolute;
        top: -75px;
        left: 50%;
        margin-left: -12px;
        display: none;
      }
    }
  }

  .profile-meta {

    position: relative;

    .profile-avatar {
      width: 120px;
      height: 120px;
      background: #0d6aad;
      position: absolute;
      left: 50%;
      margin-left: -60px;
      margin-top: -60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .avatar-loader {
        position: absolute;
        top: 0;
        left: 0;
      }

      input[type="file"] {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }

      &:after {
        content: 'Upload';
        color: #fff;
        text-align: center;
        line-height: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        background: rgba(0, 0, 0, .4);
        position: absolute;
        width: 120px;
        height: 60px;
        left: 50%;
        margin-left: -60px;
        bottom: 0;
        cursor: pointer;
        opacity: 0;
        transition: all 0.3s;
        margin-top: -60px;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}