.custom-side-nav {
  padding: 0;
  display: block;
  margin: 0 0 0 10px;
  left: 0;
  list-style: none;
  position: absolute;
  top: 0;
  width: 200px;
}

.custom-side-nav li a {
  color: #777;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  position: relative;
}

.custom-side-nav li a:before {
  content: '';
  position: absolute;
  width: 0;
  transition: all 0.3s;
  height: 1px;
  background: #777;
  top: 50%;
  margin-left: -3px;
}

.custom-side-nav li a:hover:before,
.custom-side-nav li a.active:before {
  width: 100%;
}


@include screen-lg {
  .custom-side-nav{
    position: fixed;
    transform: translateX(-100%);
  }
}
