.single-product {
  background: $secondary-bg;

  .large-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 10000;
    display: none;

    img{
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      position: absolute;
    }

    &.active{
      display: flex !important;
    }

    .close-btn{
      position: fixed;
      top:10px;
      right:10px;
      background: transparent;
      border: none;
      color:#fff;
    }
  }
}
