.notification-container {

  box-shadow: 0 0 3px 2px rgba(0,0,0,.2);

  position: fixed;
  right: 60px;
  bottom: 20px;
  z-index: 10000;

  @include screen-sm {
    right: 0;
    top: 40px;
  }

  .notification-wrapper {
  }
}