.updating {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.5);

  > div {
    color: #fff;
    position: absolute;
    width: 120px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 2000;
  }
}

.main-body {
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.btn-black-txt {
  color: black !important;
  background: white !important;
}

.main-store {
  background: #f5f0ea !important;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  .fa-lightbulb {
    color: #000000;
  }

  .store {

    .btn-printstore {
      color: #000000 !important;
    }

    .owner a {
      color: #000000 !important;
    }

    .filters {
      .categories li label {
        color: #000000 !important;
      }

      color: #000000 !important;
    }

    .store-nav {
      color: #000000;

      a {
        color: #000000 !important;
      }
    }

    .store-filters {
      color: #000000;

      a {
        color: #000000 !important;
      }
    }

    .store-products {
      .store-product {
        .store-product-image {
          img {
          }
        }

        .store-product-publisher {
        }

        .store-product-timeout {
        }

        .store-product-cart {
        }
      }
    }
  }
}

.js-bulb {
  z-index: 999;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
  cursor: pointer;
  opacity: .7;
}

.js-wall-switch {
  z-index: 999;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
  cursor: pointer;
  opacity: .7;
  transition: background-color 500ms linear;
}

.btn-wall-switch {
  color: #1e1d22;
}

.store {
  a {
  }

  .btn-printstore {
  }

  .owner a {
  }

  .filters {
    .categories li label {
    }
  }

  .store-filters {
  }

  .store-products {
    .store-product {
      .store-product-image {
        img {
          box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.7);
        }
      }

      .store-product-publisher {
      }

      .store-product-timeout {
      }

      .store-product-cart {
      }
    }
  }
}
