
button.next-stage,
button.prev-stage {
  color: $gray-text !important;
}

.next-stage {
  position: fixed;
  top: 50%;
  left: auto;
  right: 0;
  height: 50px;
  z-index: 2000;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: 100%;

  i {
    margin-left: 20px;
  }

  cursor: pointer;
}

.prev-stage {
  position: fixed;
  top: 50%;
  left: 0;
  height: 50px;
  z-index: 2000;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;

  i {
    margin-right: 20px;
  }
}

.upload-wrapper {
  background: $alt-bg;
  position: absolute;
  width: 300%;
  top: 50%;
  height: 700px;
  margin-top: -350px;
  left: 0;
  padding: 10px 0;
  transition: all 0.8s ease-in-out;

  .filepond--root {
    width: 800px;
  }

  .filepond--wrapper,
  .filepond--root,
  .filepond--hopper,
  .filepond--panel-root {
    background: $alt-bg !important;
  }

  .filepond--drop-label {
    width: 100%;
    position: absolute;
    top: 50%;
    font-size: 24px;

    label {
      color: $gray-text !important;
    }
  }


  &.stage-2 {
    transform: translateX(-33.3%);
  }

  &.stage-3 {
    transform: translateX(-66.7%);
  }

  .upload {
    border-top: 8px dashed $input-bg;
    border-bottom: 8px dashed $input-bg;
    height: 680px;
  }

  .step-1 {
    width: 33.3%;
    position: absolute;
    left: 0;
    color: $gray-text;

    > div {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 610px;
    }

    .camera {
      font-size: 120px;
      color: $gray-text;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }

  }

  .step-2 {

    > div {
      width: 50%;
    }

    width: 33.3%;
    position: absolute;
    left: 33.3%;

    span {
      opacity: 0;

      &.visible {
        opacity: 1;
      }
    }

    .custom-input {
      input, select, textarea {
        background: #fff;
      }
    }
  }

  .step-3 {
    width: 33.3%;
    position: absolute;
    left: 66.7%;

    > div {
      width: 600px;
      margin: auto;
    }

    .custom-input {
      margin: 15px 0;

      input, select, textarea {
        background: #fff;
      }
    }
  }

  .custom-input {
    margin: 0;
  }

}

.datepicker {

  .sc-EHOje {
    span {
      line-height: 14px;
    }
  }
}

@media (max-width: 900px) {

  .next-stage, .prev-stage {

    background: transparent;
    top: 150px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

  }

  .next-stage {
    left: auto;
    right: 0;
  }

  .upload-wrapper {

    top: 115px;
    margin: 0;

    .step-2 {
      > div {
        width: 100%;
      }
    }

    .step-3 {

      > div {
        width: 100%;
      }

      .row {
        overflow: scroll;
        height: 515px;
      }
    }
  }

  .upload-wrapper {
    .filepond--root {
      width: 300px;
    }
  }


}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

h3, h4, h5 {
  font-size: 1.3rem;
  padding: 0 !important;
  margin: 1rem 0 !important;
}

.multi-upload {
  .backdrop {
    background: $primary-bg !important;
  }

  input,
  select,
  textarea,
  option {
    background: $input-bg;
    color: $gray-text !important;

    &:focus {
      background: $input-focus-bg !important;
    }
  }

  .filepond--drop-label {
    label {
      color: $gray-text;
    }
  }

  .images .image:first-child .filepond--root .filepond--panel {
    background: $nav-bg !important;
  }

  .filepond--panel {
    background: $input-bg !important;
    border-radius: 5px;
  }
}

.upload-single {
  span.hidden-warning {
    display: none;

    &.visible {
      display: block;
    }
  }

  input,
  select,
  textarea,
  option {
    background: $input-bg;
    color: $gray-text !important;

    &:focus {
      background: $input-focus-bg !important;
    }
  }


}


.custom-file {

  position: relative;
  height: auto !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  input {
    display: none;
  }

  .custom-file-label {

    height: 200px;
    width: 200px;
    background: $nav-bg;
    position: static;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed transparent;
    transition: border 0.3s;
    cursor: pointer !important;
    text-align: center;

    &.active{
      background: transparent;

      span{
        display: none;
      }
    }

    .preview {
      height: 0;
      width: 0;
      align-items: center;
      display: flex;
      z-index: 1000;
      transition: transform 0.3s;
      transform: scale(0);
      justify-content: center;

      .remove {

        position: absolute;
        border:none!important;
        width: 60px;
        height: 60px;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        z-index: 1005;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, .3);
        transition: all 0.3s;

        i {
          color: #000;
        }

        &:hover{
          background-color: rgba(255, 255, 255, 1);
        }
      }

      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
      }

      &.active {
        width: auto;
        height: auto;
        transform: scale(1);
        display: flex;
      }
    }

    &:after {
      content: '' !important;
      display: none;
    }

    &.drag-start {
      border-color: #13293d;
    }

    &.drag-over {
      opacity: 0.4;
    }

  }





  .auto + label {
    width: 100% !important;
    height: 200px !important;
  }

  .auto + .preview {
    border-radius: 100%;
  }

  .product {

    position: relative;

    + label {
      height: 40px !important;
      background: #2f2d35 !important;
      border-radius: 4px;
      width: auto !important;

      &:after {
        content: 'Upload Print File' !important;
        text-align: left;
        padding-top: 8px;
      }

      &:before {
        padding-top: 10px;
        font-family: Font Awesome\ 5 Free;
        content: '\f03e';
        text-align: center;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        border-radius: 0 4px 4px 0;
        opacity: .5;
        background: #444;
      }
    }
  }
}

.remove-series {
  position: absolute;
  border-radius: 100%;
  border: none;
  background: #fff;
  top: -15px;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 1000;
}

.series-add-button {
  width: 100%;
  height: 200px;
  font-size: 50px;
  border-radius: 5px;
  background: $nav-bg;
  border: none;
  opacity: 0.7;
  transition: opacity 0.3s;
  color: #fff;

  &:hover {
    opacity: 1;
  }
}

.spinner {
  margin: 30px auto 0;
  width: 100px;
  height: 100px;
  padding-top: 41px;
  text-align: center;
  border-radius: 100%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $input-focus-bg;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.form-check {

  position: relative;
  margin-top: 10px;

  label {
    padding-left: 25px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background-color: #eee;
      width: 35px;
      height: 16px;
      border-radius: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 3px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      transition: all 0.3s;
      background-color: #fff;
      box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    }
  }

  input:checked + label {
    &:after {
      background-color: $nav-bg;
      left: 16px;
    }
  }

  input {
    display: none;
  }

}

