.curate {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  img {
    flex-flow: row nowrap;
    flex-grow: 0;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }

  .actions {
    padding: 10px;
    position: absolute;
    bottom: 20px;
    //border:1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.4s;

    &:hover {

      bottom: 20px;

      .action-publish {
        background: rgba(40, 167, 69, 1);
      }

      .action-reject {
        background: rgba(200, 35, 51, 1);
      }

      .favorite {
        background: rgba(255, 255, 255, 1);
      }
    }

    .action {
      transition: all 0.4s;
      font-size: 40px;
      width: 70px;
      height: 70px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }

    .action-publish {
      //text-shadow: 1px 1px 0 rgba(255, 255, 255, .3), -1px -1px 0 rgba(255, 255, 255, .3);
      color: rgba(255, 255, 255, .7);
      background: rgba(40, 167, 69, 0.3);
    }

    .action-reject {
      //text-shadow: 1px 1px 0 rgba(255, 255, 255, .3), -1px -1px 0 rgba(255, 255, 255, .3);
      color: rgba(255, 255, 255, .7);
      background: rgba(200, 35, 51, 0.3);
    }


  }
}


.curate {

  .actions {

    background: $secondary-bg;

    button {
      margin: 0;
      padding: 0 .3rem !important;
      white-space: nowrap;
      border-radius: 100%;
      height: 40px;
      cursor: pointer;
      border: 0;
      background: transparent;

      i {
        line-height: 40px;
        font-size: 2rem;
      }
    }

    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      border-right: 1px solid $primary-bg;
      margin: 0 1rem 0 .5rem;
      padding-right: 1rem;

      button {
        color: $input-bg;

        &:hover,
        &:hover ~ button {
          color: $nav-bg;
        }
      }
    }

    .add-favorite {
      margin: 0 .5rem 0 0 !important;

      i {
        color: $nav-bg !important;
      }
    }
  }
}