{% extends 'template.html.twig' %}

{% set title = app.request.get('type') == 'single' ? 'Photo' : 'Series' %}

{% block title %} Product Manager{% endblock %}

{% block header_left %} Product Manager{% endblock %}

{% block row_class %}image-browse-container{% endblock %}

{% block main_content %}

    {% if posts | length > 0 %}

        <div class="col-md-12">

            <div class="row infinite-photos">

                {% include 'product/posts.html.twig' %}

            </div>

            {% include '_partials/loader.html.twig' %}

        </div>

    {% else %}

        {% if app.request.get('page') == 1 %}

            <div class="col-12">

                <p class="text-muted">You don't have any products added yet.</p>

            </div>

        {% else %}

            <div class="col-12">

                <p class="text-muted">No products available.</p>

            </div>

        {% endif %}

    {% endif %}



{% endblock %}

{% block js %}

    <script src="{{ asset('js/infinite.js') }}"></script>

    <script>infinite('.infinite-photos')</script>

    {% from "_partials/warning.html.twig" import warning %}

    {{ warning('delete-warning-modal','delete-warning-form','delete-warning-btn','Confirm!', 'Are you sure you want delete this product?') }}


{% endblock %}


