{% for post in posts %}

    <!--suppress ALL -->
    <div class="col-lg-4 col-md-6">

        <div class="image-thumb-container">

            <div class="image-thumb">
                {% if post.type > 1 %}
                    <i class="fas fa-images position-absolute" style="left: 5px;top:5px" data-toggle="tooltip" title=""
                       data-original-title="Series"></i>
                {% endif %}
                {% set image = post.type == 1 ?  post.image.thumbnail  : post.cover.image.thumbnail %}

                <img src="{{ image }}"
                     alt="{{ post.title }}">

                {% if workflow_has_marked_place(post.product, 1) %}

                    <div class="sticker pending semi-transparent">
                        Pending Review
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(post.product, 2) %}

                    <div class="sticker canceled semi-transparent">
                        Not approved!
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(post.product, 3) %}

                    <div class="sticker approved semi-transparent">
                        In Store!
                    </div>

                {% endif %}

            </div>

            <div class="image-thumb-metadata">

                {% if post.deletionDate is not null %}
                   <p class="text-center">
                       This product will be removed from store on {{ post.deletionDate|date('Y-m-d') }}
                   </p>
                {% else %}
                    <div class="actions mb-1 text-center">

                        <a href="{{ path('web_photo_for_sale', {id:post.id,type: post.type > 1 ? 'series' : null}) }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           class="btn btn-default"
                           title="{{ post.product is not null ? 'Update Products' : 'Add to store' }}">

                            <i class="fas fa-store"></i>
                            <br>
                            <small class="text-muted">Update Product</small>

                        </a>

                        {% if post.product.status == 3 %}

                            <button type="button"
                                    class="btn delete-warning-btn"
                                    data-url="{{ path('web_product_delete',{id:post.id}) }}">
                                <i class="fas fa-trash text-danger"></i>
                                <br>
                                <small class="text-muted">Remove</small>
                            </button>

                        {% endif %}

                    </div>
                {% endif %}

            </div>

        </div>

    </div>

{% endfor %}
