{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}


<div class="container basic-layout">
    <h3 class="mb-5">Sold Picture</h3>
    <table class="table">
        <thead>
          <tr>
              <th>Picture</th>
              <th>Media</th>
              <th>Size</th>
              <th>Commission</th>
              <th>Status</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {% if item.product.post.type > 1 %}
                        {% for post in item.product.post.children %}
                            <a class="text-decoration-none"
                               href="{{ path('web_photo_for_sale',{id: post.id, type:'series'}) }}">
                                <img src="{{ post.image.thumbnail }}" alt="Item" class="rounded" width="100px"
                                     height="100px" style="object-fit: cover">
                            </a>
                        {% endfor %}

                    {% else %}
                        <a class="text-decoration-none"
                           href="{{ path('web_photo_for_sale',{id: item.product.post.id}) }}">
                            <img src="{{ item.product.post.image.thumbnail }}" alt="Item" class="rounded"
                                 width="100px" height="100px" style="object-fit: cover"/>
                        </a>
                    {% endif %}

                </td>
                <td>
                    <div>
                        {{ item.size.width }}x{{ item.size.height }}
                    </div>

                </td>
                <td>

                    <div>{{ item.material.name }}</div>

                </td>
                <td>
                    {{ item.commission }} &euro;
                </td>
                <td>
                    {{ item.commissionAddedToBalance == true ? '<span class="text-success">Completed</span>' : '<span class="text-warning">Pending</span>' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(items) }}
    </div>
</div>


{% endblock %}

