{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

    <div class="container photos sm-full">

        <div class="row photos">

            <div class="col-12 ">

                {% include 'gallery/nav.html.twig' %}

                {% set filter = app.request.get('page') == 'latest' %}
                {% set filters = app.request.query.all() %}
                {% set page = app.request.get('page') %}
                {% set category = app.request.attributes.get('category') %}


                {{ react_component('InfinitePost',{rendering:'client_side',props:{
                    mobile:is_mobile(),
                    nude:nude,
                    auth:auth,
                    posts:posts.items,
                    hidden: posts.total != 0,
                    page:page,
                    filter:filter,
                    filters:filters,
                    sizes: sizes(),
                    materials: materials(),
                    categories:categories,
                    curator: is_granted('ROLE_CURATOR'),
                    category:category }}) }}

            </div>

        </div>

    </div>

    {{ include('_partials/_social_icons.html.twig') }}

{% endblock %}
