<div>
    <ul class="nav justify-content-center custom-active">
        <li class="nav-item">
            <a class="nav-link {{ active('latest','page','active ') }}"
               href="{{ path('web_gallery',{page: 'latest'}) }}"><strong>Single</strong></a>
        </li>

        <li class="nav-item ">
            <a class="nav-link {{ active('web_gallery_series','_route','active') }}" href="{{ path('web_gallery_series') }}">
                <strong>Series</strong>
            </a>
        </li>

        <li class="nav-item ">
            <a class="nav-link {{ active('web_gallery_awarded','_route','active') }}"
               href="{{ path('web_gallery_awarded') }}">
                <strong>Photo of the Day</strong>
            </a>
        </li>

    </ul>

    <hr>

</div>
