{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

  <div class="container photos sm-full">

      <div class="row photos">

          <div class="col-12">

              {% include 'gallery/nav.html.twig' %}

              {% set filters = app.request.query.all() %}

              {{ react_component('InfiniteSeries',{rendering:'client_side',props:{
                  filter:1,
                  categories:categories,
                  filters:filters,
                  page: 'gallery',
                  series:series.items}}) }}

          </div>

      </div>

  </div>

{% endblock %}
