{% extends 'base.html.twig' %}
{% block title %}{{ tag }}{% endblock %}
{% block content %}
    <div class="container mt-5 mb-5 sm-full">
        {% set nude = app.user and app.user.settings.showNudes %}
        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            mobile:is_mobile(),
            nude:nude,
            auth:app.user,
            sizes: sizes(),
            materials: materials(),
            page: 'tag',
            tag:tag}}) }}
    </div>
{% endblock %}



