{% for album in albums %}

    <div class="col-lg-4 col-md-6">

        <div class="image-thumb-container">

            <div class="image-thumb">

                <a href="{{ path('web_album_show',{id:album.id}) }}" class="text-decoration-none">
                    {% if album.cover %}
                        <img src="{{ album.cover.image.thumbnail }}" alt="{{ album.cover.title }}">
                    {% else %}
                        <div class="d-flex flex-column justify-content-center align-items-center p-5 ">
                            <i class="fas fa-image"></i>
                        </div>
                    {% endif %}
                </a>

            </div>

            <div class="image-thumb-metadata">

                <p class="text-center">
                    {{ album.name }}
                </p>

                {# Actions #}
                {% if app.user and app.user.id == album.user.id %}
                    <hr>

                    <div class="actions mb-1">
                        <a href="{{ path('web_album_update',{id:album.id}) }}"
                           data-toggle="tooltip" data-placement="bottom"
                           title="Edit Album"
                           class="btn btn-default">
                            <i class="fa fa-edit"></i>
                        </a>

                        <button type="button" data-url="{{ path('web_album_delete',{id:album.id}) }}"
                                data-toggle="modal" data-target="#delete-confirm"
                                title="Delete Album"
                                class="btn btn-link open-confirm">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>

                        {# Delete Modal #}
                        <div class="modal fade mt-5" id="delete-confirm" tabindex="-1"
                             role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this Album?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">No
                                        </button>

                                        <form action="#"
                                              method="post"
                                              class="d-inline-block">
                                            <button class="btn btn-info">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endfor %}
