{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block css %}
    <style>
        .series-option {
            text-align: center;
        }

        .series-option label img {
            max-width: 100%;
            max-height: 300px;
            border: 5px solid transparent;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            cursor: pointer;

        }

        .series-option span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-weight: bold;
            font-size: 40px;
            -webkit-text-stroke: 2px black;
        }

        .series-option input {
            display: none;
        }

        .series-option input:checked + img {
            border: 5px dashed #aaa;
        }

        .series-option input:checked + img.cover {
            border: 5px dashed #375a7f !important;
        }
    </style>
{% endblock %}

{% block body %}

    {% form_theme form 'form_div_layout.html.twig' %}

    <div class="container basic-layout">

        <div class="row">

            {{ form_start(form) }}

            <div class="col-12 default-form-layout">

                <h3>

                    {{ form.vars.method == 'PUT' ? 'Update' : 'Create' }} Album

                    <span class="float-right">
                        <a href="{{ app.request.session.get('back') ?? path('web_albums', {
                            'slug': app.user.slug
                        }) }}">
                        </a>
                    </span>

                </h3>

                <hr>

                <div class="form-group row">

                    <div class="col-md-2 col-form-label">
                        {{ form_label(form.name, 'Album Name:') }}
                    </div>

                    <div class="col-md-10">
                        {{ form_widget(form.name,{attr:{class:'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>

                </div>

                <hr>

                <div class="d-flex">

                    <div class="flex-grow-1">
                        Select Images:
                    </div>

                    <div class="text-muted">Image bordered in different color will be used for cover.</div>

                </div>

                <hr>

                <div class="text-danger">
                    {{ form_errors(form.posts) | striptags }}
                </div>

                <div class="row cover-option mt-5">

                    {% for post in form.posts %}

                        <div class="col-md-4 col-sm-6 col-lg-3 d-flex justify-content-center align-items-center mb-5 series-option">

                            <label for="{{ post.vars.id }}">

                                {{ form_widget(post) }}

                                <img src="{{ post.vars.label }}" alt="">

                            </label>

                        </div>

                    {% endfor %}


                </div>

                <hr>

                <div class="text-center">
                    <button class="btn btn-info">{{ form.vars.method == 'PUT' ? 'Update' : 'Create' }}</button>
                    <button class="btn btn-light" id="reset-selection">Clear Selection</button>
                </div>

            </div>


            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready($('#reset-selection').on('click', function (e) {
            e.preventDefault();
            $('input[type="radio"]').prop('checked', false);
        }));

    </script>

    <script src="{{ asset('js/infinite.js') }}"></script>

    <script>infinite('.cover-option ', '.cover-option ');</script>

    <script>

        $(function () {

            let hiddenOrder = $('#album_order');

            let order = hiddenOrder.val() ? hiddenOrder.val().split(',') : [];

            let selected = $('.selected-images');

            function updateNumbers() {
                $('.series-option input[type="checkbox"]').each(function (index, item) {

                    item = $(item);

                    let i = order.indexOf(item.val());


                    if (i > -1) {


                        item.siblings('img').removeClass('cover');

                        if (i === 0) {
                            item.siblings('img').addClass('cover');
                        }

                        item.parent().siblings('.order').text(i + 1)
                        item.prop('checked', true)
                    } else {
                        item.parent().siblings('.order').html('')
                    }

                });
            }

            updateNumbers();

            function updateCheckbox(e) {

                e.preventDefault();

                if (e.target.checked) {

                    order.push(e.target.value);

                    $(e.target).parent().siblings('.order').text(order.length)

                } else {

                    order = order.filter(function (v) {
                        return v != e.target.value;
                    })

                }

                updateNumbers();

                hiddenOrder.val(order);

                selected.text(order.length);

            }

            $(document).on('change', '.series-option input[type="checkbox"]', updateCheckbox)

            $('#reset-selection').on('click', function (e) {
                e.preventDefault();
                $('.series-option input[type="checkbox"]').prop('checked', false);
                $('.selected-images').text(0);
                order = [];

                updateNumbers()
            })
        });

        $(function () {
            let h = $('#selected-images');

            $(document).scroll($.throttle(250, function (e) {

                if ($(window).scrollTop() > 700) {

                    h.css({
                        'position': 'fixed',
                        'left': '50%',
                        'top': '100px',
                        'background': '#fff',
                        'zIndex': 100,
                        'transform': 'translateX(-50%)'
                    });
                    h.addClass('shadow rounded p-2')

                } else {

                    h.removeAttr('style');
                    h.removeClass('shadow rounded p-2')

                }
            }))
        });

    </script>


{#    <script>#}

{#        $(function () {#}

{#            function updateNumbers() {#}
{#                $('.series-option input[type="checkbox"]').each(function (index, item) {#}
{#                    //#}
{#                    // item = $(item);#}
{#                    //#}
{#                    // let i = order.indexOf(item.val());#}
{#                    //#}
{#                    // if (i > -1) {#}
{#                    //#}
{#                    //     item.siblings('img').removeClass('cover');#}
{#                    //#}
{#                    //     if (i === 0) {#}
{#                    //         item.siblings('img').addClass('cover');#}
{#                    //     }#}
{#                    //#}
{#                    //     item.prop('checked', true)#}
{#                    // }#}

{#                });#}
{#            }#}

{#            updateNumbers();#}

{#            $(document).on('change', '.series-option input[type="checkbox"]', updateNumbers)#}

{#            $('#reset-selection').on('click', function (e) {#}
{#                e.preventDefault();#}
{#                $('.series-option input[type="checkbox"]').prop('checked', false);#}
{#                $('.selected-images').text(0);#}

{#                updateNumbers()#}
{#            })#}
{#        });#}

{#        $(function () {#}
{#            let h = $('#selected-images');#}

{#            $(document).scroll($.throttle(250, function (e) {#}

{#                if ($(window).scrollTop() > 700) {#}

{#                    h.css({#}
{#                        'position': 'fixed',#}
{#                        'left': '50%',#}
{#                        'top': '100px',#}
{#                        'background': '#fff',#}
{#                        'zIndex': 100,#}
{#                        'transform': 'translateX(-50%)'#}
{#                    });#}
{#                    h.addClass('shadow rounded p-2')#}

{#                } else {#}

{#                    h.removeAttr('style');#}
{#                    h.removeClass('shadow rounded p-2')#}

{#                }#}
{#            }))#}
{#        });#}

{#    </script>#}


{% endblock %}
