{% extends 'user/profile/index.html.twig' %}

{% block title %}
    {{ user.profile.firstName }}
    {{ user.profile.lastName }}'s
    Albums
{% endblock %}

{% block content %}

    <div class="container basic-layout">

        {% if albums | length == 0 %}

            <h3 class="text-muted text-center mt-5 mb-5">
                You don't have any albums.
            </h3>

        {% endif %}

        {% if app.user and app.user.id == user.id %}

            {% if user.posts | length == 0 %}

                <h3 class="text-muted text-center mt-5 mb-5">
                    You have to add photo before you can create album
                </h3>

                <div class="mb-5 text-center">

                    <a href="{{ path('web_photo_create') }}"
                       class="btn btn-info text-white">Upload Photos</a>

                </div>

            {% endif %}

            {% if user.posts | length > 0 %}

                <div class="mb-5">

                    <a href="{{ path('web_album_create') }}"
                       class="btn btn-info text-white">Create new Album</a>

                </div>

            {% endif %}

        {% endif %}

        <div class="row image-browse-container albums mt-5">

            {% include 'album/album.html.twig' %}

        </div>
        {% include '_partials/loader.html.twig' %}

    </div>

{% endblock %}
{% block js %}
    {% if albums | length > 0 %}
        <script src="{{ asset('js/infinite.js') }}"></script>
        <script>
            infinite('.albums');

            $(document).on('click', '.open-confirm', function () {
                let url = $(this).data('url');
                $('.modal form').attr('action', url);
            });
        </script>
    {% endif %}
{% endblock %}
