{% extends 'base.html.twig' %}

{% block title %}
    {{ album.name }}
{% endblock %}

{% block body %}

    <div class="container basic-layout">

        <div class="row">

            <div class="col-12">

                <h3>
                    {{ album.name }}

                    <span class="float-right">
                        <a href="{{ app.request.session.get('back') ?? path('web_albums',{slug:album.user.slug}) }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </span>
                </h3>

                <hr>

            </div>

        </div>

        <div class="row">

            <div class="col-12">

                {{ react_component('InfinitePost',{rendering:'client_side',props:{
                    mobile:is_mobile(),
                    auth:auth,
                    posts: posts,
                    sizes: sizes(),
                    materials: materials(),
                    curator: is_granted('ROLE_CURATOR'),
                    album: album.id,
                    page: 'album'}}) }}

            </div>

        </div>

    </div>

{% endblock %}

