{% extends 'template.html.twig' %}

{% block title %}Contact Form{% endblock %}

{% block header_left %}Contact Form{% endblock %}

{% block main_content %}

    <div class="col-12">

        {{ form_start(form) }}

        <div class="form-group row">

            <label for="category" class="col-sm-3 col-form-label">
               {{ form_label(form.name) }}:
            </label>

            <div class="col-sm-9">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>

        </div>

        <div class="form-group row">

            <label for="category" class="col-sm-3 col-form-label">
               {{ form_label(form.email) }}:
            </label>

            <div class="col-sm-9">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.email) }}
            </div>

        </div>

        <div class="form-group row">

            <label for="category" class="col-sm-3 col-form-label">
                {{ form_label(form.message) }}:
            </label>

            <div class="col-sm-9">
                {{ form_widget(form.message, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.message) }}
            </div>

        </div>

        <div class="form-group row">

            <div class="col-sm-3 col-form-label">
            </div>

            <div class="col-sm-9">
                <button class="btn btn-info ">
                    Send
                </button>
            </div>

        </div>

        {{ form_widget(form._token) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
