{% extends 'security/template.html.twig' %}

{% block title %}Login{% endblock %}

{% block metadata %}
    {% set social = {title: 'Login', url: url('web_login')} %}
    {% include '_partials/meta.html.twig' with social %}
{% endblock %}

{% block form_title %}Login{% endblock %}

{% block form_body %}

    <form method="post" class="default-form-layout">

        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% set error = false %}

        {% for message in app.flashes('error') %}

            {% set error = true %}

            <div class="alert alert-danger text-center">{{ message }}</div>

        {% endfor %}

        <div class="form-group">

            <label for="email">Email</label>

            <input type="email"
                   id="email"
                   class="form-control"
                   name="email"
                   required
                   value="{{ last_username ?? '' }}">

        </div>

        <div class="form-group password">

            <label for="password">Password</label>

            <input type="password"
                   class="form-control"
                   id="password"
                   required
                   name="password">

            <small class="text-right d-block pull-right mr-4 mt-1">
                <a href="{{ path('web_forgotten_password') }}">Forgotten Password?</a>
            </small>

        </div>

        <div class="form-group text-center">

            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked name="_remember_me" class="custom-control-input"/>
                <span class="custom-control-indicator"></span>
                Remember Me
            </label>

        </div>

        <div class="text-center mt-3 mb-3">
            New here?<a href="{{ path('web_register') }}" class="btn">Register</a>
        </div>

        <hr>

        <div class="text-center ml-5 mr-5 mt-3">
            <button class="btn btn-info" type="submit">Login</button>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    </form>
{% endblock %}


{% block form_footer %}

    <h6 class="h6">Login with Your social media account:</h6>

    <a href="{{ path('web_social_login',{ network: 'facebook'}) }}" class="btn facebook-login">
        <i class="fab fa-facebook"></i>
    </a>

    <a href="{{ path('web_social_login',{ network: 'google'}) }}" class="btn google-login">
        <i class="fab fa-google"></i>
    </a>
{% endblock %}
