<div class="card mt-3">

    <div class="card-header text-info">

        <strong class="h4">{{ post.user.profile.firstName }} {{ post.user.profile.lastName }}</strong>

        <div class="float-right">
            {% if post.type == 1 %}

                <div class="text-center">

                    {% if not hasBeenPhotoOfTheDay %}

                        <form method="POST">
                            <button formaction="{{ path('admin_create_photo_of_the_day',{id:post.id}) }}"
                                    class="btn btn-sm btn-success">
                                Make Photo of the day
                            </button>
                        </form>

                    {% else %}

                        <span class="text-muted">This photo was already <strong>Photo of the Day</strong></span>

                    {% endif %}

                </div>

            {% endif %}
        </div>

    </div>

    <div class="card-body p-0">

        <div class="m-3">
            {{ post.user.email }}
        </div>

        <div class="m-3">

            <a href="{{ path('admin_photo_for_curate',{'filters[username]': post.user.username}) }}" class="btn btn-outline-warning">Pending</a>

            <a href="{{ path('admin_photo_published', {'filters[username]': post.user.username}) }}" class="btn btn-outline-success">Published</a>

            <a href="{{ path('admin_photo_rejected', {'filters[username]': post.user.username}) }}" class="btn btn-outline-danger">Rejected</a>

        </div>

    </div>

</div>
