<ul class="nav justify-content-center custom-active">

    <li class="nav-item">

        <a class="nav-link {{ active('admin_photo_for_curate','_route') }}" href="{{ path('admin_photo_for_curate',app.request.query.all()) }}">Pending</a>

    </li>

    <li class="nav-item">

        <a class="nav-link {{ active('admin_photo_published','_route') }}" href="{{ path('admin_photo_published',app.request.query.all()) }}">Published</a>

    </li>

    <li class="nav-item">

        <a class="nav-link {{ active('admin_photo_rejected','_route') }}" href="{{ path('admin_photo_rejected',app.request.query.all()) }}">Rejected</a>

    </li>

</ul>
