<div class="card mt-3">

    <div class="card-header">

        <strong>Curator Comments</strong>

    </div>

    <div class="card-body p-0">

        <ul class="list-group list-group-flush">
            {% for comment in post.curateComments %}
                <li class="list-group-item">
                    <p class="text-muted"
                       data-toggle="tooltip"
                       data-placement="top" title="{{ comment.user.username }}">{{ comment.user.profile.fullName }}</p>
                    <p>{{ comment.text }}</p>
                </li>
            {% endfor %}
        </ul>

        <form action="{{ path('admin_curator_comment',{id:post.id}) }}" method="post">

            <textarea name="comment" id="curator-comment" rows="5" class="form-control"
                      placeholder="Comment"></textarea>

            <button class="btn btn-blue btn-block">Add</button>

        </form>

    </div>

</div>
