<div class="card mt-3">

    <div class="card-text">

        <ul class="list-group list-group-flush">

            <li class="list-group-item">

                {% if workflow_has_marked_place(post,2) %}
                    <h3 class="h6 font-weight-bold">
                        {% if post.parent is not null %}
                            <span class="text-danger">Rejected</span> by: {{ post.parent.publisher.profile.fullName }}
                        {% else %}
                            <span class="text-danger">Rejected</span> by: {{ post.publisher.profile.fullName }}
                        {% endif %}
                    </h3>
                {% elseif workflow_has_marked_place(post,3) %}
                    <h3 class="h6 font-weight-bold">
                        {% if post.parent is not null %}
                            <span class="text-success">Published</span> by: {{ post.parent.publisher.profile.fullName }}
                        {% else %}
                            <span class="text-success">Published</span> by: {{ post.publisher.profile.fullName }}
                        {% endif %}
                    </h3>
                {% endif %}

            </li>

        </ul>

    </div>

</div>
