{% if votes | length > 0 %}
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <strong>Curator votes</strong>
        </div>
        <div class="card-body">
            <ul class="list-group p-0">
                {% for vote in votes %}
                    <li class="list-group-item d-flex">
                        <strong class="flex-grow-1 bold"
                                data-toggle="tooltip"
                                data-placement="top" title="{{ vote.voter.username }}">{{ vote.voter.profile.fullName }}</strong>

                        <span class="badge badge-{{ vote.vote ? 'success' : 'danger' }} mb-1">{{ vote.vote ? 'Yes' : 'No' }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
