{% if workflow_has_marked_place(post,1) or
    workflow_has_marked_place(post,2) or
    (workflow_has_marked_place(post,3) and post.showDate > date()) %}

    <div class="card-header text-center">

        <div>

            <form method="post">

                {% if blocked and blocked.blocker.id != app.user.id %}

                    <p>This post was blocked by {{ blocked.blocker.profile.fullName }}</p>

                {% else %}

                    {% if workflow_can(post, 'to_published') %}

                        <button class="btn btn-outline-success"
                                formaction="{{ path('admin_photo_curate',{id:post.id,action: 1}) }}">

                            Publish

                        </button>

                    {% endif %}

                    {% if workflow_can(post, 'to_rejected') %}

                        <button class="btn btn-outline-danger" {{ reasons | length > 0 ? ' type="button" data-toggle="modal" data-target="#reject"' :  'formaction='  ~ path('admin_photo_curate',{id:post.id,action: 0}) }}>

                            Reject

                        </button>

                    {% endif %}

                    {% if alreadyBlockedByCurator is null %}
                        <button class="btn btn-outline-info"
                                formaction="{{ path('admin_curator_block_post', {id: post.id}) }}">
                            Block
                        </button>
                    {% endif %}

                    {% if blocked %}
                        <button class="btn btn-outline-warning"
                                formaction="{{ path('admin_curator_unblock_post', {id: post.id}) }}">
                            Unblock
                        </button>
                    {% endif %}

                {% endif %}

                {% if blocked %}
                    <div>
                        Blocked until {{ blocked.endDate | date('Y-m-d H:i') }}
                    </div>
                {% endif %}

                <hr>

                {% if workflow_has_marked_place(post,1) and voted == false %}

                    <button class="btn btn-link" formaction="{{ path('admin_photo_vote',{id:post.id,vote:1}) }}">
                        <i class="fa fa-thumbs-up"></i> Yes
                    </button>

                    <button class="btn btn-link text-danger"
                            formaction="{{ path('admin_photo_vote',{id:post.id,vote:0}) }}">
                        <i class="fa fa-thumbs-down"></i> No
                    </button>

                {% endif %}

                {% if workflow_has_marked_place(post,3) and post.showDate < date() %}

                    <strong>Published
                            by: </strong> {{ post.publisher.profile.firstName }} {{ post.publisher.profile.lastName }}

                {% endif %}

            </form>

        </div>

    </div>


    <div class="modal fade" id="reject" tabindex="-1" role="dialog" aria-labelledby="reject" aria-hidden="true">
        <div class="modal-dialog">
            <form action="{{ path('admin_photo_curate',{id:post.id,action: 0}) }}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reject Reasons</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for reason in reasons %}

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="reasons[]" value="{{ reason.id }}"
                                       id="reason-{{ reason.id }}">
                                <label class="form-check-label" for="reason-{{ reason.id }}">
                                    {{ reason.reason }}
                                </label>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Reject</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endif %}

