{% set clearLink = path(app.request.get('_route')) %}

<div class="container">

    <div class="default-form-layout">

        {% set filters = app.request.query.get('filters', []) %}

        <form>

            <div class="form row">

                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="username">Filter by username</label>
                        <input class="form-control" type="text" id="username"
                               placeholder="Filter by Username"
                               value="{{ filters.username | default }}" name="filters[username]">
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">

                    <div class="form-group">
                        <label for="name">Filter by name</label>
                        <input class="form-control" type="text" id="name"
                               placeholder="Filter by Name"
                               value="{{ filters.name | default }}"
                               name="filters[name]">
                    </div>

                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="name">&nbsp;</label>

                        <button class="form-control btn btn-primary">Filter</button>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="name">&nbsp;</label>

                        <a href="{{ clearLink }}" class="btn btn-warning form-control text-white">Clear</a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                        <label for="name">&nbsp;</label>

                        <a href="{{ path('admin_series_create') }}" class="btn btn-secondary form-control">Create Series</a>
                    </div>
                </div>

            </div>

        </form>

    </div>

</div>
