<div class="card mt-3">
    <div class="card-header">
        <strong>Photo Details:</strong>
    </div>
    <div class="card-body p-0">
        <ul class="list-group-flush p-0">
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Date sent:</span>
                {{ post.sentForCurateDate | date }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Title:</span>
                {{ post.title }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Category:</span>
                {{ post.category.name }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Views:</span>
                {{ post.views }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Contains nudity:</span>
                {{ post.isNude ? 'Yes' : 'No' }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Resolution:</span>
                {{ post.image.width }}px x {{ post.image.height }}px
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Orientation:</span>
                {{ post.image.orientation.name | default('') | capitalize }}
            </li>
            <li class="list-group-item d-flex">
                <span class="flex-grow-1">Greyscale:</span>
                {{ post.isGreyscale ? 'Yes' : 'No' }}
            </li>
            <li class="list-group-item d-flex flex-wrap w-100 text-center">
                {% for tag in post.tags  %}
                    <span class="badge badge-info ml-2 mr-2 mb-2">{{ tag.name }}</span>
                {% endfor %}
            </li>


        </ul>
    </div>
</div>
