<div class="card mt-3">

    <div class="card-header d-flex">

        <strong class="flex-grow-1">{{ post.type == 1 ? 'Photo' : 'Series' }} Update</strong>

    </div>
    <div class="card-body">

        <div class="card-text">

            <form action="{{ path('admin_photo_update',{id: post.id}) }}" method="post">

                <div class="form-group">
                    <label for="category_{{ post.id }}">Category</label>
                    <select name="category" class="form-control" id="category_{{ post.id }}">
                        <option value="" disabled>Select Category</option>
                        {% for category in categories %}
                            <option {{ post.category.id == category.id ? 'selected' : '' }}
                                    value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="is_greyscale_{{ post.id }}">
                        <input type="hidden" value="0" name="is_greyscale">
                        <input type="checkbox" id="is_greyscale_{{ post.id }}" name="is_greyscale"
                               value="1" {{ post.isGreyscale ? 'checked' : '' }}>
                        Black & White
                    </label>
                </div>

                <div class="form-group">
                    <label for="is_nude_{{ post.id }}">
                        <input type="hidden" value="0" name="is_nude">
                        <input type="checkbox" id="is_nude_{{ post.id }}" name="is_nude"
                               value="1" {{ post.isNude ? 'checked' : '' }}>
                        Nude Content
                    </label>
                </div>

                <div class="text-center m-2">
                    <button class="btn btn-primary">
                        Save
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
