{% if post.rejectReasons | length > 0%}

    <div class="card mt-3">

        <div class="card-header d-flex">

            <strong class="flex-grow-1">Reject Reasons</strong>

        </div>
        <div class="card-body">


            <ul class="list-group">
                {% for reason in post.rejectReasons %}
                    <ol class="list-group-item">Reason: {{ reason.reason }}</ol>
                {% endfor %}
            </ul>

        </div>

    </div>



{% endif %}
