<div class="row  flex-sm-column-reverse flex-md-row">

    <div class="col-md-4 col-sm-12">


        {% include 'admin/curator/_partials/photo-update.html.twig' %}

        {% include 'admin/curator/_partials/reject-reasons.html.twig' %}
        {% include 'admin/curator/_partials/curator-votes.html.twig' %}

        {% include 'admin/curator/_partials/curator-comment.html.twig' %}

        {% if workflow_has_marked_place(post,2) or workflow_has_marked_place(post,3) %}

            {% include 'admin/curator/_partials/curated-by.html.twig' %}

        {% endif %}

        {% include 'admin/curator/_partials/photo-details.html.twig' %}



    </div>

    <div class="col-md-8 col-sm-12">

        <img src="{{ post.image.small }}" class="post" style="cursor: zoom-in;" data-url="{{ post.image.large }}"
             alt="{{ post.title }}" width="100%">

        <div class="text-center">
            <h4>
                {% if post.title %}
                    {{ post.title }}
                {% else %}
                    <span class="text-muted">untitled</span>
                {% endif %}
            </h4>
        </div>

        {% include 'admin/curator/_partials/author-details.html.twig' %}

    </div>


</div>
