<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #f1f1f1;margin: 0 auto !important;padding: 0 !important;height: 100% !important;width: 100% !important;">
<head style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <meta charset="utf-8" style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <meta name="viewport" content="width=device-width"
          style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
          style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <meta name="x-apple-disable-message-reformatting"
          style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">{% block email_title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap&subset=cyrillic"
          rel="stylesheet">

</head>

<body width="100%"
      style="margin: 0 auto !important;padding: 0 !important;mso-line-height-rule: exactly;background-color: transparent;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #f1f1f1;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 15px;line-height: 1.8;color: rgba(0, 0, 0, .4);height: 100% !important;width: 100% !important;">
<div style="display: none;font-size: 1px;max-height: 0px;max-width: 0px;opacity: 0;overflow: hidden;mso-hide: all;font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
</div>
<div style="max-width: 600px;margin: 0 auto;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
     class="email-container">
    <!-- BEGIN BODY -->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
           style="margin: auto;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;border-spacing: 0 !important;border-collapse: collapse !important;table-layout: fixed !important;">
        <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <td class="bg_white logo"
                style="padding: 1em 2.5em;text-align: center;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #ffffff;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;">
                <h1 style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: 'Roboto', serif;color: #000000;margin-top: 0;margin: 0;">
                    <a href="#"
                       style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #000;font-size: 20px;font-weight: 700;text-transform: uppercase;font-family: 'Roboto', sans-serif;">{% block email_logo_text %}PHOTOIMAGINART{% endblock %}</a>
                </h1>
            </td>
        </tr>

        <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <td class="bg_white"
                style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #ffffff;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
                       style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;border-spacing: 0 !important;border-collapse: collapse !important;table-layout: fixed !important;margin: 0 auto !important;">

                    <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <td class="bg_light email-section"
                            style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #fafafa;padding: 2.5em;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;">
                            <table style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;border-spacing: 0 !important;border-collapse: collapse !important;table-layout: fixed !important;margin: 0 auto !important;">
                                <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <td style="color: #000000;font-size: 18px;padding-top: 10px;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;">
                                        <h2 style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;margin-top: 0;">
                                            Dear, {% block email_user %}{{ site_name }} Member{% endblock %}</h2>
                                        <p style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;">{% block email_content %}{% endblock %}</p>

                                        {% block email_poster %}{% endblock %}

                                        {% block email_footer_1 %}{% endblock %}
                                        {% block email_footer_2 %}{% endblock %}
                                        {% block email_footer_3 %}{% endblock %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <td class="bg_white email-section"
                            style="font-size: 18px;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background: #ffffff;padding: 2.5em;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;">
                            <div style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Kind Regards,<br
                                        style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">{{ site_name }}
                                Team
                            </div>

                            {{ include('emails/_social.html.twig') }}

                            <br>
                            <small style="opacity: .7;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">{% block site_email_address %}
                                    {{ site_email }}{% endblock %}</small>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

</div>
</body>
</html>