<p style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><a href="{{ button_url ?? '#' }}"
                                                                         class="btn btn-primary"
                                                                         style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;text-decoration: none;color: #ffffff;padding: 10px 15px;border-radius: 10px;background: #375a7f;">{{ button_title ?? 'Click Here' }}</a>
</p>