{#<tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">#}
{#    <td valign="middle" class="counter">#}
{#        <div style="height: 8em !important; overflow: hidden">#}
{#            <img src="{{ poster_url }}" alt="" width="100%">#}
{#        </div>#}
{#    </td>#}
{#</tr>#}

<img src="{{ poster_url }}" alt="" style="max-width: 300px">