<span style="line-height: 24px; height: 24px">
    Share it with the world:&nbsp;

    <a href="https://www.facebook.com/dialog/share?app_id=2360993147521648&display=popup&href={{ share_url }}"><img
                src="https://{{ site_url }}{{ asset('images/share_facebook.png') }}"
                alt="" style="width: 24px; height: 24px"></a>

    <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ media }}&description=">
        <img src="https://{{ site_url }}{{ asset('images/share_pinterest.png') }}"
             alt="" style="width: 24px; height: 24px"></a>

    <a href="https://twitter.com/intent/tweet?url={{ share_url }}">
        <img src="https://{{ site_url }}{{ asset('images/share_twitter.png') }}"
             alt="" style="width: 24px; height: 24px"></a>

</span>
