{% extends 'emails/_base.html.twig' %}

{% block email_title %}Confirm Your account at {{site_name}}{% endblock %}

{% block email_user %}{{ payload.receiver.first_name }} {{ payload.receiver.last_name }}{% endblock %}

{% block email_content %}

    <p> You are one step from becoming {{ site_name }} member.</p>
    <p> Just click the link bellow and all is settled.</p>

    <br>

    <a href="{{ url('web_confirmation' , {token: payload.token}) }}" >Confirm</a>

{% endblock %}
