<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    Name: {{ payload.name }}
</p>
<p>
    Original Email: {{ payload.app_user_email }}
</p>
<p>
    Reply-To Email: {{ payload.email }}
</p>
<p>
    IP: {{ payload.app_user_ip }}
</p>

<hr>

<p>
    {{ payload.message }}
</p>

</body>
</html>
