{% extends 'emails/_base.html.twig' %}

{% block email_title %}Reset Your {{ site_name }} password.{% endblock %}

{% block email_user %}{{ payload.receiver.first_name }} {{ payload.receiver.last_name }}{% endblock %}

{% block email_content %}
    <p>
        Resetting your password is easy. Just press the link below and follow the instructions. We'll have you up and
        running in no time.
    </p>
{% endblock %}

{% block email_footer_1 %}
    <br>
    {{ include('emails/_button.html.twig', {
        'button_url': url('web_forgotten_password_reset' , {token: payload.token, email: payload.receiver_email}),
        'button_title': 'Reset Password',
    }) }}
{% endblock %}
