{% extends 'emails/_base.html.twig' %}

{% block email_title %}Your photo is selected as Photo of the day!{% endblock %}


{% block email_user %}
    {{ payload.name }}
{% endblock %}


{% block email_content %}
    Completed {{ payload.balance }} {{ payload.status }}
{% endblock %}
