{% extends 'emails/_base.html.twig' %}

{% block email_title %}Your photo is published!{% endblock %}

{% block email_poster %}
    {{ include('emails/_poster.html.twig', {
        'poster_url': payload.post.photo_url
    }) }}
{% endblock %}

{% block email_user %}{{ payload.receiver.first_name }} {{ payload.receiver.last_name }}{% endblock %}

{% block email_content %}
    Congratulations! Your photo has been selected to be part of the {{ payload.post.series|striptags }} series by the curators!
{% endblock %}

{% block email_footer_1 %}
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
           style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;border-spacing: 0 !important;border-collapse: collapse !important;table-layout: fixed !important;margin: 0 auto !important;"><tr><td></td></tr>
    </table>

    <span>{{ site_url }}</span>

    <h3 style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;margin-top: 0;">
         CURATORS SELECTION
    </h3>
    {{ include('emails/_button.html.twig', {
        'button_url': payload.post.url,
        'button_title': 'View',
    }) }}
{% endblock %}

{% block email_footer_2 %}
    <p>
        {{ include('emails/_sharing.html.twig', {
            'share_url': payload.post.url,
            'media': payload.post.photo_url,
        }) }}
    </p>
{% endblock %}
