{% extends 'emails/_base.html.twig' %}

{% block email_title %}Your series is published!{% endblock %}

{% block email_poster %}
    {{ include('emails/_poster.html.twig', {
        'poster_url': payload.post.photo_url
    }) }}
{% endblock %}

{% block email_user %}{{ payload.receiver.first_name }} {{ payload.receiver.last_name }}{% endblock %}

{% block email_content %}
    It is our honor to inform you that your series has been published in the {{ site_name }} Gallery!
{% endblock %}

{% block email_footer_1 %}

    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
           style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0pt !important;mso-table-rspace: 0pt !important;border-spacing: 0 !important;border-collapse: collapse !important;table-layout: fixed !important;margin: 0 auto !important;"><tr><td></td></tr>
    </table>

    <span>{{ site_url }}</span>

    <h3 style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #000000;margin-top: 0;">
        PUBLISHED
    </h3>

    {{ include('emails/_button.html.twig', {
        'button_url': payload.post.url,
        'button_title': 'View',
    }) }}
{% endblock %}

{% block email_footer_2 %}
    <br>
    <p>
        Each photo is carefully analyzed by professional curators and
        only the most impressive works are published in the {{ site_name }} gallery!<br>

        {{ include('emails/_sharing.html.twig', {
            'share_url': payload.post.url,
            'media': payload.post.photo_url
        }) }}
    </p>
{% endblock %}
