{% extends 'emails/_base.html.twig' %}

{% block email_title %}Welcome to {{ site_name }}!{% endblock %}

{% block email_user %}{{ payload.receiver.first_name }} {{ payload.receiver.last_name }}{% endblock %}

{% block email_content %}

    Welcome to {{ site_name }} photographic community!<br>
    The {{ site_name }} Photo gallery publish the most impressive photographic works selected by experienced professional curators.
    <br>
    <br>
    In addition to the professional curation, the gallery offers you the opportunity to upload series, filter the gallery in various ways, (soon) the ability to sale your prints and many more features!
    <br>
    Only the most impressive works have been published in the {{ site_name }} gallery.<br>
    <br>
    We wish you success and wonderful moments in the community!<br>

    {% if payload.social %}
        <br>
        <p>If you want to login using password</p>
        <p>you have to first set one using the link bellow.</p>
        <a href="{{ url('web_change_password') }}">Set password</a>
    {% endif %}

{% endblock %}

{% block email_footer_1 %}
    <br>
    {{ include('emails/_button.html.twig', {
        'button_url': url('web_popular'),
        'button_title': 'Visit Site',
    }) }}
{% endblock %}
