{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="w-50 m-auto">
        {{ form(form) }}

    </div>
{% endblock %}