{% extends 'template.html.twig' %}

{% block title %}Messages {% endblock %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {{ react_component('Messages',{rendering:'client_side',props:{
        conversation:app.request.query.get('conversation'),
        mobile: is_mobile(),
        user:user.id,
        receiver: receiver }}) }}

{% endblock %}

{% block js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<script>
    $(function () {
        $('#reply-editor').summernote({
            height: 300,
            popover: {
                image: [],
                link: [],
                air: []
            }
        });
    })
</script>
{% endblock %}
