<!doctype html>

<html lang="en">

    <head>
        {# Meta #}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <style>
            label.required:after {
                content: " *";
                color: red;
            }
        </style>

        {% block metadata %}

            {% include '_partials/meta.html.twig' %}

        {% endblock %}

        {# Title #}
        <title>{% block title %}{% endblock %} :: {{ site_url|capitalize }}</title>

        {# Styles #}
        {% include '_partials/css.html.twig' %}

        <link rel="icon" href="{{ asset('images/favicon.ico') }}">

        <link rel="manifest" href="{{ asset('build/manifest.json') }}">

        {% block css %}{% endblock %}

    </head>

    <body class="main-body {% block body_css_classes %}{% endblock %}">
        {# Main nav #}
        {% block main_navigation %}
            {% include '_partials/navigation/index.html.twig' %}
        {% endblock %}

        {# Main Content #}
        <main class="mb-5 {% block main_css_classes %}{% endblock %}" style="margin-top: 50px">

            {% include '_partials/_verify.html.twig' %}

            {% block body %}{% endblock %}

            {% include '_partials/copyright-notice.html.twig' %}

        </main>

        {# JS #}
        {% include '_partials/js.html.twig' %}

        {% block js %}{% endblock %}

        {# Cookie Accept #}
        {% include '_partials/cookie_accept.html.twig' %}

        {# Notifications #}
        {% include '_partials/notification.html.twig' %}

        {# Analitycs #}
        {% if app.debug == false %}
            {% include '_partials/analytics.html.twig' %}
        {% endif %}

    </body>
</html>
