{% extends 'base.html.twig' %}

{% block body %}

    {% block main_before %}{% endblock %}

    <div class="container basic-layout {% block container_class %}{% endblock %}">

        {% block main_header %}

            <div class="row">

                <div class="col-12">

                    {% block header_center %}

                        <div class="row">

                            <div class="col-lg-6 col-md-7">

                                {% block header_left_container %}

                                <h1 class="float-left">

                                    <span class="align-middle">{% block header_left %}{% endblock %}</span>

                                </h1>

                                {% endblock %}

                            </div>

                            <div class="col-lg-6 col-md-5 text-md-right">

                                <div class="row h-100">

                                    <div class="col-sm-12 my-auto">

                                        {% block header_right %}{% endblock %}

                                    </div>

                                </div>

                            </div>

                        </div>

                        <hr>

                    {% endblock %}

                </div>

            </div>

        {% endblock %}

        {% block row %}

            <div class="row default-form-layout {% block row_class %}{% endblock %}">

                {% block main_content %}{% endblock %}

            </div>

        {% endblock %}

        {% block main_footer %}{% endblock %}

    </div>

    {% block main_after %}{% endblock %}

{% endblock %}


