{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.title, 'Series Decritption:') }}
    {{ form_widget(form.title, {attr:{class:'form-control', 'placeholder':'Series Decritption'}}) }}

    {% if form.title.vars.errors|length > 0 %}
        <div class="form-error-list alert alert-danger small mt-2">
            {{ form_errors(form.title) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    {% if series|default and series.cover is not null %}
        <img src="{{ series.cover }}" alt="Cover" style="height: 150px">

        <hr>
    {% endif %}

    {{ form_widget(form.imageCover, {attr:{class:'form-control-file', 'placeholder':'Cover','data-label':'Cover'}}) }}

    {% if form.imageCover.vars.errors|length > 0 %}
        <div class="form-error-list alert alert-danger small mt-2">
            {{ form_errors(form.imageCover) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary">{{ button_title }}</button>
</div>

{{ form_end(form) }}
