{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    {{ print_poll() }}

    <div class="container photos sm-full photos-infinite">

        {% include 'home/selection_series.html.twig' %}

        {% include 'home/nav.html.twig' %}

        {% set nude = app.user and app.user.settings.showNudes %}

        {% set auth = app.user ? app.user.id   : null %}

        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            mobile:is_mobile(),
            nude:nude,
            auth:auth,
            sizes: sizes(),
            materials: materials(),
            curator: is_granted('ROLE_CURATOR'),
            page: page}}) }}

    </div>

    {{ include('_partials/_social_icons.html.twig') }}

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.share-btn').click(function (e) {
                e.preventDefault();
                window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
                return false;
            });
        });
    </script>
{% endblock %}
