{% extends 'template.html.twig' %}

{% block title %}Manage Selection Series{% endblock %}

{% block header_left %}Manage Selection Series{% endblock %}

{% block header_right %}{% endblock %}

{% block main_content %}

    <div class="col-12">

        <div class="row">
            {% if series|length > 0 %}

                {% for item in series %}

                    <div data-id="{{ item.id }}" class="js-main col-lg-3 col-md-4 col-sm-6">
                        <div class="card mb-4 text-center">

                            {% if item.visibility == 1 %}
                                <div class="alert-success position-absolute" style="top: 0; width: 100%">
                                    Shown on Front page
                                </div>
                            {% endif %}

                            <img src="{{ item.cover }}" class="card-img-top" alt="..."
                                 style="object-fit: cover; width: 100%; height: 200px">


                            <div class="card-body">

                                <p class="text-info">
                                    {{ item.title|easyadmin_truncate(100)|raw }}
                                </p>

                                <p class="text-muted small">Added: {{ item.createdAt|date('d/M/Y H:i:s') }}</p>

                                <div>

                                    {% if item.visibility != 1 %}
                                        <button data-toggle="modal"
                                                data-target="#action-confirm"
                                                data-modal-text="Are You sure that you want to show this on Front Page?"
                                                data-url="{{ path('admin_series_selection_show', {id: item.id}) }}"
                                                title="Show Series"
                                                class="btn btn-sm btn-success text-white confirm-action">
                                            Show
                                        </button>
                                    {% endif %}

                                    {% if item.visibility == 1 %}
                                        <button data-toggle="modal"
                                                data-target="#action-confirm"
                                                data-modal-text="Are You sure that you want to hide this from Front Page?"
                                                data-url="{{ path('admin_series_selection_hide', {id: item.id}) }}"
                                                title="Hide Series"
                                                class="btn btn-sm btn-light text-white confirm-action">
                                            Hide
                                        </button>
                                    {% endif %}

                                    <button data-toggle="modal"
                                            data-target="#action-confirm"
                                            data-modal-text="Are You sure that you want to edit this Selection Series?"
                                            data-url="{{ path('admin_series_selection_edit', {id: item.id}) }}"
                                            title="Edit Selection Series"
                                            class="btn btn-sm btn-warning text-white confirm-action">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button data-toggle="modal"
                                            data-target="#action-confirm"
                                            data-modal-text="Are You sure that you want to delete this Selection Series?"
                                            data-url="{{ path('admin_series_selection_delete', {id: item.id}) }}"
                                            title="Delete Selection Series"
                                            class="btn btn-sm btn-danger text-white confirm-action">
                                        <i class="fa fa-times"></i>
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>

                {% endfor %}

                <div class="modal fade mt-5" id="action-confirm" tabindex="-1"
                     role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">No
                                </button>

                                <form action=""
                                      method="post"
                                      class="d-inline-block">
                                    <button class="btn btn-info">Yes, I am!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="col-12">
                    <h6 class="text-muted">No Series yet.</h6>
                </div>

            {% endif %}


        </div>

    </div>

    <form id="js-switch-form" action="{{ path('admin_switch_photo_of_the_day') }}" method="post" class="d-none">
        <input type="hidden" name="_method" value="PUT"/>
        <input id="js-switch" type="hidden" name="ids" value="">
    </form>

{% endblock %}

{% block js %}

    <script>
        $(document).ready(function () {
            $('.confirm-action').on('click', function (e) {
                let modalText = $(this).data('modal-text');
                let url = $(this).data('url');

                $('.modal .modal-body').html(modalText);
                $('.modal form').attr('action', url);
            })
        });
    </script>

{% endblock %}
