{% extends 'template.html.twig' %}

{% block header_right %}
    <a href="{{ path('admin_series') }}">
        <i class="fa fa-times"></i>
    </a>
{% endblock %}

{% block header_left %}Add Series to Selection{% endblock %}

{% block main_content %}

    <div class="col-sm-6">

        <div class="default-form-layout">

            {{ include('admin/selection/_form.html.twig', {
                'button_title': 'Add to Selection Series'
            }) }}

        </div>

    </div>

{% endblock %}

{% block js %}
    <script>

        $(function(){
            $('.custom-file').dropzone()
        })

    </script>
{% endblock %}
