{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="container mt-5">


        <h3 class="text-center">Add photo to store</h3>

        <div class="row">

            <div class="col-12 d-flex justify-content-center align-content-center align-items-center flex-column">

                <div>

                    <img src="{{ post.image.thumbnail }}" alt="{{ post.title }}">

                </div>

                {% if canEdit == false %}

                    <div class="row">


                        <div class="col-12">
                            <p class="bold p-3 text-center">

                                You will be able to edit you product
                                on {{ product.priceChangeAt.modify('+ '  ~ config.priceChangeTimespan  ~ 'days') | date('d-m-Y H:i') }}

                                <br>

                                <strong>Price: <small>{{ product.commission }} {{ config.currency }}</small></strong>

                            </p>


                        </div>

                    </div>

                {% endif %}

                {% if canEdit or print %}

                    {{ form_start(form) }}

                    <div class="form-row mt-3">

                        {% if canEdit %}

                            <div class="form-group col-12 p-0">
                                {{ form_label(form.commission) }}
                                {{ form_widget(form.commission, {attr:{class:'form-control'}}) }}
                            </div>


                        {% endif %}

                        {% if print %}

                            <div class="form-group col-12 p-0">
                                {{ form_label(form.print) }}
                                {{ form_widget(form.print, {attr:{class:'form-control'}}) }}
                            </div>


                        {% endif %}


                        <button class="btn btn-blue btn-block">Save</button>


                    </div>
                    {{ form_end(form) }}


                {% endif %}

            </div>

        </div>


    </div>
{% endblock %}

