{% extends 'template.html.twig' %}

{% set title = app.request.get('type') == 'single' ? 'Photo' : 'Series' %}

{% block title %} {{ title }} Manager{% endblock %}

{% block header_left %} {{ title }} Manager{% endblock %}

{% block header_right %}

    <a href="{{ path('web_photo_create',{type:'series-from-published'}) }}"
       class="btn btn-blue"
       title="Create series">

        <i class="fa fa-plus"></i> Create Series

    </a>

{% endblock %}

{% block row_class %}image-browse-container{% endblock %}

{% block main_content %}


    {% if posts | length > 0 %}

        <div class="col-md-12">

            <div class="row infinite-photos">

                {% include 'post/posts.html.twig' %}

            </div>

            {% include '_partials/loader.html.twig' %}

        </div>

    {% else %}

        {% if app.request.get('page') == 1 %}

            <div class="col-12">

                <p class="text-muted">You don't have any photos uploaded yet.</p>

            </div>

        {% else %}

            <div class="col-12">

                <p class="text-muted">No photos available.</p>

            </div>

        {% endif %}

    {% endif %}



{% endblock %}

{% block js %}

    <script src="{{ asset('js/infinite.js') }}"></script>

    <script>infinite('.infinite-photos')</script>

    {% from "_partials/warning.html.twig" import warning %}

    {{ warning('delete-warning-modal','delete-warning-form','delete-warning-btn','Confirm!', 'Are you sure you want delete this photo?') }}

    {{ warning('curator-warning-modal','curator-warning-form','curator-warning-btn','Confirm!', 'Are you sure you want to send this photo to curator?') }}

{% endblock %}


