{% for data in posts %}

    <!--suppress ALL -->
    <div class="col-lg-4 col-md-6">

        <div class="image-thumb-container">

            <div class="image-thumb">

                <a href="{{ path('web_photo_update',{id: data.post.id}) }}">

                    {% set image = data.post.type == 1 ?  data.post.image.thumbnail  : data.post.cover.image.thumbnail %}

                    <img src="{{ image }}"
                         alt="{{ data.post.title }}">
                </a>

                {% if workflow_has_marked_place(data.post, 1) %}

                    <div class="sticker pending semi-transparent">
                        Pending Review
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(data.post, 3) and data.post.showDate > date() %}

                    {% if data.post.curatedAt|date_modify(site_publish_visibility_delay) > date() %}

                        <div class="sticker pending semi-transparent">
                            Pending Review!
                        </div>

                    {% else %}

                        <div class="sticker approved semi-transparent">
                            Scheduled for Publish!
                        </div>

                    {% endif %}

                {% endif %}

                {% if workflow_has_marked_place(data.post, 3) and data.post.showDate < date() %}

                    <div class="sticker approved semi-transparent">
                        Published!
                    </div>

                {% endif %}

                {% if workflow_has_marked_place(data.post, 2) %}

                    <div class="sticker canceled semi-transparent">
                        Not approved!
                    </div>

                {% endif %}

            </div>

            <div class="image-thumb-metadata">

                Stats

                <div class="stats mt-1 mb-1 text-center">

                    <i class="far fa-eye" data-toggle="tooltip" data-placement="bottom"
                       title="Views"></i> {{ data.post.views }}

                    <i class="ml-5 far fa-heart" data-toggle="tooltip" data-placement="bottom"
                       title="Favorite"></i> {{ data.post.favorites|length }}

                    {% if data.rating != 0 %}
                        <i class="ml-5 fas fa-fire-alt" data-toggle="tooltip" data-placement="bottom"
                            title="Popularity"></i>
                        {{ data.rating|number_format(2, '.', ',') }} / 5
                    {% endif %}

                    {% if data.post.isGreyscale %}
                        <i class="ml-5 fas fa-adjust" data-toggle="tooltip" data-placement="bottom"
                           title="Black&White"></i>
                    {% endif %}

                </div>

                <hr class="no-gutter">

                Actions

                <div class="actions mb-1">


                    {% if workflow_has_marked_place(data.post, 0) and data.post.parent is null %}


                        <button class="btn curator-warning-btn btn-info"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-title="Send to Curators"
                                data-url="{{ path('web_photo_for_curate',{id: data.post.id, page:app.request.get('page')}) }}">
                            Send to curators
                        </button>


                    {% endif %}

                    <a href="{{ path('web_photo_update',{id:data.post.id}) }}"
                       data-toggle="tooltip" data-placement="bottom"
                       title="Edit"
                       class="btn btn-default">
                        <i class="fa fa-edit"></i>
                    </a>

                    {% if config().allowShopping == true and
                        workflow_has_marked_place(data.post, 3) and data.post.showDate < date() %}

                        <a href="{{ path('web_photo_for_sale', {id:data.post.id,type: app.request.get('type')}) }}"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           class="btn btn-default"
                           title="{{ data.post.product is not null ? 'Update Products' : 'Add to store' }}">

                            {% if data.post.product is not null %}
                                <i class="fas fa-store"></i>
                            {% else %}
                                <span class="btn btn-outline-success btn-sm">
                                    SELL
                                </span>
                            {% endif %}

                        </a>

                    {% endif %}


                    {% if ( workflow_has_marked_place(data.post,0) or workflow_has_marked_place(data.post,2)) and data.post.parent is null %}

                        <button type="button"
                                class="btn delete-warning-btn"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-title="Delete"
                                data-url="{{ path('web_photo_delete',{id:data.post.id}) }}">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>
                        {##}
                    {% endif %}

                </div>

            </div>

        </div>

    </div>

{% endfor %}
