{% extends 'template.html.twig' %}
{% block title %}{{ post.title }}{% endblock %}

{% block header_left %}

    {{ post.title }}

    <div>
        <span class="small text-muted">Share: </span>
        {{ include('_partials/buttons/_facebook_share.html.twig', {
            'share_url': url('web_series_show', {
                'id': post.id,
            }),
            'classes': 'pr-2'
        }) }}

        {{ include('_partials/buttons/_pinterest_share.html.twig', {
            'share_url': url('web_series_show', {
                'id': post.id,
            }),
            'media': post.image.social ?? post.image.small,
            'description': 'Photo of the Day!',
            'classes': 'pr-2'
        }) }}

        {{ include('_partials/buttons/_twitter_share.html.twig', {
            'share_url': url('web_series_show', {
                'id': post.id,
            }),
        }) }}
    </div>

    {% if post.description %}
        <div class="text-muted small mt-2">
            {{ post.description }}
        </div>
    {% endif %}

{% endblock %}

{% block header_right %}

   <div class="d-flex justify-content-end">
       {% if post.for_sale %}

           {{ react_component('Options',{rendering:'client_side',props:{post:post,sizes:sizes(),materials:materials()}}) }}

       {% endif %}

       {% if app.request.session.get('series-back') %}
           <a class="ml-5" href="{{ path(app.request.session.get('series-back'), app.request.session.get('series-back-arguments')) }}">
               <i class="fas fa-times"></i>
           </a>
       {% endif %}
   </div>
{% endblock %}

{% block container_class %}photos{% endblock %}

{% block main_content %}

    <div class="col-12">
        {{ react_component('InfinitePost',{rendering:'client_side',props:{
            mobile:is_mobile(),
            nude:nude,
            posts:posts,
            hidden: posts | length != 0,
            sizes: sizes(),
            materials: materials(),
            has_more: false,
            series: app.request.get('id'),
            auth: auth,
            curator: is_granted('ROLE_CURATOR'),
            page:'series'}}) }}
    </div>

{% endblock %}


