{% set footer = false %}

{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title is defined and post.title|trim|length > 0 ? post.title :  'Photo ' }}
{% endblock %}

{% block body %}

    {% set comment = app.request.query.get('comment') %}
    {% set curate =  is_granted('ROLE_CURATOR') ? path('admin_photo_show',{id:post.id}) : null %}
    {% set auth =  app.user ? app.user.id : null %}

    {{ react_component('PostSinglePage',{rendering:'client_side',props:{
        post: post,
        sizes: sizes(),
        materials: materials(),
        settings:{
            mobile:is_mobile(),
            comment:comment,
            curate:curate,
            page:page,
            single:1,
            category:payload,
            album:payload,
            user:payload,
            curator: is_granted('ROLE_CURATOR'),
            full: true,
            auth: auth
        }}}) }}
{% endblock %}
