{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

    <div class="container-fluid basic-layout">

        <div class="cart">
            {% if sizes|length == 0 or materials|length == 0 %}
               <div class="text-center" style="position:absolute; top: 50%; left:0;right: 0; margin-top: -100px">
                   <i class="fas fa-store" style="font-size: 80px"></i>
                   <h3 class="text-muted text-center" style="margin-top: 500px">
                      <strong> We will be back soon</strong>
                   </h3>
               </div>
            {% else %}
                {% set user = getCartUser(1) %}
                {{ react_component('Cart',{rendering:'client_side',props: {
                    countries:countries,
                    configuration: configuration,
                    user:user,
                    items:items,
                    materials:materials,
                    sizes:sizes}}) }}
            {% endif %}
        </div>

    </div>
{% endblock %}



