{% extends 'base.html.twig' %}

{% block title %}Art Prints{% endblock %}

{% block body %}

    <div class="basic-layout store">

        <ul class="nav justify-content-center custom-active store-nav">

            <li class="nav-item">
                <a class="nav-link {{ active('single','type') }}"
                   href="{{ path('web_store') }}"><strong>SINGLE</strong></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link  {{ active('series','type') }}" href="{{ path('web_store',{type: 'series'}) }}">
                    <strong>SERIES</strong>
                </a>
            </li>

            <li class="nav-item ">
                <a class="text-info nav-link" target="_blank" href="{{ path('web_product_details') }}">
                    <strong>PRODUCT DETAILS</strong>
                </a>
            </li>

        </ul>

        <div class="container photos mt-5">

            <hr>

            {% set filters = app.request.query.all() %}

            <i class="fas fa-lightbulb d-inline d-md-none js-wall-switch" id="js-bulb"></i>
            <button class="btn btn-black-txt btn-light d-none d-md-inline js-wall-switch" id="js-swich">LITE WALL</button>

            {% if app.request.attributes.get('type') == 'single' %}
                {{ react_component('InfinitePost',{rendering:'client_side',props:{
                    mobile:is_mobile(),
                    nude:nude,
                    auth:auth,
                    sorting: true,
                    more: posts.has_more,
                    page: 'store',
                    sizes: sizes(),
                    materials: materials(),
                    filter: true,
                    filters: filters,
                    categories: categories,
                    posts: posts.items,
                    hidden: posts.total != 0,
                    curator: is_granted('ROLE_CURATOR') }}) }}
            {% else %}
                {{ react_component('InfiniteSeries',{rendering:'client_side',props:{
                    filter:1,
                    sorting: true,
                    sizes: sizes(),
                    materials: materials(),
                    categories:categories,
                    series:posts.items,
                    page: 'store'}}) }}
            {% endif %}

        </div>

    </div>


{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('.js-wall-switch').click(function(e){
            $('.main-body').toggleClass('main-store');

            let bulb = $('#js-bulb');
            bulb.toggleClass('fas')
            bulb.toggleClass('far')

            let bg_switch = $('#js-swich');
            bg_switch.toggleClass('btn-light')
            bg_switch.toggleClass('btn-dark')
            bg_switch.toggleClass('btn-black-txt')
            bg_switch.text(function(i, text){
                return text === "LITE WALL" ? "DARK WALL" : "LITE WALL";
            })
        });
    });
</script>
{% endblock %}
