{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    {{ react_component('SingleProduct',{rendering:'client_side', props:{
        sizes:sizes,
        size: app.request.query.getInt('size', 1),
        materials:materials,
        material: app.request.query.getInt('material', 1),
        quantity: app.request.query.getInt('quantity', 1),
        product:product
    }}) }}

{% endblock %}


