{% extends 'base.html.twig' %}
{% block title %}
    Invoice
{% endblock %}
{% block style %}
    <style>
        @media print {
            .navigation-bar {
                display: none !important;
            }
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container mt-5 mb-5" id="pdf">
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-0">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-6">
                                <h3>Invoice</h3>
                                <img src="{{ asset('images/logo.png') }}" width="50px">
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="fmb-1">
                                    <button class="btn btn-blue" onclick="window.print()">
                                        <i class="fas fa-print"></i>
                                    </button>
                                    <button class="btn btn-blue" id="download-pdf">
                                        <i class="far fa-file-pdf"></i>
                                    </button>
                                </p>
                                <p class="font-weight-bold mb-1">Receipt #{{ invoice.id }}</p>
                                <p class="font-weight-bold mb-1">Order #{{ invoice.order.token }}</p>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">Client Information</p>
                                <p class="mb-1">{{ invoice.order.billingAddress.name }}</p>
                                <p class="mb-1">{{ invoice.order.billingAddress.city }}
                                    , {{ invoice.order.billingAddress.country }}</p>
                                <p class="mb-1">{{ invoice.order.billingAddress.zip }}</p>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <p class="font-weight-bold mb-4">Payment Details</p>
                                <p class="mb-1 text-right"><span
                                            class="text-muted float-left">VAT: </span> {{ configuration.vatNumber }}</p>
                                <p class="mb-1 text-right"><span
                                            class="text-muted float-left">Payment Type: </span> {{ invoice.order.transaction.gateway }}
                                </p>
                                <p class="mb-1 text-right"><span
                                            class="text-muted float-left">Name: </span> {{ configuration.name }}</p>
                            </div>
                        </div>
                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Media</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Size</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set subtotal = 0 %}
                                        {% for item in invoice.order.items %}
                                            {% set subtotal = (subtotal + item.price) * item.quantity %}
                                            <tr>
                                                <td>{{ item.product.id }}</td>
                                                <td>{{ item.product.post.title ?? item.product.post.id }}</td>
                                                <td>{{ item.material.name }}</td>
                                                <td>{{ item.size.width }}x{{ item.size.height }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ (item.price ) | number_format(2)  }} {{ configuration.currency }}</td>
                                                <td>{{ (item.price * item.quantity) | number_format(2)  }} {{ configuration.currency }}</td>
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Grand Total</div>
                                <div class="h2 font-weight-light">
                                    {{ invoice.order.transaction.paymentGross | number_format(2) }}
                                    {{ invoice.order.transaction.currencyCode }}
                                </div>
                            </div>

                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Tax</div>
                                <div class="h2 font-weight-light">{{ (configuration.tax * subtotal) | number_format(2)  }} {{ configuration.currency }}</div>
                            </div>
                            <div class="py-3 px-5 text-right">
                                <div class="mb-2">Sub - Total amount</div>
                                <div class="h2 font-weight-light">{{ subtotal | number_format(2)  }} {{ configuration.currency }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js" crossorigin="anonymous"></script>

    <script>
        $('#download-pdf').on('click',function(){

            html2canvas(document.querySelector('#pdf'), {imageTimeout: 5000, useCORS: true}).then(canvas => {
                document.getElementById('pdf').appendChild(canvas)
                let img = canvas.toDataURL('image/png')
                let pdf = new jsPDF('landscape')
                pdf.addImage(img, 'JPEG', 0, 0, 300, 210)
                pdf.save('order-{{ invoice.order.token }}.pdf')
                $('canvas').remove();
            })

        })
    </script>

{% endblock %}

