<div class="d-flex">

    <form method="post">

        <div class="rating">{%
                for i in settings.max..1 %}<button
                data-toggle="tooltip"
                        formaction="{{ path('web_vote_action',{vote:i}) }}"
                        title="Rating {{ i }}">

                    <i class="fas fa-star"></i>
                </button>{% endfor %}</div>

    </form>

    <div>
        {{ react_component('Favorite',
            {rendering:'client_side',props:{post:post.id,favorite:favorite}}) }}
    </div>

</div>
