{% extends 'base.html.twig' %}

{% block title %}Series Manager{% endblock %}

{% block body %}

    <div class="container">
        <hr>
        <h3 class="d-flex">
            <div class="flex-grow-1">Series Manager</div>
            <a href="{{ path('admin_series_create') }}" class="btn btn-blue">Create Series</a>
        </h3>
        <hr>
        <div class="row">
            {% if posts | length > 0 %}
                {% include 'admin/curator/series/posts.html.twig' %}
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block js %}

    <script src="{{ asset('js/infinite.js') }}"></script>

    <script>infinite('.infinite-photos')</script>

    {% from "_partials/warning.html.twig" import warning %}

    {{ warning('delete-warning-modal','delete-warning-form','delete-warning-btn','Confirm!', 'Are you sure you want delete this photo?') }}

{% endblock %}
