{% for post in posts %}

    <!--suppress ALL -->
    <div class="col-lg-4 col-md-6 d-flex mb-5">

        <div class="card">

            <div class="card-body p-0">

                <a href="{{ path('admin_series_update',{id: post.id}) }}">

                    {% set image = post.type == 1 ?  post.image.thumbnail  : post.cover.image.thumbnail %}

                    <img src="{{ image }}" alt="{{ post.title }}" width="100%" height="200px"
                         style="object-fit: cover"/>
                </a>

            </div>

            {% if post.title %}
                <div class="card-footer p-2">
                    <small class="text-muted">Title:</small>
                    <h5 class="p-0"> {{ post.title }}</h5>
                </div>
            {% endif %}

            {% if post.description %}

                <div class="card-footer">
                    <small class="text-muted">Description:</small>
                    <p class="text-muted">
                        {{ post.description }}
                    </p>
                </div>

            {% endif %}

            <div class="card-footer">

                <div class="text-muted">
                    <small>Actions:</small>
                </div>

                <a href="{{ path('admin_series_update',{id:post.id}) }}"
                   data-toggle="tooltip" data-placement="bottom"
                   title="Edit"
                   class="btn btn-default">
                    <i class="fa fa-edit"></i>
                </a>

                <button type="button"
                        class="btn delete-warning-btn"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-title="Delete"
                        data-url="{{ path('admin_series_delete',{id:post.id}) }}">
                    <i class="fas fa-trash-alt text-danger"></i>
                </button>

                {# Font Page Series #}
                {% if post.type == 4 and post.selectionSeries is null %}
                    <a class="btn btn-primary btn-sm" href="{{ path('admin_series_selection_new', {
                        id: post.id
                    }) }}">Add to Selected</a>
                {% endif %}


            </div>

        </div>

    </div>

{% endfor %}
