{% if item.post.type == 1 %}
    <img src="{{ item.post.image.thumbnail }}" alt="" width="100px" class="rounded shadow-sm">
{% else %}
    <img src="{{ item.post.cover.image.thumbnail }}" alt="" width="100px" class="rounded shadow-sm">
{% endif %}
