<div class="form-group">
    <input type="text" class="form-control"
           onClick="this.select();"
           value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/photo-of-the-day/{{ item.id }}/{{ item.urlizedDate }}">
</div>