{% if item.type == 1 %}
    <img src="{{ item.image.thumbnail }}" alt="" width="100px" class="rounded shadow-sm">
{% else %}
    <img src="{{ item.cover.image.thumbnail }}" alt="" width="100px" class="rounded shadow-sm">
{% endif %}
