{% if value == 0 %}
    <span class="text-info">New</span>
{% elseif value == 1 %}
    <span class="text-warning">For Curate</span>
{% elseif value == 2 %}
    <span class="text-danger">Rejected</span>
{% elseif value == 3 %}
    <span class="text-success">Published</span>
{% elseif value == 4 %}
    <span class="text-primary">For Sale</span>
{% endif %}
