{% if item.post.type == 1 %}
    {# SINGLE PHOTO #}

    <div class="card mb-3">

        <div class="card-header">

            <span class="h6 card-title mb-0">Photo ID #{{ item.post.id }}</span>

            {% if item.post.image.printThumbnail is not null %}

                <a class="btn btn-outline-primary ml-2 float-right" download="print"
                   href="{{ item.post.image.print | signed_link }}">
                    <i class="fa fa-cloud-download"></i> Download Print File
                </a>

                <a class="btn btn-outline-primary ml-2 float-right" target="_blank"
                   href="{{ item.post.image.print | signed_link }}">
                    <i class="fa fa-cloud-download"></i> View in browser
                </a>

            {% else %}

                <a class="btn btn-outline-primary ml-2 float-right" download="print"
                   href="{{ item.post.image.url }}">
                    <i class="fa fa-cloud-download"></i> Download Original File
                </a>

            {% endif %}

            {% if item.post.product.status < 3 %}

                <a href="{{ path('admin_approve_product', {'id': item.post.product.id}) }}"
                   class="btn btn-success float-right">
                    <i class="fa fa-thumbs-up"></i> Approve
                </a>

            {% endif %}

        </div>

        <div class="card-body">

            <div class="compare" onclick="toggle('compare-print')">

                <div class="compare-original">

                    <img src="{{ item.post.image.small }}"
                         alt=""
                         style="{{ get_compare_style(item.post.image.width, item.post.image.height) }}"
                    >

                    <span class="small text-muted">original</span>

                    <div class="compare-print" id="compare-print">

                        {% if item.post.image.printThumbnail is not null %}

                            <img src="{{ item.post.image.printThumbnail }}" alt="">

                            <span class="small text-muted">print</span>

                        {% else %}

                            <div class="no-print small text-muted">No print file available</div>

                        {% endif %}

                    </div>

                </div>

            </div>

        </div>

    </div>

{% else %}
    {# SERIES #}

    {% if item.post.product.status < 3 %}

        <a href="{{ path('admin_approve_product', {'id': item.post.product.id}) }}"
           class="btn btn-outline-success mb-3">
            <i class="fa fa-thumbs-up"></i> Approve Complete Series
        </a>

        <br>

    {% endif %}

    {% for product  in item.children %}

        <div class="card mb-3">

            <div class="card-header">

                <span class="h6 card-title mb-0">Photo ID #{{ product.post.id }}</span>

                {% if product.post.image.printThumbnail is not null %}

                    <a class="btn btn-outline-primary float-right" href="{{ product.post.image.print | signed_link }}">
                        <i class="fa fa-cloud-download"></i> Download Print File
                    </a>

                    <a class="btn btn-outline-primary mr-2 float-right" target="_blank"
                       href="{{ product.post.image.print | signed_link }}">
                        <i class="fa fa-cloud-download"></i> View in browser
                    </a>

                {% endif %}

                {% if product.post.product.status < 3 %}

                    <a href="{{ path('admin_approve_product', {'id': product.post.product.id}) }}"
                       class="btn btn-success float-right">
                        <i class="fa fa-thumbs-up"></i> Approve Photo
                    </a>

                {% endif %}

            </div>

            <div class="card-body">

                <div class="compare mb-3" onclick="toggle('compare-print')">

                    <div class="compare-original">

                        <img src="{{ product.post.image.small }}"
                             class="shadow-sm"
                             style="{{ get_compare_style(product.post.image.width, product.post.image.height) }}"
                             alt=""
                        >

                        <span class="small text-muted">original</span>

                        <div class="compare-print" id="compare-print">

                            {% if product.post.image.printThumbnail is not null %}

                                <img src="{{ product.post.image.printThumbnail }}" alt="">

                                <span class="small text-muted">print</span>

                            {% else %}

                                <div class="no-print small text-muted">No print file available</div>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

{% endif %}

<style>
    .compare-original {
        position: relative;
        cursor: pointer;
    }

    .compare-original span {
        position: absolute;
        left: 20px;
        top: 10px;
        color: white;
        mix-blend-mode: difference;
    }

    .compare-print {
        position: absolute;
        top: 0;
    }

    .no-print {
        position: absolute;
        left: 20px;
        top: 30px;
        background: darkgoldenrod;
        color: #000 !important;
        width: 130px;
        padding: .5rem;
    }
</style>

<script>
    function toggle(target) {
        $("." + target).toggle();
    }
</script>
