{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'Admin dashboard' %}
{% block page_title -%}
    Dashboard
{%- endblock %}
{% block content_header %}
    <h3 class="title">Dashboard</h3>
{% endblock %}
{% block main %}
    <div class="row">

    </div>
{% endblock %}
