{% extends '@EasyAdmin/page/content.html.twig' %}
{% set _content_title = 'Test Emails' %}

{% block page_title -%}
    Test Emails
{%- endblock %}

{% block content_header %}
    <h3 class="title">Test Emails</h3>
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <p>Emails will be sent to <strong>{{ app.user.email }}</strong></p>

                <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">

                    <a class="btn btn-light btn-lg"
                       href="{{ path('admin_email_tester_photo') }}">Photo Published</a>

                    <a class="btn btn-light btn-lg"
                       href="{{ path('admin_email_tester_series') }}">Series Published</a>

                    <a class="btn btn-light btn-lg"
                       href="{{ path('admin_email_tester_potd') }}">Photo of the Day</a>

                    <a class="btn btn-light btn-lg"
                       href="{{ path('admin_email_tester_selection_series') }}">Selection Series</a>
                </div>

            </div>

        </div>

    </div>

{% endblock %}