{% extends '@EasyAdmin/default/show.html.twig' %}


{% block main %}

    <div class="form-horizontal">

        {% set _fields_visible_by_user = fields|filter((metadata, field) => easyadmin_is_granted(metadata.permission)) %}

        {% if _fields_visible_by_user.post is defined %}

            {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, _fields_visible_by_user.post) }}

        {% endif %}

        <hr>

        {% block show_fields %}
            {% set _fields_visible_by_user = fields|filter((metadata, field) => easyadmin_is_granted(metadata.permission)) %}
            {% for field, metadata in _fields_visible_by_user %}
                {% set continue = false %}
                {% block show_field %}
                    {% if metadata.label == 'Post' %}
                        {% set continue = true %}
                    {% endif %}
                    {% if continue == false %}
                        <div class="form-group field-{{ metadata.type|default('default')|lower }} {{ metadata.css_class|default('') }}">
                            <label class="control-label">
                                {{ metadata.label|trans(_trans_parameters)|raw }}
                            </label>
                            <div class="form-widget">
                                <div class="form-control">
                                    {{ easyadmin_render_field_for_show_view(_entity_config.name, entity, metadata) }}
                                </div>

                                {% if metadata.help|default('') != '' %}
                                    <small class="form-help"><i
                                                class="fa fa-fw fa-info-circle"></i> {{ metadata.help|trans|raw }}
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>


    <section class="content-footer">
        <div class="form-actions">
            {% block item_actions %}
                {% set _show_actions = easyadmin_get_actions_for_show_item(_entity_config.name) %}
                {% set _request_parameters = app.request.query.all %}

                {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                    actions: _show_actions,
                    entity_config: _entity_config,
                    request_parameters: _request_parameters,
                    translation_domain: _entity_config.translation_domain,
                    trans_parameters: _trans_parameters,
                    item_id: _entity_id,
                    item: entity
                }, with_context = false) }}
            {% endblock item_actions %}
        </div>
    </section>


{% endblock %}
