<a
        target="_blank"
        class="btn share-btn {{ classes ?? '' }}"
        href="//pinterest.com/pin/create/button/?url={{ share_url }}&media={{ media }}&description={{ description }}">
    <i class="fab fa-pinterest-p btn-share-pinterest {{ icon_classes ?? '' }}"></i>
</a>