<a
        target="_blank"
        class="btn share-btn {{ classes ?? '' }}"
        href="https://twitter.com/intent/tweet?url={{ share_url }}">
    <i class="fab fa-twitter btn-share-twitter {{ icon_classes ?? '' }}"></i>
</a>