{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block error_title %}
    403 - Forbidden
{% endblock %}

{% block error_message %}
    Sorry! You don't have access permissions for that on
    {% include 'bundles/TwigBundle/Exception/_home_button.html.twig' %}
{% endblock %}