{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block error_title %}
    404 - Not Found
{% endblock %}

{% block error_message %}
    Sorry, we couldn't find what you're looking for on.
    {% include 'bundles/TwigBundle/Exception/_home_button.html.twig' %}
{% endblock %}
