{% extends 'base.html.twig' %}

{% block css %}
    <style>
        .error-template {
            padding: 40px 15px;
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .error-actions .btn {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block title %}Error{% endblock %}

{% block main_navigation %}{% endblock %}

{% block body %}
    <div class="col-12">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1 class="h3">Oops!</h1>
                        <h2 class="h4">{% block error_title %}Error {{ status_code }}!{% endblock %}</h2>

                        <hr>

                        <div class="error-details">
                            <strong>{% block error_message %}Sorry, an error has occured!{% endblock %}</strong>
                            <p>{% block error_info %}{% endblock %}</p>
                        </div>
                        <div class="error-actions">
                            <a href="{{ path('web_popular') }}" class="btn btn-primary btn-sm">
                                <span class="fa fa-home"></span> Take Me Home
                            </a>
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-dark btn-sm">
                                <span class="fa fa-fast-backward"></span> Go Back
                            </a>
                            <a href="{{ path('web_contacts') }}" class="btn btn-default btn-sm">
                                <span class="fa fa-envelope"></span> Contact Support
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
