{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block error_title %}
    500 - Internal Server Error
{% endblock %}

{% block error_message %}
    The web server is returning an internal error for
    {% include 'bundles/TwigBundle/Exception/_home_button.html.twig' %}
{% endblock %}