{% extends 'template.html.twig' %}

{% block title %}Favorite Photos{% endblock %}

{% block header_left %}Favorite Photos{% endblock %}

{% block main_content %}

    <div class="col-12">

        {{ react_component('InfinitePost',{rendering:'client_side',props:{mobile:is_mobile(), page: 'favorites',auth:app.user}}) }}

    </div>

{% endblock %}
