{% extends 'base.html.twig' %}

{% block title %}
    Forum
{% endblock %}

{% block body %}

    <div class="container basic-layout forums">

        <h3>Forums</h3>

        <hr>

        <div class="row">

            <div class="col-12">

                <div class="list-group">

                    {% for section in sections  %}


                        <div class="list-group-item list-group-item-action">

                            <div class="row">

                                <div class="col-1 category-image">
                                    <img src="{{ section.image }}" alt="{{ section.name }}">
                                </div>

                                <div class="col-11">

                                    <div class="d-flex w-100 justify-content-between">

                                        <h5 class="mb-1 mt-0">
                                            <a href="{{ path('web_forum_section',{slug:section.slug }) }}">
                                                {{ section.name }}
                                            </a>
                                        </h5>

                                        <div>
                                            Number of Topics:
                                            <span class="badge badge-primary badge-pill">
                                                {{ section.topics | length }}
                                            </span>
                                        </div>

                                    </div>

                                    {% set last = opinions[section.id] %}
                                    {% if last is defined and last is not null %}
                                        {% set topic =  last.topic  %}
                                        <small>Last post in <a href="{{ path('web_forum_section_opinion',{slug:topic.slug}) }}">{{topic.title }}</a> by <a
                                                    href="{{ path('web_profile',{slug:last.user.slug}) }}">{{last.user.username}}</a> ({{ last.createdAt | date  }})</small>
                                        {% else %}
                                        <small>Be the first to give opinion </small>
                                    {% endif %}

                                </div>

                            </div>

                        </div>
                    {% endfor %}

                </div>

                {% if sections | length == 0 %}
                    <div class="col-12 mt-5 pt-5">
                        <h3 class="text-muted text-center mt-5 pt-5">
                            No categories
                        </h3>
                    </div>
                {% endif %}

            </div>

            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(sections) }}
            </div>


        </div>
    </div>
{% endblock %}
