<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent pl-0">
        <li class="mr-1"><i class="fa fa-home"></i></li>

        <li class="breadcrumb-item"><a href="{{ path('web_forum') }}">Forums</a></li>

        {% if links %}
            {% for link in links %}
                <li class="breadcrumb-item">{% if link.url %}<a
                        href="{{ link.url }}">{{ link.title }}</a>{% else %}{{ link.title }}{% endif %}</li>
            {% endfor %}
        {% endif %}

    </ol>
</nav>
