{% extends 'base.html.twig' %}
{% block title %}Update opinion{% endblock %}
{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="text-center mt-5">
            <button class="btn btn-primary">Save</button>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $('#opinion_text').summernote({
            height: 300, popover: {
                image: [],
                link: [],
                air: []
            }
        });
    </script>
{% endblock %}


