{% extends 'base.html.twig' %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container basic-layout">

        <div class="row">

            <div class="col-10">
                {% include 'forum/nav.html.twig'
                    with {'links':
                    [
                        {'title':topic.section.name, 'url': path('web_forum_section',{slug:topic.section.slug})},
                        {'title':topic.title, 'url': ''},
                    ]} %}
            </div>

            <div class="col-2 text-right">
                <button type="button" class="btn btn-info mt-2" id="add-reply">Add Reply</button>
            </div>

        </div>

        <hr>

        <div class="row">

            {% for index,opinion in opinions %}

                <div class="col-12">

                    <div class="card">

                        <div class="card-body forum-reply-body">

                            <div class="row">
                                <div class="col-md-4 col-lg-2 text-center">
                                    <img class="shadow rounded-circle"
                                         src="{{ opinion.user.profile.picture ?? asset('images/avatar.jpg') }}"
                                         alt="{{ opinion.user.username }}"
                                         width="80px" height="80px">
                                    <hr class="no-gutter">
                                    <a href="{{ path('web_profile',{slug:opinion.user.slug}) }}">
                                        {{ opinion.user.profile.firstName }}
                                        {{ opinion.user.profile.lastName }}
                                    </a>
                                    <br>
                                    <small class="text-muted">
                                        {{ opinion.createdAt | date('Y-m-d H:i') }}
                                    </small>
                                </div>

                                <div class="col-md-8 col-lg-10">
                                    {{ (opinion.text | trim) | raw }}
                                </div>
                            </div>
                        </div>

                        <div class="card-footer forum-reply-footer text-muted">
                            {% if app.user %}

                                <button class="btn btn-link gray-text quote" type="button"
                                        aria-expanded="false"
                                        data-html="{{ ''~_self.opinionTemplate(opinion)~ '' | trim }}">
                                    Quote
                                </button>

                            {% endif %}

                            {% if app.user and app.user.id == opinion.user.id or is_granted('ROLE_SUPER_ADMIN') %}

                                <button data-toggle="collapse"
                                        data-target="#opinion-{{ opinion.id }}"
                                        class="btn btn-link text-warning ">
                                    Edit
                                </button>

                                {% if opinion.id != opinion.topic.opinions.first.id %}
                                    <button data-url="{{ path('web_forum_opinion_destroy',{id: opinion.id}) }}"
                                            class="btn btn-link text-danger delete-opinion"
                                            data-toggle="modal" data-target="#delete-opinion">
                                        Delete
                                    </button>
                                {% endif %}

                                <div class="collapse edit-opinion" id="opinion-{{ opinion.id }}">
                                    <div class="card card-body">
                                        <form action="{{ path('web_forum_opinion_update',{id:opinion.id}) }} "
                                              method="post">
                                            <textarea name="opinion[text]"
                                                      id="{{ 'opinion-text-' ~ opinion.id }}">
                                                {{ opinion.text }}
                                            </textarea>
                                            <div class="mt-3">
                                                <button class="btn btn-primary">Save</button>
                                            </div>
                                            <input type="hidden" name="opinion[_token]"
                                                   value="{{ csrf_token('opinion') }}">
                                        </form>
                                    </div>
                                </div>

                            {% endif %}

                        </div>

                    </div>

                    <br>

                </div>

            {% endfor %}
        </div>
    </div>

    <div class="d-flex justify-content-center basic-layout">
        {{ knp_pagination_render(opinions) }}
    </div>

    {% if app.user %}
        <div class="container">
            {{ form_start(form) }}
            <div class="d-flex">
                {{ form_label(form.text) }}
                <button type="button" class="btn text-danger d-none cancel-update" style="margin-top:-7px"
                        data-toggle="tooltip" data-title="Dismiss">
                    <i class="far fa-times-circle"></i>
                </button>
            </div>
            {{ form_widget(form.text) }}

            <hr>

            <div class="text-center mb-2">
                <button type="submit" class="btn btn-primary mb-3 ">Add Reply</button>
            </div>

            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="text-center mb-5 mt-3">
            <a href="{{ path('web_login') }}" class="custom-button shadow gradient-dark-light-blue">You have to be logged in
                                                                                                to give your opinion</a>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="modal fade" id="delete-opinion" tabindex="-1" role="dialog" aria-labelledby="delete-opinion"
             aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Are you sure you want to delete you reply?
                    </div>
                    <div class="modal-footer">
                        <form method="post" class="d-inline-block delete-opinion-form">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

    <script>
        $(function () {

            $('#opinion_text').summernote({
                height: 300, popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });

            $('#add-reply').on('click', function () {
                $('html, body').animate({scrollTop: $(document).height() - $(window).height()});
            });

            $('.quote').on('click', function () {
                $('label[for=opinion_text]').text('Quote');

                $('#opinion_text').summernote('code', $(this).data('html'));

                $('.cancel-update').removeClass('d-none');
                $('form[name=opinion]').prop('action', '');
                $('html, body').animate({scrollTop: $(document).height() - $(window).height()});
            });

            $('.cancel-update').on('click', function () {
                $('form[name=opinion]').prop('action', '');
                $('#opinion_text').summernote('code', '')
                $(this).addClass('d-none');
                $('label[for=opinion_text]').text('Reply');
            });

            $('.delete-opinion').on('click', function () {
                let url = $(this).data('url');
                $('.delete-opinion-form').prop('action', url)
            });

            {% if form.text.vars.errors | length > 0 %}
            $('html, body').delay(100).animate({scrollTop: $(document).height() - $(window).height()});
            {% endif %}
        });

        $(function () {
            let editors = $('.edit-opinion');
            editors.each(function (index, editor) {
                editor = $(editor).find('textarea');
                editor.summernote({
                    height: 300, popover: {
                        image: [],
                        link: [],
                        air: []
                    }
                });
            })
        })
    </script>
{% endblock %}

{# Do not make multiple line #}
{% macro opinionTemplate(opinion) %}<p></p><br><div class="media pt-3 pl-3 pb-3 border-left mt-5"><div class="media-body"><h6 class="mb-3"><a href="{{ path('web_profile',{slug:opinion.user.slug}) }}">{{ opinion.user.profile.firstName }}{{ opinion.user.profile.lastName }}</a></h6><div>{{ opinion.text | raw }}</div></div></div>{% endmacro %}
