{% extends 'base.html.twig' %}

{% block title %}
    {{ section.name }}
{% endblock %}

{% block body %}

    <div class="container basic-layout">

        <div class="row mt-3">
            <div class="col-10">

                {% include 'forum/nav.html.twig'
                    with {'links':
                    [
                        {'title':section.name, 'url': ''},
                    ]}
                %}

            </div>

            <div class="col-2 text-right">
                <a href="{{ path('web_forum_topic_create',{slug:section.slug}) }}"
                   class="btn btn-blue text-white">
                    Add New Topic
                </a>
            </div>

            <hr>

        </div>

        {% if topics | length > 0 %}

            <div class="table-responsive forum-topics">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Replies</th>
                        <th>Author</th>
                        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>

                    {% for topic in topics %}

                        <tr>

                            <td>

                                <a href="{{ path('web_forum_section_opinion',{slug:topic.slug}) }}">
                                    <h5>{{ topic.title }}</h5>
                                </a>

                                <div class="small text-muted">
                                    Created on: {{ topic.createdAt | date('Y-m-d H:i') }}
                                </div>

                                <div class="small">
                                    {% if topic.opinions.last %}
                                        Last reply on
                                        {{ topic.opinions.last.createdAt  | date('Y-m-d H:i') }}
                                        by
                                        <a href="{{ path('web_profile',{slug:topic.opinions.last.user.slug}) }}">
                                            {{ topic.opinions.last.user.profile.firstName }}
                                            {{ topic.opinions.last.user.profile.lastName }}
                                        </a>
                                    {% endif %}
                                </div>
                            </td>

                            <td>{{ topic.opinions | length }}</td>

                            <td>
                                <a href="{{ path('web_profile',{slug:topic.owner.slug}) }}">
                                    <img src="{{ topic.owner.profile.picture ?? asset('images/avatar.jpg') }}"
                                         alt="{{ topic.owner.profile.firstName }}" width="50px" height="50px"
                                         class="rounded-circle mb-2 shadow-sm">
                                    {{ topic.owner.profile.firstName }} {{ topic.owner.profile.lastName }}
                                </a>
                            </td>

                            {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}

                                <td>
                                    <a href="{{ path('web_forum_topic_update',{slug:topic.slug}) }}"
                                       class="text-white btn btn-success">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger delete-opinion"
                                            data-url="{{ path('web_forum_topic_delete',{slug:topic.slug}) }}"
                                            data-toggle="modal"
                                            data-target="#delete-opinion">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>

                            {% endif %}

                        </tr>

                    {% endfor %}

                    </tbody>

                </table>

            </div>

        {% else %}
            <h3 class="text-muted text-center mt-5 pt-5">
                No topics
            </h3>
        {% endif %}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(topics) }}
        </div>
        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            <div class="modal fade" id="delete-opinion" tabindex="-1" role="dialog" aria-labelledby="delete-opinion"
                 aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to delete this topic?
                        </div>
                        <div class="modal-footer">
                            <form class="d-inline-block delete-opinion-form" method="POST">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $('.delete-opinion').on('click', function () {
            let url = $(this).data('url');
            $('.delete-opinion-form').prop('action', url)
        })
    </script>
{% endblock %}
