<p></p>
<div class="media pt-3 pl-3 pb-3 border-left mt-5">
    <div class="media-body">
        <h6 class="mb-3">
            <a href="{{ path('account',{slug:opinion.user.slug}) }}">
                {{ opinion.user.profile.firstName }}
                {{ opinion.user.profile.lastName }}
            </a>

        </h6>
        <div class="text-muted float-right" style="float: right;margin: -30px 0 0 ">
            {{ opinion.createdAt | date('Y-m-d H:i') }}
        </div>
        <div>
            {{ opinion.text | raw }}
        </div>
    </div>
</div>
