{% extends 'base.html.twig' %}
{% block title %}Create topic{% endblock %}
{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}
{% block body %}

    <div class="container basic-layout">

        <h3>
            {{ update is defined and update == true ? 'Update' : 'Create new' }} topic
            <span class="float-right">
                        <a href="{{ app.session.get('topic-back-button') ?? path('web_forum') }}">
                            <i class="fas fa-times"></i>
                        </a>
            </span>
        </h3>
        <div class="text-warning">Please, write in English. Thank You!</div>

        <hr>

        <div class="default-form-layout">

            {{ form_start(form) }}

            <div class="text-danger">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title, 'Topic Title:') }}
                {{ form_widget(form.title, {attr:{class:'form-control', 'placeholder':'Topic Title'}}) }}
                {{ form_errors(form.title) }}
            </div>

            {% if form.section is defined %}
                <div class="form-group">
                    {{ form_label(form.section) }}
                    {{ form_widget(form.section,{attr:{class:'form-control'}}) }}
                    {{ form_errors(form.section) }}
                    <i class="fas fa-caret-down caret"></i>
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.opinions[0].text, 'Topic Body:') }}
                {{ form_widget(form.opinions[0].text,{attr:{class:'form-control'}}) }}
                {{ form_errors(form.opinions[0].text) }}
            </div>

            <div class="text-center">
                <button class="btn btn-blue">{{ form.vars.method == 'POST' ? 'Create' : 'Update' }}</button>
            </div>

            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

    <script>
        $(function () {

            $('#topic_opinions_0_text').summernote({
                height: 300,
                popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });
        })
    </script>
{% endblock %}


